<div class="justify-content-start">
  <h2>Job Site Safety Audit</h2>
  <div id="selectproject" *ngIf="!selectedProject && !completedAudit">
    <h3>Project list</h3>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="projectmenuselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Project
      </button>
      <ul class="dropdown-menu" style="height:55vh" aria-labelledby="projectmenuselect">
        <li *ngFor="let project of projects" (click)="onSelect(project)">
          <p *ngIf="(project.status=='OPEN' && (project.jobGroups=='1-On site daily' || project.jobGroups=='1-Planning' || project.jobGroups=='1-Punchlist'))" (click)="onSelect(project)">
            {{project.name}}
          </p>
        </li>
      </ul>
    </div>
    <br />
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="auditselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Completed Audit
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="auditselect">
          <li *ngFor="let audit of audits | orderBy: 'auditdate': true" (click)="auditSelect(audit)">
            {{audit.auditdate | date }} - {{audit.projectname}}
          </li>
        </ul>
      </button>
    </div>
  </div>
</div>
<div class="justify-content-start" id="jobsafetyreview" *ngIf="selectedProject  || completedAudit">
  <div *ngIf="selectedProject">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <button class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
        <button class="btn btn-primary" type="submit" [disabled]="!reviewForm.valid">Submit</button>
      </div>
      <div class="panel justify-content-start">
        <h4>{{selectedProject.name}}</h4><input type="hidden" id="projectName" formControlName="projectName" [(ngModel)]="selectedProject.name" [value]="" />
        <div><span>Auditor: </span>{{auditor}}</div><input type="hidden" id="auditor" formControlName="auditor" [(ngModel)]="auditor" />
        <div><span>Project Manager: </span>{{selectedProject.projectManager}}</div><input type="hidden" id="pm" formControlName="projectManager" [(ngModel)]="selectedProject.projectManager" [value]="selectedProject.projectManager" />
                                                                                   <div><span>Project Superintendent: </span><input type="text" id="superintendent" formControlName="superintendent" [(ngModel)]="selectedProject.superintendentFullName" [value]="selectedProject.superintendentFullName" /></div>
        <p></p>
      </div>
      <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
        <div id="Administration" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Administration</h5>
          <div>
            Pre-construction meeting with subcontractors re: safe work practices.<br />
            <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="yes" /> yes
            <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="no" /> no
            <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="na" /> N/A
          </div>
          <div>
            Osha poster and other warning signs posted.<br />
            <input type="radio" id="q2" formControlName="q2" [(ngModel)]="selectedProject.q2" value="yes" /> yes
            <input type="radio" id="q2" formControlName="q2" [(ngModel)]="selectedProject.q2" value="no" /> no
            <input type="radio" id="q2" formControlName="q2" [(ngModel)]="selectedProject.q2" value="na" /> N/A
          </div>
          <div>
            Emergency numbers posted (if other than 911).<br />
            <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="yes" /> yes
            <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="no" /> no
            <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="na" /> 911 is only emergency number
          </div>
          <div>
            Written safety program on site, including hazcom program.<br />
            <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="yes" /> yes
            <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="no" /> no
            <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="na" /> N/A
          </div>
          <div>
            Weekly safety meetings documented.<br />
            <input type="radio" id="q5" formControlName="q5" [(ngModel)]="selectedProject.q5" value="yes" /> yes
            <input type="radio" id="q5" formControlName="q5" [(ngModel)]="selectedProject.q5" value="no" /> no
            <input type="radio" id="q5" formControlName="q5" [(ngModel)]="selectedProject.q5" value="na" /> Less than 1 week on job
          </div>
          <div>
            SDS from all subcontractors.<br />
            <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedProject.q6" value="yes" /> yes
            <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedProject.q6" value="no" /> no
            <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedProject.q6" value="na" /> No subcontractors on job
          </div>
          <div>
            Hazardous chemical list updated for job.<br />
            <input type="radio" id="q7" formControlName="q7" [(ngModel)]="selectedProject.q7" value="yes" /> yes
            <input type="radio" id="q7" formControlName="q7" [(ngModel)]="selectedProject.q7" value="no" /> no
            <input type="radio" id="q7" formControlName="q7" [(ngModel)]="selectedProject.q7" value="na" /> N/A
          </div>
          <div>
            Competent person assigned for site.<br />
            <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedProject.q8" value="yes" /> yes
            <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedProject.q8" value="no" /> no
            <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedProject.q8" value="na" /> N/A
          </div>
        </div>
        <div id="firstaid" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>First Aid and Emergency</h5>
          <div>
            First aid kit fully stocked.<br />
            <input type="radio" id="q9" formControlName="q9" [(ngModel)]="selectedProject.q9" value="yes" /> yes
            <input type="radio" id="q9" formControlName="q9" [(ngModel)]="selectedProject.q9" value="no" /> no
            <input type="radio" id="q9" formControlName="q9" [(ngModel)]="selectedProject.q9" value="na" /> N/A
          </div>
          <div>
            Employees aware of personnel trained in first aid.<br />
            <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="yes" /> yes
            <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="no" /> no
            <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="na" /> N/A
          </div>
          <div>
            Employees aware of emergency procedures.<br />
            <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="yes" /> yes
            <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="no" /> no
            <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="na" /> N/A
          </div>
        </div>
        <div id="housekeeping" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Housekeeping</h5>
          <div>
            General neat appearance of all work areas.<br />
            <input type="radio" id="q12" formControlName="q12" [(ngModel)]="selectedProject.q12" value="yes" /> yes
            <input type="radio" id="q12" formControlName="q12" [(ngModel)]="selectedProject.q12" value="no" /> no
            <input type="radio" id="q12" formControlName="q12" [(ngModel)]="selectedProject.q12" value="na" /> N/A
          </div>
          <!--<div>
            <br />
            Attach photos<br />
            <input type="file" accept="image/*" capture="camera" id="cameraInput" name="cameraInput" (change)="onFileSelected($event)">
            <button type="button" (click)="onUpload()">Upload File</button>
          </div>-->
          <div *ngIf="selectedProject.q12==no">
            Describe<br />
            <textarea class="form-control" formControlName="q18" [(ngModel)]="selectedProject.q18" value="" rows="2" id="q18" style="width:100%"></textarea>
          </div>
          <div>
            Passageways and walkways clear.<br />
            <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedProject.q13" value="yes" /> yes
            <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedProject.q13" value="no" /> no
            <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedProject.q13" value="na" /> N/A
          </div>
          <div>
            Worksite free of projecting nails and screws.<br />
            <input type="radio" id="q14" formControlName="q14" [(ngModel)]="selectedProject.q14" value="yes" /> yes
            <input type="radio" id="q14" formControlName="q14" [(ngModel)]="selectedProject.q14" value="no" /> no
            <input type="radio" id="q14" formControlName="q14" [(ngModel)]="selectedProject.q14" value="na" /> N/A
          </div>
          <div>
            Regular site cleanup and trash disposal.<br />
            <input type="radio" id="q15" formControlName="q15" [(ngModel)]="selectedProject.q15" value="yes" /> yes
            <input type="radio" id="q15" formControlName="q15" [(ngModel)]="selectedProject.q15" value="no" /> no
            <input type="radio" id="q15" formControlName="q15" [(ngModel)]="selectedProject.q15" value="na" /> N/A
          </div>
          <div>
            Materials stored/stacked in orderly and safe manner.<br />
            <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedProject.q16" value="yes" /> yes
            <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedProject.q16" value="no" /> no
            <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedProject.q16" value="na" /> N/A
          </div>
          <div *ngIf="selectedProject.q16==no">
            describe<br />
            <textarea class="form-control" formControlName="q17" [(ngModel)]="selectedProject.q17" value="" rows="2" id="q17" style="width:100%"></textarea>
          </div>
        </div>
        <div id="Fireprevention" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Fire Prevention</h5>
          <div>
            Proper number of fire extinguishers provided and charged.<br />
            <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedProject.q19" value="yes" /> yes
            <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedProject.q19" value="no" /> no
            <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedProject.q19" value="na" /> N/A
          </div>
          <div>
            "No smoking" posted and enforced (no cigarette butts in posted areas)<br />
            <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="yes" /> yes
            <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="no" /> no
            <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="na" /> N/A
          </div>
          <div>
            Combustibles > 10 feet from building.<br />
            <input type="radio" id="q21" formControlName="q21" [(ngModel)]="selectedProject.q21" value="yes" /> yes
            <input type="radio" id="q21" formControlName="q21" [(ngModel)]="selectedProject.q21" value="no" /> no
            <input type="radio" id="q21" formControlName="q21" [(ngModel)]="selectedProject.q21" value="na" /> N/A
          </div>
          <div>
            Approved safety cans for gasoline.<br />
            <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="yes" /> yes
            <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="no" /> no
            <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="na" /> N/A
          </div>
        </div>
        <div id="electrical" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Electrical</h5>
          
          <div>
            Terminal boxes equiped with  covers.<br />
            <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedProject.q23" value="yes" /> yes
            <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedProject.q23" value="no" /> no
            <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedProject.q23" value="na" /> N/A
          </div>
          <div>
            GFCIs in place.<br />
            <input type="radio" id="q24" formControlName="q24" [(ngModel)]="selectedProject.q24" value="yes" /> yes
            <input type="radio" id="q24" formControlName="q24" [(ngModel)]="selectedProject.q24" value="no" /> no
            <input type="radio" id="q24" formControlName="q24" [(ngModel)]="selectedProject.q24" value="na" /> N/A
          </div>
          <div>
            All extension cords are 3-wire with ground pin in place and in good condition.<br />
            <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="yes" /> yes
            <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="no" /> no
            <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="na" /> N/A
          </div>
          <div>
            All electrical tools and machinery have ground pin in place on power cable.<br />
            <input type="radio" id="q26" formControlName="q26" [(ngModel)]="selectedProject.q26" value="yes" /> yes
            <input type="radio" id="q26" formControlName="q26" [(ngModel)]="selectedProject.q26" value="no" /> no
            <input type="radio" id="q26" formControlName="q26" [(ngModel)]="selectedProject.q26" value="na" /> N/A
          </div>
          <div>
            Exposed light bulbs equipped with protective cage.<br />
            <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedProject.q27" value="yes" /> yes
            <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedProject.q27" value="no" /> no
            <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedProject.q27" value="na" /> N/A
          </div>
        </div>
        <div id="tools" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Tools: Hand and Power</h5>
          <div>
            GFCI and grounded.<br />
            <input type="radio" id="q28" formControlName="q28" [(ngModel)]="selectedProject.q28" value="yes" /> yes
            <input type="radio" id="q28" formControlName="q28" [(ngModel)]="selectedProject.q28" value="no" /> no
            <input type="radio" id="q28" formControlName="q28" [(ngModel)]="selectedProject.q28" value="na" /> N/A
          </div>
          <div>
            All guards in place.<br />
            <input type="radio" id="q29" formControlName="q29" [(ngModel)]="selectedProject.q29" value="yes" /> yes
            <input type="radio" id="q29" formControlName="q29" [(ngModel)]="selectedProject.q29" value="no" /> no
            <input type="radio" id="q29" formControlName="q29" [(ngModel)]="selectedProject.q29" value="na" /> N/A
          </div>
          <div>
            Tools and cords in good condition.<br />
            <input type="radio" id="q30" formControlName="q30" [(ngModel)]="selectedProject.q30" value="yes" /> yes
            <input type="radio" id="q30" formControlName="q30" [(ngModel)]="selectedProject.q30" value="no" /> no
            <input type="radio" id="q30" formControlName="q30" [(ngModel)]="selectedProject.q30" value="na" /> N/A
          </div>
          <div>
            Inspected and maintained.<br />
            <input type="radio" id="q31" formControlName="q31" [(ngModel)]="selectedProject.q31" value="yes" /> yes
            <input type="radio" id="q31" formControlName="q31" [(ngModel)]="selectedProject.q31" value="no" /> no
            <input type="radio" id="q31" formControlName="q31" [(ngModel)]="selectedProject.q31" value="na" /> N/A
          </div>
        </div>
        <div id="stairways_ladders" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Stairways and Ladders</h5>
          <div>
            Inspected and in good condition<br />
            <input type="radio" id="q32" formControlName="q32" [(ngModel)]="selectedProject.q32" value="yes" /> yes
            <input type="radio" id="q32" formControlName="q32" [(ngModel)]="selectedProject.q32" value="no" /> no
            <input type="radio" id="q32" formControlName="q32" [(ngModel)]="selectedProject.q32" value="na" /> N/A
          </div>
          <div>
            Properly secured.<br />
            <input type="radio" id="q33" formControlName="q33" [(ngModel)]="selectedProject.q33" value="yes" /> yes
            <input type="radio" id="q33" formControlName="q33" [(ngModel)]="selectedProject.q33" value="no" /> no
            <input type="radio" id="q33" formControlName="q33" [(ngModel)]="selectedProject.q33" value="na" /> N/A
          </div>
          <div>
            Side rails extend 36" above top of landing.<br />
            <input type="radio" id="q34" formControlName="q34" [(ngModel)]="selectedProject.q34" value="yes" /> yes
            <input type="radio" id="q34" formControlName="q34" [(ngModel)]="selectedProject.q34" value="no" /> no
            <input type="radio" id="q34" formControlName="q34" [(ngModel)]="selectedProject.q34" value="na" /> N/A
          </div>
          <div>
            Ladder available for access to scaffolding.<br />
            <input type="radio" id="q35" formControlName="q35" [(ngModel)]="selectedProject.q35" value="yes" /> yes
            <input type="radio" id="q35" formControlName="q35" [(ngModel)]="selectedProject.q35" value="no" /> no
            <input type="radio" id="q35" formControlName="q35" [(ngModel)]="selectedProject.q35" value="na" /> N/A
          </div>
          <div>
            Guardrails provided for stairway landings.<br />
            <input type="radio" id="q36" formControlName="q36" [(ngModel)]="selectedProject.q36" value="yes" /> yes
            <input type="radio" id="q36" formControlName="q36" [(ngModel)]="selectedProject.q36" value="no" /> no
            <input type="radio" id="q36" formControlName="q36" [(ngModel)]="selectedProject.q36" value="na" /> N/A
          </div>
          <div>
            Handrails provided for stairways with four or more risers.<br />
            <input type="radio" id="q37" formControlName="q37" [(ngModel)]="selectedProject.q37" value="yes" /> yes
            <input type="radio" id="q37" formControlName="q37" [(ngModel)]="selectedProject.q37" value="no" /> no
            <input type="radio" id="q37" formControlName="q37" [(ngModel)]="selectedProject.q37" value="na" /> N/A
          </div>
          <div>
            Competent person periodically inspect ladders.<br />
            <input type="radio" id="q38" formControlName="q38" [(ngModel)]="selectedProject.q38" value="yes" /> yes
            <input type="radio" id="q38" formControlName="q38" [(ngModel)]="selectedProject.q38" value="no" /> no
            <input type="radio" id="q38" formControlName="q38" [(ngModel)]="selectedProject.q38" value="na" /> N/A
          </div>
          <div>
            Step ladders fully open when in use.<br />
            <input type="radio" id="q39" formControlName="q39" [(ngModel)]="selectedProject.q39" value="yes" /> yes
            <input type="radio" id="q39" formControlName="q39" [(ngModel)]="selectedProject.q39" value="no" /> no
            <input type="radio" id="q39" formControlName="q39" [(ngModel)]="selectedProject.q39" value="na" /> N/A
          </div>
        </div>
        <div id="scaffolding" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Scaffolding</h5>
          <div>
            Properly erected and supervised by competent person.<br />
            <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedProject.q40" value="yes" /> yes
            <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedProject.q40" value="no" /> no
            <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedProject.q40" value="na" /> N/A
          </div>
          <div>
            Scaffolding tied to structure.<br />
            <input type="radio" id="q41" formControlName="q41" [(ngModel)]="selectedProject.q41" value="yes" /> yes
            <input type="radio" id="q41" formControlName="q41" [(ngModel)]="selectedProject.q41" value="no" /> no
            <input type="radio" id="q41" formControlName="q41" [(ngModel)]="selectedProject.q41" value="na" /> N/A
          </div>
          <div>
            Scaffolding plumb, with cross bracing in place.<br />
            <input type="radio" id="q42" formControlName="q42" [(ngModel)]="selectedProject.q42" value="yes" /> yes
            <input type="radio" id="q42" formControlName="q42" [(ngModel)]="selectedProject.q42" value="no" /> no
            <input type="radio" id="q42" formControlName="q42" [(ngModel)]="selectedProject.q42" value="na" /> N/A
          </div>
          <div>
            Fully planked with toe boards in place.<br />
            <input type="radio" id="q43" formControlName="q43" [(ngModel)]="selectedProject.q43" value="yes" /> yes
            <input type="radio" id="q43" formControlName="q43" [(ngModel)]="selectedProject.q43" value="no" /> no
            <input type="radio" id="q43" formControlName="q43" [(ngModel)]="selectedProject.q43" value="na" /> N/A
          </div>
          <div>
            Base plates used (no cinder blocks).<br />
            <input type="radio" id="q44" formControlName="q44" [(ngModel)]="selectedProject.q44" value="yes" /> yes
            <input type="radio" id="q44" formControlName="q44" [(ngModel)]="selectedProject.q44" value="no" /> no
            <input type="radio" id="q44" formControlName="q44" [(ngModel)]="selectedProject.q44" value="na" /> N/A
          </div>
          <div>
            Ladder access provided.<br />
            <input type="radio" id="q45" formControlName="q45" [(ngModel)]="selectedProject.q45" value="yes" /> yes
            <input type="radio" id="q45" formControlName="q45" [(ngModel)]="selectedProject.q45" value="no" /> no
            <input type="radio" id="q45" formControlName="q45" [(ngModel)]="selectedProject.q45" value="na" /> N/A
          </div>
          <div>
            Employees tied off while working on elevated motorized scaffolding.<br />
            <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedProject.q46" value="yes" /> yes
            <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedProject.q46" value="no" /> no
            <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedProject.q46" value="na" /> N/A
          </div>
          <div>
            No riding on rolling scaffolding.<br />
            <input type="radio" id="q47" formControlName="q47" [(ngModel)]="selectedProject.q47" value="yes" /> yes
            <input type="radio" id="q47" formControlName="q47" [(ngModel)]="selectedProject.q47" value="no" /> no
            <input type="radio" id="q47" formControlName="q47" [(ngModel)]="selectedProject.q47" value="na" /> N/A
          </div>
        </div>
        <div id="vehicles" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Motor vehicles and heavy equipment</h5>
          <div>
            Service brakes and trailer brake connections inspected daily.<br />
            <input type="radio" id="q48" formControlName="q48" [(ngModel)]="selectedProject.q48" value="yes" /> yes
            <input type="radio" id="q48" formControlName="q48" [(ngModel)]="selectedProject.q48" value="no" /> no
            <input type="radio" id="q48" formControlName="q48" [(ngModel)]="selectedProject.q48" value="na" /> N/A
          </div>
          <div>
            Parking brake and service brake operable.<br />
            <input type="radio" id="q49" formControlName="q49" [(ngModel)]="selectedProject.q49" value="yes" /> yes
            <input type="radio" id="q49" formControlName="q49" [(ngModel)]="selectedProject.q49" value="no" /> no
            <input type="radio" id="q49" formControlName="q49" [(ngModel)]="selectedProject.q49" value="na" /> N/A
          </div>
          <div>
            Tires, horn, backup alarms, seat belts inspected.<br />
            <input type="radio" id="q50" formControlName="q50" [(ngModel)]="selectedProject.q50" value="yes" /> yes
            <input type="radio" id="q50" formControlName="q50" [(ngModel)]="selectedProject.q50" value="no" /> no
            <input type="radio" id="q50" formControlName="q50" [(ngModel)]="selectedProject.q50" value="na" /> N/A
          </div>
          <div>
            Lights, windshield wipers, defroster.<br />
            <input type="radio" id="q51" formControlName="q51" [(ngModel)]="selectedProject.q51" value="yes" /> yes
            <input type="radio" id="q51" formControlName="q51" [(ngModel)]="selectedProject.q51" value="no" /> no
            <input type="radio" id="q51" formControlName="q51" [(ngModel)]="selectedProject.q51" value="na" /> N/A
          </div>
          <div>
            Fire extinguisher in place and fully charged.<br />
            <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedProject.q52" value="yes" /> yes
            <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedProject.q52" value="no" /> no
            <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedProject.q52" value="na" /> N/A
          </div>
          <div>
            Weights and loads controlled.<br />
            <input type="radio" id="q53" formControlName="q53" [(ngModel)]="selectedProject.q53" value="yes" /> yes
            <input type="radio" id="q53" formControlName="q53" [(ngModel)]="selectedProject.q53" value="no" /> no
            <input type="radio" id="q53" formControlName="q53" [(ngModel)]="selectedProject.q53" value="na" /> N/A
          </div>
          <div>
            Personnel carried safely - seat belts provided.<br />
            <input type="radio" id="q54" formControlName="q54" [(ngModel)]="selectedProject.q54" value="yes" /> yes
            <input type="radio" id="q54" formControlName="q54" [(ngModel)]="selectedProject.q54" value="no" /> no
            <input type="radio" id="q54" formControlName="q54" [(ngModel)]="selectedProject.q54" value="na" /> N/A
          </div>
        </div>
        <div id="excavation" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Excavation</h5>
          <div>
            Shoring adequate for soil and depth.<br />
            <input type="radio" id="q55" formControlName="q55" [(ngModel)]="selectedProject.q55" value="yes" /> yes
            <input type="radio" id="q55" formControlName="q55" [(ngModel)]="selectedProject.q55" value="no" /> no
            <input type="radio" id="q55" formControlName="q55" [(ngModel)]="selectedProject.q55" value="na" /> N/A
          </div>
          <div>
            Support system in place for adjacent structures.<br />
            <input type="radio" id="q56" formControlName="q56" [(ngModel)]="selectedProject.q56" value="yes" /> yes
            <input type="radio" id="q56" formControlName="q56" [(ngModel)]="selectedProject.q56" value="no" /> no
            <input type="radio" id="q56" formControlName="q56" [(ngModel)]="selectedProject.q56" value="na" /> N/A
          </div>
          <div>
            Spoil bank and equipment sufficient distance from excavation.<br />
            <input type="radio" id="q57" formControlName="q57" [(ngModel)]="selectedProject.q57" value="yes" /> yes
            <input type="radio" id="q57" formControlName="q57" [(ngModel)]="selectedProject.q57" value="no" /> no
            <input type="radio" id="q57" formControlName="q57" [(ngModel)]="selectedProject.q57" value="na" /> N/A
          </div>
          <div>
            Ladders provided.<br />
            <input type="radio" id="q58" formControlName="q58" [(ngModel)]="selectedProject.q58" value="yes" /> yes
            <input type="radio" id="q58" formControlName="q58" [(ngModel)]="selectedProject.q58" value="no" /> no
            <input type="radio" id="q58" formControlName="q58" [(ngModel)]="selectedProject.q58" value="na" /> N/A
          </div>
          <div>
            Competent person on site.<br />
            <input type="radio" id="q59" formControlName="q59" [(ngModel)]="selectedProject.q59" value="yes" /> yes
            <input type="radio" id="q59" formControlName="q59" [(ngModel)]="selectedProject.q59" value="no" /> no
            <input type="radio" id="q59" formControlName="q59" [(ngModel)]="selectedProject.q59" value="na" /> N/A
          </div>
          <div>
            Underground utilities located prior to excavation.<br />
            <input type="radio" id="q60" formControlName="q60" [(ngModel)]="selectedProject.q60" value="yes" /> yes
            <input type="radio" id="q60" formControlName="q60" [(ngModel)]="selectedProject.q60" value="no" /> no
            <input type="radio" id="q60" formControlName="q60" [(ngModel)]="selectedProject.q60" value="na" /> N/A
          </div>
          <div>
            Air samples taken prior to entry in underground tunnel/openings.<br />
            <input type="radio" id="q61" formControlName="q61" [(ngModel)]="selectedProject.q61" value="yes" /> yes
            <input type="radio" id="q61" formControlName="q61" [(ngModel)]="selectedProject.q61" value="no" /> no
            <input type="radio" id="q61" formControlName="q61" [(ngModel)]="selectedProject.q61" value="na" /> N/A
          </div>
        </div>
        <div id="welding" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Welding and cutting</h5>
          <div>
            Screens, shield, goggles and gloves.<br />
            <input type="radio" id="q62" formControlName="q62" [(ngModel)]="selectedProject.q62" value="yes" /> yes
            <input type="radio" id="q62" formControlName="q62" [(ngModel)]="selectedProject.q62" value="no" /> no
            <input type="radio" id="q62" formControlName="q62" [(ngModel)]="selectedProject.q62" value="na" /> N/A
          </div>
          <div>
            Gas cylinder secured in upright position.<br />
            <input type="radio" id="q63" formControlName="q63" [(ngModel)]="selectedProject.q63" value="yes" /> yes
            <input type="radio" id="q63" formControlName="q63" [(ngModel)]="selectedProject.q63" value="no" /> no
            <input type="radio" id="q63" formControlName="q63" [(ngModel)]="selectedProject.q63" value="na" /> N/A
          </div>
          <div>
            Fire extinguisher.<br />
            <input type="radio" id="q64" formControlName="q64" [(ngModel)]="selectedProject.q64" value="yes" /> yes
            <input type="radio" id="q64" formControlName="q64" [(ngModel)]="selectedProject.q64" value="no" /> no
            <input type="radio" id="q64" formControlName="q64" [(ngModel)]="selectedProject.q64" value="na" /> N/A
          </div>
          <div>
            Electrical equipment grounded.<br />
            <input type="radio" id="q65" formControlName="q65" [(ngModel)]="selectedProject.q65" value="yes" /> yes
            <input type="radio" id="q65" formControlName="q65" [(ngModel)]="selectedProject.q65" value="no" /> no
            <input type="radio" id="q65" formControlName="q65" [(ngModel)]="selectedProject.q65" value="na" /> N/A
          </div>
          <div>
            Valve protection caps in place when gas not in use.<br />
            <input type="radio" id="q66" formControlName="q66" [(ngModel)]="selectedProject.q66" value="yes" /> yes
            <input type="radio" id="q66" formControlName="q66" [(ngModel)]="selectedProject.q66" value="no" /> no
            <input type="radio" id="q66" formControlName="q66" [(ngModel)]="selectedProject.q66" value="na" /> N/A
          </div>
          <div>
            Fire watch provided 30 minutes subsequent to welding near flammable/combustible materials.<br />
            <input type="radio" id="q67" formControlName="q67" [(ngModel)]="selectedProject.q67" value="yes" /> yes
            <input type="radio" id="q67" formControlName="q67" [(ngModel)]="selectedProject.q67" value="no" /> no
            <input type="radio" id="q67" formControlName="q67" [(ngModel)]="selectedProject.q67" value="na" /> N/A
          </div>
        </div>
        <div id="concrete" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Concrete and Masonry</h5>
          <div>
            Proper scaffolding<br />
            <input type="radio" id="q68" formControlName="q68" [(ngModel)]="selectedProject.q68" value="yes" /> yes
            <input type="radio" id="q68" formControlName="q68" [(ngModel)]="selectedProject.q68" value="no" /> no
            <input type="radio" id="q68" formControlName="q68" [(ngModel)]="selectedProject.q68" value="na" /> N/A
          </div>
          <div>
            Safe hoisting equipment.<br />
            <input type="radio" id="q69" formControlName="q69" [(ngModel)]="selectedProject.q69" value="yes" /> yes
            <input type="radio" id="q69" formControlName="q69" [(ngModel)]="selectedProject.q69" value="no" /> no
            <input type="radio" id="q69" formControlName="q69" [(ngModel)]="selectedProject.q69" value="na" /> N/A
          </div>
          <div>
            Masonry walls over 8 ft braced.<br />
            <input type="radio" id="q70" formControlName="q70" [(ngModel)]="selectedProject.q70" value="yes" /> yes
            <input type="radio" id="q70" formControlName="q70" [(ngModel)]="selectedProject.q70" value="no" /> no
            <input type="radio" id="q70" formControlName="q70" [(ngModel)]="selectedProject.q70" value="na" /> N/A
          </div>
          <div>
            Proper fall protection used.<br />
            <input type="radio" id="q71" formControlName="q71" [(ngModel)]="selectedProject.q71" value="yes" /> yes
            <input type="radio" id="q71" formControlName="q71" [(ngModel)]="selectedProject.q71" value="no" /> no
            <input type="radio" id="q71" formControlName="q71" [(ngModel)]="selectedProject.q71" value="na" /> N/A
          </div>
          <div>
            Guard rails on all open floors.<br />
            <input type="radio" id="q72" formControlName="q72" [(ngModel)]="selectedProject.q72" value="yes" /> yes
            <input type="radio" id="q72" formControlName="q72" [(ngModel)]="selectedProject.q72" value="no" /> no
            <input type="radio" id="q72" formControlName="q72" [(ngModel)]="selectedProject.q72" value="na" /> N/A
          </div>
          <div>
            All protruded rebar guarded.<br />
            <input type="radio" id="q73" formControlName="q73" [(ngModel)]="selectedProject.q73" value="yes" /> yes
            <input type="radio" id="q73" formControlName="q73" [(ngModel)]="selectedProject.q73" value="no" /> no
            <input type="radio" id="q73" formControlName="q73" [(ngModel)]="selectedProject.q73" value="na" /> N/A
          </div>
          <div>
            Hard hats and safety shoes<br />
            <input type="radio" id="q74" formControlName="q74" [(ngModel)]="selectedProject.q74" value="yes" /> yes
            <input type="radio" id="q74" formControlName="q74" [(ngModel)]="selectedProject.q74" value="no" /> no
            <input type="radio" id="q74" formControlName="q74" [(ngModel)]="selectedProject.q74" value="na" /> N/A
          </div>
        </div>
        <div id="highway_workzone" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Highway Work Zone</h5>
          <div>
            Competent flagmen - reflective garments, instructed, posted.<br />
            <input type="radio" id="q75" formControlName="q75" [(ngModel)]="selectedProject.q75" value="yes" /> yes
            <input type="radio" id="q75" formControlName="q75" [(ngModel)]="selectedProject.q75" value="no" /> no
            <input type="radio" id="q75" formControlName="q75" [(ngModel)]="selectedProject.q75" value="na" /> N/A
          </div>
          <div>
            Adequate warning signs and markers.<br />
            <input type="radio" id="q76" formControlName="q76" [(ngModel)]="selectedProject.q76" value="yes" /> yes
            <input type="radio" id="q76" formControlName="q76" [(ngModel)]="selectedProject.q76" value="no" /> no
            <input type="radio" id="q76" formControlName="q76" [(ngModel)]="selectedProject.q76" value="na" /> N/A
          </div>
          <div>
            Traffic control through construction area.<br />
            <input type="radio" id="q77" formControlName="q77" [(ngModel)]="selectedProject.q77" value="yes" /> yes
            <input type="radio" id="q77" formControlName="q77" [(ngModel)]="selectedProject.q77" value="no" /> no
            <input type="radio" id="q77" formControlName="q77" [(ngModel)]="selectedProject.q77" value="na" /> N/A
          </div>
          <div>
            Dust control.<br />
            <input type="radio" id="q78" formControlName="q78" [(ngModel)]="selectedProject.q78" value="yes" /> yes
            <input type="radio" id="q78" formControlName="q78" [(ngModel)]="selectedProject.q78" value="no" /> no
            <input type="radio" id="q78" formControlName="q78" [(ngModel)]="selectedProject.q78" value="na" /> N/A
          </div>
          <div>
            Work zone of heavy equipment protected from pedestrians and other traffic.<br />
            <input type="radio" id="q79" formControlName="q79" [(ngModel)]="selectedProject.q79" value="yes" /> yes
            <input type="radio" id="q79" formControlName="q79" [(ngModel)]="selectedProject.q79" value="no" /> no
            <input type="radio" id="q79" formControlName="q79" [(ngModel)]="selectedProject.q79" value="na" /> N/A
          </div>
          <div>
            Equipment inspected daily.<br />
            <input type="radio" id="q80" formControlName="q80" [(ngModel)]="selectedProject.q80" value="yes" /> yes
            <input type="radio" id="q80" formControlName="q80" [(ngModel)]="selectedProject.q80" value="no" /> no
            <input type="radio" id="q80" formControlName="q80" [(ngModel)]="selectedProject.q80" value="na" /> N/A
          </div>
          <div>
            Backup alarms and horns operational.<br />
            <input type="radio" id="q81" formControlName="q81" [(ngModel)]="selectedProject.q81" value="yes" /> yes
            <input type="radio" id="q81" formControlName="q81" [(ngModel)]="selectedProject.q81" value="no" /> no
            <input type="radio" id="q81" formControlName="q81" [(ngModel)]="selectedProject.q81" value="na" /> N/A
          </div>
          <div>
            Proper lighting.<br />
            <input type="radio" id="q82" formControlName="q82" [(ngModel)]="selectedProject.q82" value="yes" /> yes
            <input type="radio" id="q82" formControlName="q82" [(ngModel)]="selectedProject.q82" value="no" /> no
            <input type="radio" id="q82" formControlName="q82" [(ngModel)]="selectedProject.q82" value="na" /> N/A
          </div>
        </div>
        <div id="fallprotection" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Fall Protection</h5>
          <div>
            Floor openings.<br />
            <input type="radio" id="q83" formControlName="q83" [(ngModel)]="selectedProject.q83" value="yes" /> yes
            <input type="radio" id="q83" formControlName="q83" [(ngModel)]="selectedProject.q83" value="no" /> no
            <input type="radio" id="q83" formControlName="q83" [(ngModel)]="selectedProject.q83" value="na" /> N/A
          </div>
          <div>
            Guardrails in place/replaced after each load received.<br />
            <input type="radio" id="q84" formControlName="q84" [(ngModel)]="selectedProject.q84" value="yes" /> yes
            <input type="radio" id="q84" formControlName="q84" [(ngModel)]="selectedProject.q84" value="no" /> no
            <input type="radio" id="q84" formControlName="q84" [(ngModel)]="selectedProject.q84" value="na" /> N/A
          </div>
          <div>
            Safety harness provided and used.<br />
            <input type="radio" id="q85" formControlName="q85" [(ngModel)]="selectedProject.q85" value="yes" /> yes
            <input type="radio" id="q85" formControlName="q85" [(ngModel)]="selectedProject.q85" value="no" /> no
            <input type="radio" id="q85" formControlName="q85" [(ngModel)]="selectedProject.q85" value="na" /> N/A
          </div>
          <div>
            Floor holes protected/secured/marked.<br />
            <input type="radio" id="q86" formControlName="q86" [(ngModel)]="selectedProject.q86" value="yes" /> yes
            <input type="radio" id="q86" formControlName="q86" [(ngModel)]="selectedProject.q86" value="no" /> no
            <input type="radio" id="q86" formControlName="q86" [(ngModel)]="selectedProject.q86" value="na" /> N/A
          </div>
          <div>
            Wall openings guarded.<br />
            <input type="radio" id="q87" formControlName="q87" [(ngModel)]="selectedProject.q87" value="yes" /> yes
            <input type="radio" id="q87" formControlName="q87" [(ngModel)]="selectedProject.q87" value="no" /> no
            <input type="radio" id="q87" formControlName="q87" [(ngModel)]="selectedProject.q87" value="na" /> N/A
          </div>
        </div>
        <div id="general" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>General</h5>
          <div>
            Hard hats.<br />
            <input type="radio" id="q88" formControlName="q88" [(ngModel)]="selectedProject.q88" value="yes" /> yes
            <input type="radio" id="q88" formControlName="q88" [(ngModel)]="selectedProject.q88" value="no" /> no
            <input type="radio" id="q88" formControlName="q88" [(ngModel)]="selectedProject.q88" value="na" /> N/A
          </div>
          <div>
            Proper footwear.<br />
            <input type="radio" id="q89" formControlName="q89" [(ngModel)]="selectedProject.q89" value="yes" /> yes
            <input type="radio" id="q89" formControlName="q89" [(ngModel)]="selectedProject.q89" value="no" /> no
            <input type="radio" id="q89" formControlName="q89" [(ngModel)]="selectedProject.q89" value="na" /> N/A
          </div>
          <div>
            Hearing protection.<br />
            <input type="radio" id="q94" formControlName="q94" [(ngModel)]="selectedProject.q94" value="yes" /> yes
            <input type="radio" id="q94" formControlName="q94" [(ngModel)]="selectedProject.q94" value="no" /> no
            <input type="radio" id="q94" formControlName="q94" [(ngModel)]="selectedProject.q94" value="na" /> N/A
          </div>
          <div>
            Eye protection.<br />
            <input type="radio" id="q90" formControlName="q90" [(ngModel)]="selectedProject.q90" value="yes" /> yes
            <input type="radio" id="q90" formControlName="q90" [(ngModel)]="selectedProject.q90" value="no" /> no
            <input type="radio" id="q90" formControlName="q90" [(ngModel)]="selectedProject.q90" value="na" /> N/A
          </div>
          <div>
            Potable water.<br />
            <input type="radio" id="q91" formControlName="q91" [(ngModel)]="selectedProject.q91" value="yes" /> yes
            <input type="radio" id="q91" formControlName="q91" [(ngModel)]="selectedProject.q91" value="no" /> no
            <input type="radio" id="q91" formControlName="q91" [(ngModel)]="selectedProject.q91" value="na" /> N/A
          </div>
          <div>
            Unusual exposures identified and controlled.<br />
            <input type="radio" id="q92" formControlName="q92" [(ngModel)]="selectedProject.q92" value="yes" /> yes
            <input type="radio" id="q92" formControlName="q92" [(ngModel)]="selectedProject.q92" value="no" /> no
            <input type="radio" id="q92" formControlName="q92" [(ngModel)]="selectedProject.q92" value="na" /> N/A
          </div>
          <div>
            Notes.<br />
            <textarea class="form-control" formControlName="q93" [(ngModel)]="selectedProject.q93" [value]="" rows="4" id="q93" style="width:100%"></textarea>
          </div>
        </div>
        <!--<div id="signature">
          Superintendent Signature<br />
          <div class="form-group" style="border:solid; border-width:thin; height:25vh;">
            <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
          </div>
          <br />
          <button (click)="Clear()">Clear</button>
        </div>-->
      </div>
    </form>
  </div>
  <div class="justify-content-start" id="completedsafetyaudit" *ngIf="completedAudit">
      <div class="panel">
        <button class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
        <!--<button class="btn btn-primary" type="submit" [disabled]="!reviewForm.valid">Submit</button>-->
      </div>
      <div class="panel justify-content-start">
        <h4>{{completedAudit.projectname}}</h4>
        <div><span>Audit Date: {{completedAudit.auditdate | date}}</span></div>
        <div><span>Auditor: </span>{{completedAudit.auditor}} </div>
        <div><span>Project Manager: </span>{{completedAudit.projectmanager}}</div>
        <div><span>Project Superintendent: </span>{{completedAudit.superintendent}}</div>
        <p></p>
      </div>
      <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
        <div id="Administration" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Administration</h5>
          <div *ngIf="completedAudit.q1 != 'na' ">
            Pre-construction meeting with subcontractors re: safe work practices.<br />
            <b>{{completedAudit.q1}}</b>
          </div>
          <div *ngIf="completedAudit.q2 != 'na' ">
            Osha poster and other warning signs posted.<br />
            <b>{{completedAudit.q2}}</b>
          </div>
          <div *ngIf="completedAudit.q3 != 'na' ">
            Emergency numbers posted (if other than 911).<br />
            <b>{{completedAudit.q3}}</b>
          </div>
          <div *ngIf="completedAudit.q4 != 'na' ">
            Written safety program on site, including hazcom program.<br />
            <b>{{completedAudit.q4}}</b>
          </div>
          <div *ngIf="completedAudit.q5 != 'na' ">
            Weekly safety meetings documented.<br />
            <b>{{completedAudit.q5}}</b>
          </div>
          <div *ngIf="completedAudit.q6 != 'na' ">
            SDS from all subcontractors.<br />
            <b>{{completedAudit.q6}}</b>
          </div>
          <div *ngIf="completedAudit.q7 != 'na' ">
            Hazardous chemical list updated for job.<br />
            <b>{{completedAudit.q7}}</b>
          </div>
          <div *ngIf="completedAudit.q8 != 'na' ">
            Competent person assigned for site.<br />
            <b>{{completedAudit.q8}}</b>
          </div>
        </div>
        <div id="firstaid" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>First Aid and Emergency</h5>
          <div *ngIf="completedAudit.q9 != 'na' ">
            First aid kit fully stocked.<br />
            <b>{{completedAudit.q9}}</b>
          </div>
          <div *ngIf="completedAudit.q10 != 'na' ">
            Employees aware of personnel trained in first aid.<br />
            <b>{{completedAudit.q10}}</b>
          </div>
          <div *ngIf="completedAudit.q11 != 'na' ">
            Employees aware of emergency procedures.<br />
            <b>{{completedAudit.q11}}</b>
          </div>
        </div>
        <div id="housekeeping" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Housekeeping</h5>
          <div *ngIf="completedAudit.q12 != 'na' ">
            General neat appearance of all work areas.<br />
            <b>{{completedAudit.q12}}</b>
          </div>
          <div *ngIf="completedAudit.q12==no">
            Describe<br />
            <b>{{completedAudit.q18}}</b>
          </div>
          <div *ngIf="completedAudit.q13 != 'na' ">
            Passageways and walkways clear.<br />
            <b>{{completedAudit.q13}}</b>
          </div>
          <div *ngIf="completedAudit.q14 != 'na' ">
            Worksite free of projecting nails and screws.<br />
            <b>{{completedAudit.q14}}</b>
          </div>
          <div *ngIf="completedAudit.q15 != 'na' ">
            Regular site cleanup and trash disposal.<br />
            <b>{{completedAudit.q15}}</b>
          </div>
          <div *ngIf="completedAudit.q16 != 'na' ">
            Materials stored/stacked in orderly and safe manner.<br />
            <b>{{completedAudit.q16}}</b>
          </div>
          <div *ngIf="completedAudit.q16==no">
            describe<br />
            <b>{{completedAudit.q17}}</b>
          </div>
        </div>
        <div id="Fireprevention" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Fire Prevention</h5>
          <div *ngIf="completedAudit.q19 != 'na' ">
            Proper number of fire extinguishers provided and charged.<br />
            <b>{{completedAudit.q19}}</b>
          </div>
          <div *ngIf="completedAudit.q20 != 'na' ">
            "No smoking" posted and enforced (no cigarette butts in posted areas)<br />
            <b>{{completedAudit.q20}}</b>
          </div>
          <div *ngIf="completedAudit.q21 != 'na' ">
            Combustibles > 10 feet from building.<br />
            <b>{{completedAudit.q21}}</b>
          </div>
          <div *ngIf="completedAudit.q22 != 'na' ">
            Approved safety cans for gasoline.<br />
            <b>{{completedAudit.q22}}</b>
          </div>
        </div>
        <div id="electrical" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Electrical</h5>
          <div *ngIf="completedAudit.q23 != 'na' ">
            Terminal boxes equiped with  covers.<br />
            <b>{{completedAudit.q23}}</b>
          </div>
          <div *ngIf="completedAudit.q24 != 'na' ">
            GFCIs in place.<br />
            <b>{{completedAudit.q24}}</b>
          </div>
          <div *ngIf="completedAudit.q25 != 'na' ">
            All extension cords are 3-wire with ground pin in place and in good condition.<br />
            <b>{{completedAudit.q25}}</b>
          </div>
          <div *ngIf="completedAudit.q26 != 'na' ">
            All electrical tools and machinery have ground pin in place on power cable.<br />
            <b>{{completedAudit.q26}}</b>
          </div>
          <div *ngIf="completedAudit.q27 != 'na' ">
            Exposed light bulbs equipped with protective cage.<br />
            <b>{{completedAudit.q27}}</b>
          </div>
        </div>
        <div id="tools" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Tools: Hand and Power</h5>
          <div *ngIf="completedAudit.q28 != 'na' ">
            GFCI and grounded.<br />
            <b>{{completedAudit.q28}}</b>
          </div>
          <div *ngIf="completedAudit.q29 != 'na' ">
            All guards in place.<br />
            <b>{{completedAudit.q29}}</b>
          </div>
          <div *ngIf="completedAudit.q30 != 'na' ">
            Tools and cords in good condition.<br />
            <b>{{completedAudit.q30}}</b>
          </div>
          <div *ngIf="completedAudit.q31 != 'na' ">
            Inspected and maintained.<br />
            <b>{{completedAudit.q31}}</b>
          </div>
        </div>
        <div id="stairways_ladders" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Stairways and Ladders</h5>
          <div *ngIf="completedAudit.q32 != 'na' ">
            Inspected and in good condition<br />
            <b>{{completedAudit.q32}}</b>
          </div>
          <div *ngIf="completedAudit.q33 != 'na' ">
            Properly secured.<br />
            <b>{{completedAudit.q33}}</b>
          </div>
          <div *ngIf="completedAudit.q34 != 'na' ">
            Side rails extend 36" above top of landing.<br />
            <b>{{completedAudit.q34}}</b>
          </div>
          <div *ngIf="completedAudit.q35 != 'na' ">
            Ladder available for access to scaffolding.<br />
            <b>{{completedAudit.q35}}</b>
          </div>
          <div *ngIf="completedAudit.q36 != 'na' ">
            Guardrails provided for stairway landings.<br />
            <b>{{completedAudit.q36}}</b>
          </div>
          <div *ngIf="completedAudit.q37 != 'na' ">
            Handrails provided for stairways with four or more risers.<br />
            <b>{{completedAudit.q37}}</b>
          </div>
          <div *ngIf="completedAudit.q38 != 'na' ">
            Competent person periodically inspect ladders.<br />
            <b>{{completedAudit.q38}}</b>
          </div>
          <div *ngIf="completedAudit.q39 != 'na' ">
            Step ladders fully open when in use.<br />
            <b>{{completedAudit.q39}}</b>
          </div>
        </div>
        <div id="scaffolding" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Scaffolding</h5>
          <div *ngIf="completedAudit.q40 != 'na' ">
            Properly erected and supervised by competent person.<br />
            <b>{{completedAudit.q40}}</b>
          </div>
          <div *ngIf="completedAudit.q41 != 'na' ">
            Scaffolding tied to structure.<br />
            <b>{{completedAudit.q41}}</b>
          </div>
          <div *ngIf="completedAudit.q42 != 'na' ">
            Scaffolding plumb, with cross bracing in place.<br />
            <b>{{completedAudit.q42}}</b>
          </div>
          <div *ngIf="completedAudit.q43 != 'na' ">
            Fully planked with toe boards in place.<br />
            <b>{{completedAudit.q43}}</b>
          </div>
          <div *ngIf="completedAudit.q44 != 'na' ">
            Base plates used (no cinder blocks).<br />
            <b>{{completedAudit.q44}}</b>
          </div>
          <div *ngIf="completedAudit.q45 != 'na' ">
            Ladder access provided.<br />
            <b>{{completedAudit.q45}}</b>
          </div>
          <div *ngIf="completedAudit.q46 != 'na' ">
            Employees tied off while working on elevated motorized scaffolding.<br />
            <b>{{completedAudit.q46}}</b>
          </div>
          <div *ngIf="completedAudit.q47 != 'na' ">
            No riding on rolling scaffolding.<br />
            <b>{{completedAudit.q47}}</b>
          </div>
        </div>
        <div id="vehicles" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Motor vehicles and heavy equipment</h5>
          <div *ngIf="completedAudit.q48 != 'na' ">
            Service brakes and trailer brake connections inspected daily.<br />
            <b>{{completedAudit.q48}}</b>
          </div>
          <div *ngIf="completedAudit.q49 != 'na' ">
            Parking brake and service brake operable.<br />
            <b>{{completedAudit.q49}}</b>
          </div>
          <div *ngIf="completedAudit.q50 != 'na' ">
            Tires, horn, backup alarms, seat belts inspected.<br />
            <b>{{completedAudit.q50}}</b>
          </div>
          <div *ngIf="completedAudit.q51 != 'na' ">
            Lights, windshield wipers, defroster.<br />
            <b>{{completedAudit.q51}}</b>
          </div>
          <div *ngIf="completedAudit.q52 != 'na' ">
            Fire extinguisher in place and fully charged.<br />
            <b>{{completedAudit.q52}}</b>
          </div>
          <div *ngIf="completedAudit.q53 != 'na' ">
            Weights and loads controlled.<br />
            <b>{{completedAudit.q53}}</b>
          </div>
          <div *ngIf="completedAudit.q54 != 'na' ">
            Personnel carried safely - seat belts provided.<br />
            <b>{{completedAudit.q54}}</b>
          </div>
        </div>
        <div id="excavation" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Excavation</h5>
          <div *ngIf="completedAudit.q55 != 'na' ">
            Shoring adequate for soil and depth.<br />
            <b>{{completedAudit.q55}}</b>
          </div>
          <div *ngIf="completedAudit.q56 != 'na' ">
            Support system in place for adjacent structures.<br />
            <b>{{completedAudit.q56}}</b>
          </div>
          <div *ngIf="completedAudit.q57 != 'na' ">
            Spoil bank and equipment sufficient distance from excavation.<br />
            <b>{{completedAudit.q57}}</b>
          </div>
          <div *ngIf="completedAudit.q58 != 'na' ">
            Ladders provided.<br />
            <b>{{completedAudit.q58}}</b>
          </div>
          <div *ngIf="completedAudit.q59 != 'na' ">
            Competent person on site.<br />
            <b>{{completedAudit.q59}}</b>
          </div>
          <div *ngIf="completedAudit.q60 != 'na' ">
            Underground utilities located prior to excavation.<br />
            <b>{{completedAudit.q60}}</b>
          </div>
          <div *ngIf="completedAudit.q61 != 'na' ">
            Air samples taken prior to entry in underground tunnel/openings.<br />
            <b>{{completedAudit.q61}}</b>
          </div>
        </div>
        <div id="welding" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Welding and cutting</h5>
          <div *ngIf="completedAudit.q62 != 'na' ">
            Screens, shield, goggles and gloves.<br />
            <b>{{completedAudit.q62}}</b>
          </div>
          <div *ngIf="completedAudit.q63 != 'na' ">
            Gas cylinder secured in upright position.<br />
            <b>{{completedAudit.q63}}</b>
          </div>
          <div *ngIf="completedAudit.q64 != 'na' ">
            Fire extinguisher.<br />
            <b>{{completedAudit.q64}}</b>
          </div>
          <div *ngIf="completedAudit.q65 != 'na' ">
            Electrical equipment grounded.<br />
            <b>{{completedAudit.q65}}</b>
          </div>
          <div *ngIf="completedAudit.q66 != 'na' ">
            Valve protection caps in place when gas not in use.<br />
            <b>{{completedAudit.q66}}</b>
          </div>
          <div *ngIf="completedAudit.q67 != 'na' ">
            Fire watch provided 30 minutes subsequent to welding near flammable/combustible materials.<br />
            <b>{{completedAudit.q67}}</b>
          </div>
        </div>
        <div id="concrete" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Concrete and Masonry</h5>
          <div *ngIf="completedAudit.q68 != 'na' ">
            Proper scaffolding<br />
            <b>{{completedAudit.q68}}</b>
          </div>
          <div *ngIf="completedAudit.q69 != 'na' ">
            Safe hoisting equipment.<br />
            <b>{{completedAudit.q69}}</b>
          </div>
          <div *ngIf="completedAudit.q70 != 'na' ">
            Masonry walls over 8 ft braced.<br />
            <b>{{completedAudit.q70}}</b>
          </div>
          <div *ngIf="completedAudit.q71 != 'na' ">
            Proper fall protection used.<br />
            <b>{{completedAudit.q71}}</b>
          </div>
          <div *ngIf="completedAudit.q72 != 'na' ">
            Guard rails on all open floors.<br />
            <b>{{completedAudit.q72}}</b>
          </div>
          <div *ngIf="completedAudit.q73 != 'na' ">
            All protruded rebar guarded.<br />
            <b>{{completedAudit.q73}}</b>
          </div>
          <div *ngIf="completedAudit.q74 != 'na' ">
            Hard hats and safety shoes<br />
            <b>{{completedAudit.q74}}</b>
          </div>
        </div>
        <div id="highway_workzone" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Highway Work Zone</h5>
          <div *ngIf="completedAudit.q75 != 'na' ">
            Competent flagmen - reflective garments, instructed, posted.<br />
            <b>{{completedAudit.q75}}</b>
          </div>
          <div *ngIf="completedAudit.q76 != 'na' ">
            Adequate warning signs and markers.<br />
            <b>{{completedAudit.q76}}</b>
          </div>
          <div *ngIf="completedAudit.q77 != 'na' ">
            Traffic control through construction area.<br />
            <b>{{completedAudit.q77}}</b>
          </div>
          <div *ngIf="completedAudit.q78 != 'na' ">
            Dust control.<br />
            <b>{{completedAudit.q78}}</b>
          </div>
          <div *ngIf="completedAudit.q79 != 'na' ">
            Work zone of heavy equipment protected from pedestrians and other traffic.<br />
            <b>{{completedAudit.q79}}</b>
          </div>
          <div *ngIf="completedAudit.q80 != 'na' ">
            Equipment inspected daily.<br />
            <b>{{completedAudit.q80}}</b>
          </div>
          <div *ngIf="completedAudit.q81 != 'na' ">
            Backup alarms and horns operational.<br />
            <b>{{completedAudit.q81}}</b>
          </div>
          <div *ngIf="completedAudit.q82 != 'na' ">
            Proper lighting.<br />
            <b>{{completedAudit.q82}}</b>
          </div>
        </div>
        <div id="fallprotection" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>Fall Protection</h5>
          <div *ngIf="completedAudit.q83 != 'na' ">
            Floor openings.<br />
            <b>{{completedAudit.q83}}</b>
          </div>
          <div *ngIf="completedAudit.q84 != 'na' ">
            Guardrails in place/replaced after each load received.<br />
            <b>{{completedAudit.q84}}</b>
          </div>
          <div *ngIf="completedAudit.q85 != 'na' ">
            Safety harness provided and used.<br />
            <b>{{completedAudit.q85}}</b>
          </div>
          <div *ngIf="completedAudit.q86 != 'na' ">
            Floor holes protected/secured/marked.<br />
            <b>{{completedAudit.q86}}</b>
          </div>
          <div *ngIf="completedAudit.q87 != 'na' ">
            Wall openings guarded.<br />
            <b>{{completedAudit.q87}}</b>
          </div>
        </div>
        <div id="general" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
          <h5>General</h5>
          <div *ngIf="completedAudit.q88 != 'na' ">
            Hard hats.<br />
            <b>{{completedAudit.q88}}</b>
          </div>
          <div *ngIf="completedAudit.q89 != 'na' ">
            Proper footwear.<br />
            <b>{{completedAudit.q89}}</b>
          </div>
          <div *ngIf="completedAudit.q94 != 'na' ">
            Hearing protection.<br />
            <b>{{completedAudit.q94}}</b>
          </div>
          <div *ngIf="completedAudit.q90 != 'na' ">
            Eye protection.<br />
            <b>{{completedAudit.q90}}</b>
          </div>
          <div *ngIf="completedAudit.q91 != 'na' ">
            Potable water.<br />
            <b>{{completedAudit.q91}}</b>
          </div>
          <div *ngIf="completedAudit.q92 != 'na' ">
            Unusual exposures identified and controlled.<br />
            <b>{{completedAudit.q92}}</b>
          </div>
          <div *ngIf="completedAudit.q93 != 'na' ">
            Notes.<br />
            <b>{{completedAudit.q93}}</b>
          </div>
        </div>
      </div>
  </div>
</div>
