<div class="justify-content-start">
  <h2>P&C Vehicle Services</h2>
  <div id="selectcategory">
    <div class="justify-content-start" id="category" *ngIf="!selectedType">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="categoryselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Equipment Type</button>
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="categoryselect">
          <li *ngFor="let type of types">
            <p (click)="onSelect(type)">{{type}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Record new service -->
  <div id="record" *ngIf="selectedType == 'Record Service'">
    <h4>Record new service</h4>
    <div class="panel-group">
      <form [formGroup]="serviceForm">
        <button class="btn btn-primary" (click)="submitService(vehicle)">Submit</button>
        <button class="btn btn-danger" (click)="reset()">Reset</button>
        <div class="panel-group justify-content-start">
          Vin Lookup (may be full vin or partial)<br />
          <input list="service1" formControlName="serialNum" />
          <datalist id="service1">
            <option *ngFor="let truck of trucks" [value]="truck.serialNum"></option>
          </datalist>

        </div>
      </form>
    </div>
  </div>

</div>

