<div class="justify-content-start">
  <h2>Job Superintendents's End of Project Review</h2>
  <div id="selectproject" *ngIf="!selectedSuptproject">
    <h3>Project list</h3>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="projectmenuselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Project
      </button>
      <ul class="dropdown-menu" style="height:55vh" aria-labelledby="projectmenuselect">
        <li *ngFor="let project of projects" (click)="onSelect(project)">
          <p *ngIf="(project.status=='OPEN')" (click)="onSelect(project)">
            {{project.name}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="justify-content-start" id="projectreview" *ngIf="selectedSuptproject">
  <form [formGroup]="suptreviewForm" (ngSubmit)="onSubmit()">
    <div class="panel">
      <button class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
      <button class="btn btn-primary" type="submit" [disabled]="!suptreviewForm.valid">Submit</button>
    </div>
    <div class="panel justify-content-start">
      <h4>{{selectedSuptproject.name}}</h4><input type="hidden" id="projectName" formControlName="projectName" [(ngModel)]="selectedSuptproject.name" [value]="" />
      <div><span>Project Manager: </span>{{selectedSuptproject.projectManager}}</div><input type="hidden" id="reviewer" formControlName="reviewer" [(ngModel)]="selectedSuptproject.projectManager" [value]="" />
      <div><span>Project Superintendent: </span>{{selectedSuptproject.superintendentFullName}}</div><input type="hidden" id="reviewed" formControlName="reviewed" [(ngModel)]="selectedSuptproject.superintendentFullName" [value]="" />
      <p></p>
    </div>
    <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
      <div id="schedulefeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Did you have a schedule when the project started?<br />
          <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedSuptproject.q1" [value]="true" (click)="clear_q1a()" required /> yes
          <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedSuptproject.q1" [value]="false" (click)="clear_q1b()" required /> no
        </div>
        <div *ngIf="selectedSuptproject.q1==false">
          Did you get a schedule at all?<br />
          <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedSuptproject.q4" [value]="true" (click)="clear_q4a()"/> yes
          <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedSuptproject.q4" [value]="false" (click)="clear_q4b()" /> no
        </div>
        <div *ngIf="selectedSuptproject.q1==true">
          Was the schedule realistic and achievable?<br />
          <input type="radio" id="q2" formControlName="q2" [(ngModel)]="selectedSuptproject.q2" [value]="true" [required]="selectedSuptproject.q1" (click)="clear_q2a()"/> yes
          <input type="radio" id="q2" formControlName="q2" [(ngModel)]="selectedSuptproject.q2" [value]="false" [required]="selectedSuptproject.q1" (click)="clear_q2b()"/> no
        </div>
        <div *ngIf="selectedSuptproject.q2==false && selectedSuptproject.q1">
          Describe.
          <textarea class="form-control" formControlName="q3" rows="2" id="q3" style="width:100%"></textarea>
        </div>

        <div *ngIf="selectedSuptproject.q1==false && selectedSuptproject.q4==false">
          Please note any impacts not having a schedule had on the job.<br />
          <textarea class="form-control" formControlName="q5" [(ngModel)]="selectedSuptproject.q5" [value]="" rows="2" id="q5" style="width:100%"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q1==true || selectedSuptproject.q4==true">
          Was the schedule adjusted when things changed (i.e. change orders, weather delays, etc)?<br />
          <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedSuptproject.q6" [value]="true" (click)="clear_q6a()"/> yes
          <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedSuptproject.q6" [value]="false" (click)="clear_q6b()"/> no
        </div>
        <div *ngIf="selectedSuptproject.q6==false">
          Describe changes that should have caused a schedule update.<br />
          <textarea class="form-control" formControlName="q7" [(ngModel)]="selectedSuptproject.q7" [value]="" rows="2" id="q7" style="width:100%"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q1==true || selectedSuptproject.q4==true">
          Did the project meet the schedule (or the revised schedule if revisions were made)?<br />
          <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedSuptproject.q8" [value]="true" /> yes
          <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedSuptproject.q8" [value]="false" /> no
        </div>
        <div *ngIf="selectedSuptproject.q8==false">
          Describe the reason(s) for delays.<br />
          <textarea class="form-control" formControlName="q9" [(ngModel)]="selectedSuptproject.q9" [value]="" rows="2" id="q9" style="width:100%"></textarea>
        </div>
      </div>

      <div id="projectbook" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Did you have a superintendent book at the start of the project?<br />
          <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedSuptproject.q10" [value]="true"  /> yes
          <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedSuptproject.q10" [value]="false"  /> no
        </div>
        <div>
          Did you have a subs list with good contact information at the start of the project?<br />
          <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedSuptproject.q11" [value]="true"  /> yes
          <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedSuptproject.q11" [value]="false"  /> no
        </div>
        <div>
          Was there a pre-project meeting?<br />
          <input type="radio" id="q12" formControlName="q12" [(ngModel)]="selectedSuptproject.q12" [value]="true" (click)="clear_q12a()" /> yes
          <input type="radio" id="q12" formControlName="q12" [(ngModel)]="selectedSuptproject.q12" [value]="false" (click)="clear_q12b()" /> no
        </div>
        <div *ngIf="selectedSuptproject.q12==true">
          Was all the necessary information covered?<br />
          <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedSuptproject.q13" [value]="true" (click)="clear_q13a()" /> yes
          <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedSuptproject.q13" [value]="false"  /> no
        </div>
        <div *ngIf="selectedSuptproject.q13==false">
          What was missing?<br />
          <textarea class="form-control" formControlName="q14" [(ngModel)]="selectedSuptproject.q14" [value]="" rows="2" id="q14" style="width:100%"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q12==false">
          What impacts (if any) did that have?<br />
          <textarea class="form-control" formControlName="q15" [(ngModel)]="selectedSuptproject.q15" [value]="" rows="2" id="q15" style="width:100%"></textarea>
        </div>
      </div>

      <div id="clientfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Who communicated with the owner on a routine basis? (The primary person if multiple)<br />
          <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedSuptproject.q16" value="PM" /> Project Manager
          <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedSuptproject.q16" value="Supt" /> Superintendent
          <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedSuptproject.q16" value="Other" /> Other
        </div>
        <div *ngIf="selectedSuptproject.q16 == 'Other'">
          <textarea class="form-control" formControlName="q17" [(ngModel)]="selectedSuptproject.q17" [value]="" rows="2" id="q17" style="width:100%;"></textarea>
        </div>
        <div>
          Did the client provide feedback that indicated their satisfaction with the project?<br />
          <input type="radio" id="q18" formControlName="q18" [(ngModel)]="selectedSuptproject.q18" [value]="true" /> Yes
          <input type="radio" id="q18" formControlName="q18" [(ngModel)]="selectedSuptproject.q18" [value]="false" (click)="clear_q18b()" /> No
        </div>
        <div *ngIf="selectedSuptproject.q18==true">
          Were the client expectations unmet, met or exceeded?<br />
          <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedSuptproject.q19" value="unmet" /> Unmet
          <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedSuptproject.q19" value="met" /> Met
          <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedSuptproject.q19" value="exceeded" /> Exceeded
        </div>
        <div *ngIf="selectedSuptproject.q18==true && selectedSuptproject.q19">
          Describe any client feedback.<br />
          <textarea class="form-control" formControlName="q20" [(ngModel)]="selectedSuptproject.q20" [value]="" rows="2" id="q20" style="width:100%;"></textarea>
        </div>
        <div>
          How involved was the owner in the job?<br />
          <textarea class="form-control" formControlName="q21" [(ngModel)]="selectedSuptproject.q21" [value]="" rows="2" id="q21" style="width:100%;"></textarea>
        </div>
        <div>
          How did this impact you?<br />
          <textarea class="form-control" formControlName="q22" [(ngModel)]="selectedSuptproject.q22" [value]="" rows="2" id="q22" style="width:100%;"></textarea>
        </div>
      </div>

      <div id="resourcefeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Did you receive timely answers to RFIs?<br />
          <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedSuptproject.q23" [value]="true" (click)="clear_q23a()"/> Yes
          <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedSuptproject.q23" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q23==false">
          Describe any issues.<br />
          <textarea class="form-control" formControlName="q24" [(ngModel)]="selectedSuptproject.q24" [value]="" rows="2" id="q24" style="width:100%;"></textarea>
        </div>
        <div>
          Did you receive timely support when issues came up?<br />
          <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedSuptproject.q25" [value]="true" (click)="clear_q25a()" /> Yes
          <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedSuptproject.q25" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q25==false">
          What impact did this have?<br />
          <textarea class="form-control" formControlName="q26" [(ngModel)]="selectedSuptproject.q26" [value]="" rows="2" id="q26" style="width:100%;"></textarea>
        </div>
        <div>
          Did you have the resources needed to perform the job?<br />
          <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedSuptproject.q27" [value]="true" (clik) ="clear_q27a()" /> Yes
          <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedSuptproject.q27" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q27==false">
          What did you need that you didn't have?<br />
          <textarea class="form-control" formControlName="q28" [(ngModel)]="selectedSuptproject.q28" [value]="" rows="2" id="q28" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q27==false">
          How did not having it impact the job?<br />
          <textarea class="form-control" formControlName="q29" [(ngModel)]="selectedSuptproject.q29" [value]="" rows="2" id="q29" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q27==false">
          What reason were you given for not having it?<br />
          <textarea class="form-control" formControlName="q30" [(ngModel)]="selectedSuptproject.q30" [value]="" rows="2" id="q30" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q27==false">
          How would having it have changed the way the job went?<br />
          <textarea class="form-control" formControlName="q31" [(ngModel)]="selectedSuptproject.q31" [value]="" rows="2" id="q31" style="width:100%;"></textarea>
        </div>
        <div>
          Did you have the right equipment for the job?<br />
          <input type="radio" id="q32" formControlName="q32" [(ngModel)]="selectedSuptproject.q32" [value]="true" (click)="clear_q32a()"/> Yes
          <input type="radio" id="q32" formControlName="q32" [(ngModel)]="selectedSuptproject.q32" [value]="false" (click)="clear_q32b()" /> No
        </div>
        <div *ngIf="selectedSuptproject.q32==false">
          What did you need that you didn't have?<br />
          <textarea class="form-control" formControlName="q33" [(ngModel)]="selectedSuptproject.q33" [value]="" rows="2" id="q33" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q32==false">
          How did not having it impact the job?<br />
          <textarea class="form-control" formControlName="q34" [(ngModel)]="selectedSuptproject.q34" [value]="" rows="2" id="q34" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q32==false">
          What reason were you given for not having it?<br />
          <textarea class="form-control" formControlName="q35" [(ngModel)]="selectedSuptproject.q35" [value]="" rows="2" id="q35" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q32==false">
          How would having it have changed the way the job went?<br />
          <textarea class="form-control" formControlName="q36" [(ngModel)]="selectedSuptproject.q36" [value]="" rows="2" id="q36" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q32==true">
          Was it in good working condition?<br />
          <input type="radio" id="q37" formControlName="q37" [(ngModel)]="selectedSuptproject.q37" [value]="true" /> Yes
          <input type="radio" id="q37" formControlName="q37" [(ngModel)]="selectedSuptproject.q37" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q37==false">
          What was wrong with it?<br />
          <textarea class="form-control" formControlName="q38" [(ngModel)]="selectedSuptproject.q38" [value]="" rows="2" id="q38" style="width:100%;"></textarea>
        </div>
      </div>

      <div id="manpowerfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Did you have the right amount of manpower?<br />
          <input type="radio" id="q39" formControlName="q39" [(ngModel)]="selectedSuptproject.q39" [value]="true" /> Yes
          <input type="radio" id="q39" formControlName="q39" [(ngModel)]="selectedSuptproject.q39" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q39==false">
          Did you have too much or too little?<br />
          <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedSuptproject.q40" [value]="true" /> Too Much
          <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedSuptproject.q40" [value]="false" /> Too Little
        </div>
        <div *ngIf="selectedSuptproject.q40==false">
          What did you need that you didn't have?<br />
          <textarea class="form-control" formControlName="q41" [(ngModel)]="selectedSuptproject.q41" [value]="" rows="2" id="q41" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q40==false">
          What impact did that have on the job?<br />
          <textarea class="form-control" formControlName="q42" [(ngModel)]="selectedSuptproject.q42" [value]="" rows="2" id="q42" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q40==true">
          Who did you notify?<br />
          <textarea class="form-control" formControlName="q43" [(ngModel)]="selectedSuptproject.q43" [value]="" rows="2" id="q43" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q40==true">
          How did it impact the job?<br />
          <textarea class="form-control" formControlName="q44" [(ngModel)]="selectedSuptproject.q44" [value]="" rows="2" id="q44" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q40==true">
          How did you keep everyone busy?<br />
          <textarea class="form-control" formControlName="q45" [(ngModel)]="selectedSuptproject.q45" [value]="" rows="2" id="q45" style="width:100%;"></textarea>
        </div>
        <div>
          Did you have to use lower skilled labor than desired?<br />
          <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedSuptproject.q46" [value]="true" /> Yes
          <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedSuptproject.q46" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q46==true">
          Describe.<br />
          <textarea class="form-control" formControlName="q47" [(ngModel)]="selectedSuptproject.q47" [value]="" rows="2" id="q47" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q46==true">
          What was the impact?<br />
          <textarea class="form-control" formControlName="q48" [(ngModel)]="selectedSuptproject.q48" [value]="" rows="2" id="q48" style="width:100%;"></textarea>
        </div>
        <div>
          Did you have to work excessive hours on this project?<br />
          <input type="radio" id="q49" formControlName="q49" [(ngModel)]="selectedSuptproject.q49" [value]="true" /> Yes
          <input type="radio" id="q49" formControlName="q49" [(ngModel)]="selectedSuptproject.q49" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q49==true">
          How many hours per week did you work, what was excessive and why was it necessary?<br />
          <textarea class="form-control" formControlName="q50" [(ngModel)]="selectedSuptproject.q50" [value]="" rows="2" id="q50" style="width:100%;"></textarea>
        </div>
      </div>

      <div id="subcontractorfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Did your subs perform to your expectations?<br />
          <input type="radio" id="q51" formControlName="q51" [(ngModel)]="selectedSuptproject.q51" [value]="true" /> Yes
          <input type="radio" id="q51" formControlName="q51" [(ngModel)]="selectedSuptproject.q51" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q51==false">
          Please describe with specifics.<br />
          <textarea class="form-control" formControlName="q67" [(ngModel)]="selectedSuptproject.q67" [value]="" rows="2" id="q67" style="width:100%;"></textarea>
        </div>
      </div>

      <div id="punchlistfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Was a punchlish created?<br />
          <input type="radio" id="q68" formControlName="q68" [(ngModel)]="selectedSuptproject.q68" [value]="true" /> Yes
          <input type="radio" id="q68" formControlName="q68" [(ngModel)]="selectedSuptproject.q68" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q68==true">
          Who created the punchlist?<br />
          <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedSuptproject.q52" value="Architect" /> Architect
          <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedSuptproject.q52" value="Owner" /> Owner/Owner Representative
          <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedSuptproject.q52" value="PM" /> Project Manager
          <input type="radio" id="q52" formControlName="q52" [(ngModel)]="selectedSuptproject.q52" value="Other" /> Other
        </div>
        <div *ngIf="selectedSuptproject.q52=='Other'">
          Who?<br />
          <textarea class="form-control" formControlName="q70" [(ngModel)]="selectedSuptproject.q70" [value]="" rows="2" id="q70" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q68==true">
          Did the punchlist seem reasonable for the project expectations?<br />
          <input type="radio" id="q69" formControlName="q69" [(ngModel)]="selectedSuptproject.q69" [value]="true" /> Yes
          <input type="radio" id="q69" formControlName="q69" [(ngModel)]="selectedSuptproject.q69" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q69==false">
          Describe.
          <textarea class="form-control" formControlName="q53" [(ngModel)]="selectedSuptproject.q53" [value]="" rows="2" id="q53" style="width:100%;"></textarea>
        </div>
      </div>
      <div id="generalfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Did the project manager assistant help your job?<br />
          <input type="radio" id="q71" formControlName="q71" [(ngModel)]="selectedSuptproject.q71" value="Helped" /> Helped
          <input type="radio" id="q71" formControlName="q71" [(ngModel)]="selectedSuptproject.q71" value="No Impact" /> No Impact
          <input type="radio" id="q71" formControlName="q71" [(ngModel)]="selectedSuptproject.q71" value="Hurt" /> Hurt
        </div>
        <div *ngIf="selectedSuptproject.q71=='Helped' || selectedSuptproject.q71=='Hurt'">
          Describe.<br />
          <textarea class="form-control" formControlName="q54" [(ngModel)]="selectedSuptproject.q54" [value]="" rows="2" id="q54" style="width:100%;"></textarea>
        </div>
        <div>
          Was this a project you enjoyed?<br />
          <input type="radio" id="q55" formControlName="q55" [(ngModel)]="selectedSuptproject.q55" [value]="true" /> Yes
          <input type="radio" id="q55" formControlName="q55" [(ngModel)]="selectedSuptproject.q55" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q55==true || selectedSuptproject.q55==false">
          Give feedback.<br />
          <textarea class="form-control" formControlName="q56" [(ngModel)]="selectedSuptproject.q56" [value]="" rows="2" id="q56" style="width:100%;"></textarea>
        </div>
        <div>
          Do you have any suggestions that could have improved this project?<br />
          <input type="radio" id="q57" formControlName="q57" [(ngModel)]="selectedSuptproject.q57" [value]="true" /> Yes
          <input type="radio" id="q57" formControlName="q57" [(ngModel)]="selectedSuptproject.q57" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q57==true">
          <textarea class="form-control" formControlName="q65" [(ngModel)]="selectedSuptproject.q65" [value]="" rows="2" id="q65" style="width:100%;"></textarea>
        </div>
        <div>
          Are you interested in growing into more complex projects?<br />
          <input type="radio" id="q58" formControlName="q58" [(ngModel)]="selectedSuptproject.q58" [value]="true" /> Yes
          <input type="radio" id="q58" formControlName="q58" [(ngModel)]="selectedSuptproject.q58" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q58==true">
          Comments?<br />
          <textarea class="form-control" formControlName="q59" [(ngModel)]="selectedSuptproject.q59" [value]="" rows="2" id="q59" style="width:100%;"></textarea>
        </div>
        <div>
          Do you feel you were set up for success on this project?<br />
          <input type="radio" id="q60" formControlName="q60" [(ngModel)]="selectedSuptproject.q60" [value]="true" /> Yes
          <input type="radio" id="q60" formControlName="q60" [(ngModel)]="selectedSuptproject.q60" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q60==true || selectedSuptproject.q60==false">
          Explain.<br />
          <textarea class="form-control" formControlName="q61" [(ngModel)]="selectedSuptproject.q61" [value]="" rows="2" id="q61" style="width:100%;"></textarea>
        </div>
        <div>
          Is there anyone involved in this project you would like to commend?<br />
          <input type="radio" id="q62" formControlName="q62" [(ngModel)]="selectedSuptproject.q62" [value]="true" /> Yes
          <input type="radio" id="q62" formControlName="q62" [(ngModel)]="selectedSuptproject.q62" [value]="false" /> No
        </div>
        <div *ngIf="selectedSuptproject.q62==true">
          Who?<br />
          <textarea class="form-control" formControlName="q63" [(ngModel)]="selectedSuptproject.q63" [value]="" rows="2" id="q63" style="width:100%;"></textarea>
        </div>
        <div *ngIf="selectedSuptproject.q62==true">
          What did they do to stand out?<br />
          <textarea class="form-control" formControlName="q64" [(ngModel)]="selectedSuptproject.q64" [value]="" rows="2" id="q64" style="width:100%;"></textarea>
        </div>
      </div>

    </div>

  </form>
</div>


