<div class="justify-content-start" id="#accordion">
  <h2>Executive Reporting</h2>
  <div class="card bg-light" id="safety">
    <div class="card-header bg-light">
      <h3>
        Safety Audits This Month
        <button class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
        <span>&nbsp;&nbsp;</span>
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="safetyauditselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prior date audits
          <div class="dropdown-menu" style="height:55vh" aria-labelledby="safetyauditselect">
            <div *ngFor="let safetyaudit of safetyaudits" (click)="safetyauditSelect1(safetyaudit)">
              <div *ngIf="(safetyaudit.auditdate | date:'MM/yyyy') != (today | date:'MM/yyyy')">
                {{safetyaudit.projectname}}, {{safetyaudit.auditdate | date }}
              </div>
            </div>
          </div>
        </button>
      </h3>
      <div *ngIf="completedSafetyaudit1 && !completedSafetyaudit"><app-completedsafetyaudit [completedAudit]="completedSafetyaudit1"></app-completedsafetyaudit></div>
    </div>
    <div class="card-body">
      <div class="panel-group" *ngFor="let safetyaudit of safetyaudits; let i=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(safetyaudit.auditdate | date:'MM/yyyy') == (today | date:'MM/yyyy')" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">
            <a class="col-sm-2" (click)="safetyauditSelect(safetyaudit)">{{safetyaudit.auditdate | date}}</a>
            <a class="col-sm-6" (click)="safetyauditSelect(safetyaudit)">{{safetyaudit.projectname}}</a>
            <a class="col-sm-4" (click)="safetyauditSelect(safetyaudit)">{{safetyaudit.auditor}}</a>
          </div>
          <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in" data-parent="#accordion">
            <div class="panel-body">
              <app-completedsafetyaudit [completedAudit]="completedSafetyaudit"></app-completedsafetyaudit>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card bg-light">
    <div class="card-header bg-light">
      <h3>
        Site Audits This Month
        <button class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
        <span>&nbsp;&nbsp;</span>
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="siteauditselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prior Date Audits
          <div class="dropdown-menu" style="height:55vh" aria-labelledby="siteauditselect">
            <div *ngFor="let siteaudit of siteaudits" (click)="siteauditSelect1(siteaudit)">
              <div *ngIf="(siteaudit.auditdate | date:'MM/yyyy') != (today | date:'MM/yyyy')">
                {{siteaudit.projectname}}, {{siteaudit.auditdate | date }}
              </div>
            </div>
          </div>
        </button>
      </h3>
      <div *ngIf="completedSiteaudit1 && !completedSiteaudit"><app-completedsiteaudit [completedAudit]="completedSiteaudit1"></app-completedsiteaudit></div>
    </div>
    <div class="card-body">
      <div class="panel-group" *ngFor="let siteaudit of siteaudits; let i2=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(siteaudit.auditdate | date:'MM/yyyy') == (today | date:'MM/yyyy')" data-toggle="collapse" [attr.href]="'#collapseTwo_' + i2">
            <a class="col-sm-2" (click)="siteauditSelect(siteaudit)">{{siteaudit.auditdate | date}}</a>
            <a class="col-sm-6" (click)="siteauditSelect(siteaudit)">{{siteaudit.projectname}}</a>
            <a class="col-sm-4" (click)="siteauditSelect(siteaudit)">{{siteaudit.auditor}}</a>
          </div>
          <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#accordion">
            <div class="panel-body">
              <app-completedsiteaudit [completedAudit]="completedSiteaudit"></app-completedsiteaudit>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card bg-light">
    <div class="card-header bg-light">
      <h3>
        Project Reviews This Month
        <button class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
        <span>&nbsp;&nbsp;</span>
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="pmprojectreviewselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prior Date Audits
          <div class="dropdown-menu" style="height:55vh" aria-labelledby="pmprojectreviewselect">
            <div *ngFor="let pmprojectreview of pmprojectreviews" (click)="pmprojectreviewSelect1(pmprojectreview)">
            <div *ngIf="(pmprojectreview.reviewDate | date:'MM/yyyy') != (today | date:'MM/yyyy')">
               {{pmprojectreview.projectname}}, {{pmprojectreview.reviewdate | date }}
            </div>
            </div>
          </div>
        </button>
      </h3>
      <div *ngIf="completedReview1 && !completedReview"><app-completedpmprojectreview [completedReview]="completedReview1"></app-completedpmprojectreview></div>
    </div>
    <div class="card-body">
      <div class="panel-group" *ngFor="let pmprojectreview of pmprojectreviews; let i3=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(pmprojectreview.reviewDate | date:'MM/yyyy') == (today | date:'MM/yyyy')" data-toggle="collapse" [attr.href]="'#collapseThree_' + i3">
            <a class="col-sm-2" (click)="pmprojectreviewSelect(pmprojectreview)">{{pmprojectreview.reviewDate | date}}</a>
            <a class="col-sm-6" (click)="pmprojectreviewSelect(pmprojectreview)">{{pmprojectreview.projectname}}</a>
            <a class="col-sm-4" (click)="pmprojectreviewSelect(pmprojectreview)">{{pmprojectreview.reviewer}}</a>
          </div>
          <div [attr.id]="'collapseThree_' + i3" class="panel-collapse collapse in" data-parent="#accordion">
            <div class="panel-body">
              <app-completedpmprojectreview [completedReview]="completedReview"></app-completedpmprojectreview>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
