<div class="justify-content-start">
  <h2>Project Manager's End of Project Review</h2>
  <div id="selectproject" *ngIf="!selectedProject && !completedReview">
    <h3>Project list</h3>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="projectmenuselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Project
      </button>
      <ul class="dropdown-menu" style="height:55vh" aria-labelledby="projectmenuselect">
        <li *ngFor="let project of projects">
          <p *ngIf="(project.status=='OPEN')" (click)="onSelect(project)">
            {{project.name}}
          </p>
        </li>
      </ul>
    </div>
    <br />
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="auditselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Completed Review
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="auditselect">
          <li *ngFor="let review of reviews" (click)="reviewSelect(review)">
            {{review.projectname}}, {{review.reviewdate | date }}
          </li>
        </ul>
      </button>
    </div>
  </div>
</div>
<div class="justify-content-start" id="projectreview" *ngIf="selectedProject  || completedReview">
  <div *ngIf="selectedProject">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="panel">
          <button class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
          <button class="btn btn-primary" type="submit" [disabled]="!reviewForm.valid">Submit</button>
        </div>
        <div class="panel justify-content-start">
          <h4>{{selectedProject.name}}</h4><input type="hidden" id="projectName"  formControlName="projectName" [(ngModel)]="selectedProject.name" [value]="" />
          <div><span>Project Manager: </span>{{selectedProject.projectManager}}</div><input type="hidden" id="reviewer"  formControlName="reviewer" [(ngModel)]="selectedProject.projectManager" [value]=""/>
          <div><span>Project Superintendent: </span>{{selectedProject.superintendentFullName}}</div><input type="hidden" id="reviewed" formControlName="reviewed" [(ngModel)]="selectedProject.superintendentFullName" [value]=""/>
          <p></p>
        </div>
        <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
          <div id="schedulefeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the superintendent cause the project to not meet the schedule (either through what they did or didn't do)?<br />
              <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="yes" required /> yes
              <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="no" required (click)="clear_q1b()"/> no
            </div>
            <div *ngIf="selectedProject.q1=='yes'">
              Describe any delays and the reasons for them.<br />
              <textarea class="form-control" formControlName="q2" rows="2" id="q2" style="width:100%"></textarea>
            </div>
          </div>
          <div id="clientfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the client provide feedback that indicated their satisfaction with the project?<br />
              <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="yes" /> Yes
              <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="no" /> No
            </div>
            <div *ngIf="selectedProject.q3=='yes'">
              Were the client expectations unmet, met or exceeded?<br />
              <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="unmet" /> Unmet
              <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="met" /> Met
              <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="exceeded" /> Exceeded
            </div>
            <div *ngIf="selectedProject.q3=='yes'">
              Describe any client feedback.<br />
              <textarea class="form-control" formControlName="q29" [(ngModel)]="selectedProject.q29" value="" rows="2" id="q29" style="width:100%;"></textarea>
            </div>
          </div>
          <div id="financialfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the job make a profit?<br />
              <input type="radio" id="q5" formControlName="q5" [(ngModel)]="selectedProject.q5" value="yes" /> Yes
              <input type="radio" id="q5" formControlName="q5" [(ngModel)]="selectedProject.q5" value="no" /> No
            </div>
            <div>
              Did the superintendent purchase materials or tools that were not needed for the project?<br />
              <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedProject.q6" value="yes" /> Yes
              <input type="radio" id="q6" formControlName="q6" [(ngModel)]="selectedProject.q6" value="no" (click)="clear_q6b()"/> No
            </div>
            <div *ngIf="selectedProject.q6=='yes'">
              What was purchased that wasn't needed?<br />
              <textarea class="form-control" formControlName="q7" [(ngModel)]="selectedProject.q7" value="" rows="2" id="q7" style="width:100%;"></textarea>
              What was the cost of the purchase that wasn't needed?<br />
              <textarea class="form-control" formControlName="q8" [(ngModel)]="selectedProject.q8" value="" rows="2" id="q8" style="width:100%;"></textarea>
              How did the unneeded purchase impact the project?<br />
              <textarea class="form-control" formControlName="q9" [(ngModel)]="selectedProject.q9" value="" rows="2" id="q9" style="width:100%;"></textarea>
            </div>
            <div>
              Did the superintendent work more than 40 hours per week on this project (45 if salaried)?<br />
              <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="yes" /> Yes
              <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="no" (click)="clear_q10b()"/> No
            </div>
            <div *ngIf="selectedProject.q10=='yes'">
              Were the extra hours necessary to get the job done or to get it done on schedule?<br />
              <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="yes" /> Yes
              <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="no" /> No
            </div>
            <div *ngIf="selectedProject.q10=='yes'">
              How many hours per week did the superintendent work on this job?  Also include the highest weekly hours worked and the lowest weekly hours worked on this job.<br />
              <textarea class="form-control" formControlName="q12" [(ngModel)]="selectedProject.q12" value="" rows="2" id="q12" style="width:100%;"></textarea>
            </div>
            <div>
              Did the superintendent use temp or P&C employee labor that wasn't necessary to get the job done or to get it done on schedule?  (Consider whether P&C labor was available instead of using temp labor.)<br />
              <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedProject.q13" value="yes" /> Yes
              <input type="radio" id="q13" formControlName="q13" [(ngModel)]="selectedProject.q13" value="no" (click)="clear_13b()"/> No
            </div>
            <div *ngIf="selectedProject.q13=='yes'">
              How much temp or employee labor did the superintendent use?  Describe what was excessive or unnecessary.<br />
              <textarea class="form-control" formControlName="q14" [(ngModel)]="selectedProject.q14" value="" rows="2" id="q14" style="width:100%;"></textarea>
            </div>
            <div>
              Did the superintendent cause trip/overtime charges for subs?<br />
              <input type="radio" id="q15" formControlName="q15" [(ngModel)]="selectedProject.q15" value="yes" /> Yes
              <input type="radio" id="q15" formControlName="q15" [(ngModel)]="selectedProject.q15" value="no" (click)="clear_q15b()" /> No
            </div>
            <div *ngIf="selectedProject.q15=='yes'">
              Describe how the superintendent caused trip/overtime charges.<br />
              <textarea class="form-control" formControlName="q30" [(ngModel)]="selectedProject.q30" value="" rows="2" id="q30" style="width:100%;"></textarea>
            </div>
          </div>
          <div id="subcontractorfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the superintendent follow appropriate change order processes?<br />
              <input type="radio" id="q18" formControlName="q18" [(ngModel)]="selectedProject.q18" value="yes" /> Yes
              <input type="radio" id="q18" formControlName="q18" [(ngModel)]="selectedProject.q18" value="no" /> No
            </div>
            <div *ngIf="selectedProject.q18==no">
              Did the superintendent perform unapproved extra work without change orders?<br />
              <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedProject.q16" value="yes" /> Yes
              <input type="radio" id="q16" formControlName="q16" [(ngModel)]="selectedProject.q16" value="no" (click)="clear_q16b()" /> No
            </div>
            <div *ngIf="selectedProject.q16==yes && selectedProject.q18==no">
              Describe the extra work and the reasons for doing it.<br />
              <textarea class="form-control" formControlName="q17" [(ngModel)]="selectedProject.q17" value="" rows="2" id="q17" style="width:100%;"></textarea>
            </div>
            <div *ngIf="selectedProject.q18==no">
              Did the superintendent ensure that subcontractor work was to the standard prescribed by the scope of work before supporting a change order?<br />
              <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedProject.q19" value="yes" /> Yes
              <input type="radio" id="q19" formControlName="q19" [(ngModel)]="selectedProject.q19" value="no" /> No
            </div>
            <div *ngIf="selectedProject.q18==no">
              Did the superintendent communicate if a change order was the financial responsibility of a different sub or the client?<br />
              <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="yes" /> Yes
              <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="no" /> No
            </div>
          </div>
          <div id="dailylogfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the superintendent meet daily log standards?<br />
              <input type="radio" id="q21" formControlName="q21" [(ngModel)]="selectedProject.q21" value="yes" /> Yes
              <input type="radio" id="q21" formControlName="q21" [(ngModel)]="selectedProject.q21" value="no" /> No
            </div>
            <div>
              Did the level of detail clearly explain what occurred in a manner that a 3rd party could understand?<br />
              <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="yes" /> Yes
              <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="no" /> No
            </div>
            <div>
              Did the level of detail provide the information necessary to justify any delays/chargebacks/change orders?<br />
              <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedProject.q23" value="yes" /> Yes
              <input type="radio" id="q23" formControlName="q23" [(ngModel)]="selectedProject.q23" value="no" /> No
            </div>
            <div>
              Did the provided photos meet the needs for job progress documentation?<br />
              <input type="radio" id="q24" formControlName="q24" [(ngModel)]="selectedProject.q24" value="yes" /> Yes
              <input type="radio" id="q24" formControlName="q24" [(ngModel)]="selectedProject.q24" value="no" /> No
            </div>
          </div>
          <div id="receiptfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the superintendent turn in all time and receipts when required?<br />
              <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="yes" /> Yes
              <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="no" /> No
            </div>
          </div>
          <div id="generalfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Did the superintendent overall help or hurt the project?<br />
              <textarea class="form-control" formControlName="q26" [(ngModel)]="selectedProject.q26" value="" rows="2" id="q26" style="width:100%;"></textarea>
            </div>
            <div>
              In your opinion, can this superintendent do bigger and better projects?<br />
              <textarea class="form-control" formControlName="q27" [(ngModel)]="selectedProject.q27" value="" rows="2" id="q27" style="width:100%;"></textarea>
            </div>
            <div>
              Did the superintendent go above and beyond expectations?<br />
              <textarea class="form-control" formControlName="q28" [(ngModel)]="selectedProject.q28" value="" rows="2" id="q28" style="width:100%;"></textarea>
            </div>
          </div>
        </div>
    </form>
  </div>
  <div *ngIf="completedReview">
    <button class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
    <app-completedpmprojectreview [completedReview]="completedReview"></app-completedpmprojectreview>
  </div>
</div>


