<div style="width:100vw" id="#accordion">
  <div style="width:100vw; text-align:center;"><h2>Open Projects</h2><br /></div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiNjBiYjEzMzYtZWQ2NS00MzI0LWFjN2YtZDVhZGVkNjMzOWM0IiwidCI6ImY4NjQ4ZjMzLTA1OWYtNDYxZS04MWVhLTU1OGQyODliMjM1OSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Activejobs" aria-expanded="false" aria-controls="Activejobs">
      <h3>
        Active Jobs
      </h3>
    </div>
    <div class="card-body collapse" id="Activejobs" aria-labelledby="Activejobs" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Actual Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-On site daily')" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.actualStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in" data-parent="#Activejobs">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <a href="https://buildertrend.net/jobs/JobDetails.aspx?jobId={{selectedProject.jobsiteId}}" target="_blank">Buildertrend</a>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Planning" aria-expanded="false" aria-controls="Planning">
      <h3>
        Planning
      </h3>
    </div>
    <div class="card-body collapse" id="Planning" aria-labelledby="Planning" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Projected Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i4=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-Planning')" data-toggle="collapse" [attr.href]="'#collapseFour_' + i4">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseFour_' + i4" class="panel-collapse collapse in" data-parent="#Planning">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Workorders" aria-expanded="false" aria-controls="Workorders">
      <h3>
        Work Orders
      </h3>
    </div>
    <div class="card-body collapse" id="Workorders" aria-labelledby="Workorders" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Projected Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i5=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-Work Order')" data-toggle="collapse" [attr.href]="'#collapseFive_' + i5">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseFive_' + i5" class="panel-collapse collapse in" data-parent="#Workorders">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Semiactive" aria-expanded="false" aria-controls="Semiactive">
      <h3>
        Semi Active
      </h3>
    </div>
    <div class="card-body collapse" id="Semiactive" aria-labelledby="Semiactive" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Projected Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i7=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-Semi-Active')" data-toggle="collapse" [attr.href]="'#collapseSeven_' + i7">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseSeven_' + i7" class="panel-collapse collapse in" data-parent="#Semiactive">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Punchlistjobs" aria-expanded="false" aria-controls="Punchlistjobs">
      <h3>
        Punchlist Jobs
      </h3>
    </div>
    <div class="card-body collapse" id="Punchlistjobs" aria-labelledby="Punchlistjobs" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Actual Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i2=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-Punchlist')" data-toggle="collapse" [attr.href]="'#collapseTwo_' + i2">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.actualStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#Punchlistjobs">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Onhold" aria-expanded="false" aria-controls="Onhold">
      <h3>
        On Hold
      </h3>
    </div>
    <div class="card-body collapse" id="Onhold" aria-labelledby="Onhold" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Actual Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i6=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-On Hold')" data-toggle="collapse" [attr.href]="'#collapseSix_' + i6">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.actualStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#Onhold">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Closeouts" aria-expanded="false" aria-controls="Closeouts">
      <h3>
        Closouts
      </h3>
    </div>
    <div class="card-body collapse" id="Closeouts" aria-labelledby="Closeouts" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-4"><b>Project</b></a>
        <a class="col-md-2"><b>Project Manager</b></a>
        <a class="col-md-2"><b>Superintendent</b></a>
        <a class="col-md-2"><b>Actual Start</b></a>
        <a class="col-md-2"><b>Projected Completion</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let project of projects; let i3=index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups=='1-Closeouts')" data-toggle="collapse" [attr.href]="'#collapseThree_' + i3">
            <a class="col-md-4" (click)="projectSelect(project)">{{project.name}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectManager}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.superintendentFullName}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.actualStart}}</a>
            <a class="col-md-2" (click)="projectSelect(project)">{{project.projectedCompletion}}</a>
          </div>
          <div [attr.id]="'collapseThree_' + i3" class="panel-collapse collapse in" data-parent="#Closeouts">
            <div class="panel-body col-md-8 offset-2" *ngIf="selectedProject">
              <a>Project Notes:  {{selectedProject.generalNotes}}</a><br />
              <a>Change Order Notes:  {{selectedProject.changeOrderNotes}}</a><br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
