<pre>From: {{fromDate | json }}</pre>
<pre>To: {{toDate | json }}</pre>


<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="3" [dayTemplate]="t" outsideDays="hidden">
</ngb-datepicker>
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

