<div class="justify-content-start">
  <h2>HR information</h2>
  <div>
    <h4>Policy documents</h4>
    <a href="../../assets/Employee Manual with cover 6-27-18.pdf" target="_blank" download>
      Employee Manual
    </a><br />
    <a href="../../assets/POLICY AGAINST HARASSMENT AND DISCRIMINATION.pdf" target="_blank" download>
      Policy against harassment and discrimination
    </a><br />
    <a href="../../assets/EMPLOYEE ACKNOWLEDGEMENT OF SUBSTANCE ABUSE POLICY.pdf" target="_blank" download>
      Employee acknowledgement of substance abuse policy
    </a><br />
    <a href="../../assets/2021-01 Time off policy.pdf" target="_blank" download>Time off policy</a><br />
    <a href="../../assets/Time off request.pdf" target="_blank" download>Time off request form</a><br />
    <br />
  </div>
  <div>
    <h4>Benefits Information</h4>
    <a href="../../assets/2022.10.19 P&C 401k Plan Disclosure Notice.pdf" target="_blank" download>2022 Annual Notices</a><br />
    <a href="https://vimeo.com/781270206/78f171cce3" target="_blank">2023 Benefit information video</a><br />
    <a href="../../assets/2023 P&C Construction Benefit Guide.pdf" target="_blank" download>2023 Benefit Guide</a><br />
    <a href="../../assets/SBC Bronze 41S.pdf" target="_blank" download>Bronze plan details</a><br />
    <a href="../../assets/SBC Silver 143S.pdf" target="_blank" download>Silver plan details</a><br />
    <a href="../../assets/SBC Gold 102S.pdf" target="_blank" download>Gold plan details</a><br />
    <a href="https://guardian.benselect.com/enroll" target="_blank">Benefits enrollment</a><br />
  </div>
</div>
