<div class="justify-content-start">
  <h2>P&C Equipment Rental</h2>
  <div id="selectcategory">
    <div class="justify-content-start" id="category" *ngIf="!selectedType">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="categoryselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Equipment Type</button>
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="categoryselect">
          <li *ngFor="let type of types">
            <p (click)="onSelect(type)">{{type}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="justify-content-start" id="submenu" *ngIf="selectedType && !selectedMenu">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="toolreportselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedType}} Menu</button>
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="toolreportselect">
          <li *ngFor="let menu of menus">
            <p *ngIf="menu.category==selectedType" (click)="menuSelect(menu)">{{menu.item}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div id="report" *ngIf="selectedMenu">
      <h4>{{selectedMenu.item}}</h4>

      <div id="jobsitereport" class="panel-group" *ngIf="(selectedMenu.item=='Jobsite report')">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="jobselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Job</button>
          <ul class="dropdown-menu" style="height:55vh" aria-labelledby="jobselect">
            <!--Jobselect grabs active jobs that aren't in closeouts or on hold.  It excludes administrative jobs, such as the shop-->
            <li *ngFor="let job of jobs | orderBy: 'name'">
              <p *ngIf="job.status=='OPEN' && job.jobGroups != '1-Closeouts' && job.jobGroups != '1-On hold' && job.jobGroups.includes('1-')" (click)="jobSelect(job)">{{job.name}}</p>
            </li>
          </ul>
          <button class="btn btn-danger" type="button" (click)="reset()">Reset Form</button><br />
        </div>
        <div *ngIf="selectedJob">
          <div>
            <div>
              <br />
              <h4>{{selectedJob.name}}</h4>
              <br />
              <button class="btn btn-primary" (click)="toggleActive()" id="bt">Inactive Toggle</button>
            </div>
          </div>
          <div class="panel-heading row">
            <a class="col-md-1"><b>Employee</b></a>
            <a class="col-md-1"><b>PC Number</b></a>
            <a class="col-md-2"><b>Description</b></a>
            <a class="col-md-1"><b>Date Out</b></a>
            <a class="col-md-2"><b>Date In</b></a>
            <!--<a class="col-md-1"><b>Days Out</b></a>-->
          </div>
          <div class="panel-default" *ngFor="let equipmentrental of equipmentrentals | orderBy: 'user'">
            <div *ngIf="!show">
              <div class="panel-heading row" *ngIf="(!equipmentrental.dateIn && equipmentrental.dateOut && equipmentrental.job==selectedJob.jobPrefix)">
                <a class="col-md-1">{{equipmentrental.user}}</a>
                <a class="col-md-1">{{equipmentrental.equipmentId}}</a>
                <a class="col-md-2">{{equipmentrental.description}}</a>
                <a class="col-md-1">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>
                <a class="col-md-1" *ngIf="currentUser?.role != 'tool_coordinator' && currentUser?.role != 'admin'">{{equipmentrental.dateOIn | date:'yyyy/MM/dd'}}</a>
                <div *ngIf="currentUser?.role == 'tool_coordinator' || currentUser?.role == 'admin'">
                  <form class="form-inline col-md-1">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" name="dp" [(ngModel)]="equipmentrental.dateIn" (ngModelChange)="updateRental(equipmentrental)" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!--<a class="col-md-1">{{calculateDiff(equipmentrental.dateOut)}}</a>-->

              </div>
            </div>
            <div *ngIf="show">
              <div class="panel-heading row" *ngIf="(equipmentrental.dateOut && equipmentrental.job==selectedJob.jobPrefix)">
                <textarea rows="1" id="user" class="col-md-2">{{equipmentrental.user}}</textarea>
                <a class="col-md-2">{{equipmentrental.equipmentId}}</a>
                <a class="col-md-2">{{equipmentrental.description}}</a>
                <a class="col-md-2">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>

                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" name="dp" [(ngModel)]="equipmentrental.dateIn" (ngModelChange)="updateRental(equipmentrental)" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div id="employeereport" class="panel-group" *ngIf="(selectedMenu.item=='Employee report')">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="userselect" data-toggle="dropdown" (click)="resetEmployee()" aria-haspopup="true" aria-expanded="false">Select Employee</button>
          <ul class="dropdown-menu" style="height:55vh" aria-labelledby="employeeselect">
            <li *ngFor="let employee of employees | orderBy: 'prefName'">
              <p (click)="employeeSelect(employee)">{{employee.prefName}}</p>
            </li>
          </ul>
          <button class="btn btn-danger" type="button" (click)="reset()">Reset Form</button><br />
        </div>
        <div>
          <div>
            <br />
            <h4>{{selectedEmployee.prefName}}</h4>
            <button class="btn btn-primary" style="margin:5px;" *ngIf="selectedEmployee" (click)="toggleActive()" id="bt">Inactive Toggle</button>
            <!--<button class="btn btn-primary dropdown-toggle" style="margin:5px;" *ngIf="selectedEmployee" type="button" id="jobselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job Transfer</button>-->
            <ul class="dropdown-menu" style="height:55vh" aria-labelledby="jobselect">
              <li *ngFor="let job of jobs | orderBy: 'name'">
                <p *ngIf="job.status=='OPEN' && job.jobGroups != '1-Closeouts' && job.jobGroups != '1-On hold' && job.jobGroups.includes('1-')" (click)="jobSelect(job)">{{job.name}}</p>
              </li>
            </ul>


            <!--<button class="btn btn-primary" style="margin:5px;" *ngIf="selectedEmployee" (click)="changeJob()" id="bt">Job Transfer</button>-->
            <!--<button class="btn btn-primary" style="margin:5px;" *ngIf="selectedEmployee" (click)="changeEmployee()" id="bt">Employee Transfer</button>-->
            <br />
          </div>
        </div>

        <div *ngIf="!show && selectedJob">
          <h4>Click PC Number to assign to {{selectedJob.name}}.</h4>
          <button class="btn btn-primary" type="button" (click)="resetJobtransfer()">Done with transfer</button><br />
        </div>

        <div class="panel-heading row">
          <a class="col-md-1"><b>PC Number</b></a>
          <a class="col-md-2"><b>Description</b></a>
          <a class="col-md-1"><b>Date Out</b></a>
          <a class="col-md-2"><b>Date In</b></a>
          <a class="col-md-1"><b>Job</b></a>
          <a class="col-md-3"><b>Comments</b></a>
        </div>
        <div class="panel-default" *ngFor="let equipmentrental of equipmentrentals | orderBy: 'equipmentId'">

          <!-- Transfer equipment from one job to another -->
          <div *ngIf="!show && selectedJob">

            <div class="panel-heading row" *ngIf="(!equipmentrental.dateIn && equipmentrental.dateOut && equipmentrental.user==selectedEmployee.prefName)">
              <a class="col-md-1" (click)="changeJob(equipmentrental, selectedJob.jobPrefix)">{{equipmentrental.equipmentId}}</a>
              <a class="col-md-2">{{equipmentrental.description}}</a>
              <a class="col-md-1">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>
              <a class="col-md-2">{{equipmentrental.dateIn | date:'yyyy/MM/dd'}}</a>
              <a class="col-md-1">{{equipmentrental.job}}</a>
              <textarea class="input col-md-3" rows="1" [(ngModel)]="equipmentrental.comments"></textarea>
            </div>
          </div>

          <!-- Lists all currently signed out equipment for sign in or comment/review -->
          <div *ngIf="!show && !selectedJob">
            <div class="panel-heading row" *ngIf="(!equipmentrental.dateIn && equipmentrental.dateOut && equipmentrental.user==selectedEmployee.prefName)">
              <a class="col-md-1">{{equipmentrental.equipmentId}}</a>
              <a class="col-md-2">{{equipmentrental.description}}</a>
              <a class="col-md-1">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="dp" [(ngModel)]="equipmentrental.dateIn" (ngModelChange)="updateRental(equipmentrental)" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
              <a class="col-md-1">{{equipmentrental.job}}</a>
              <textarea class="input col-md-3" rows="1" [(ngModel)]="equipmentrental.comments"></textarea>
            </div>
          </div>

          <!-- Display tool use history -->
          <div *ngIf="show && !selectedJob">
            <div class="panel-heading row" *ngIf="(equipmentrental.dateOut && equipmentrental.user==selectedEmployee.prefName)">
              <a class="col-md-1">{{equipmentrental.equipmentId}}</a>
              <a class="col-md-2">{{equipmentrental.description}}</a>
              <a class="col-md-1">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="dp" [(ngModel)]="equipmentrental.dateIn" (ngModelChange)="updateRental(equipmentrental)" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
              <a class="col-md-1">{{equipmentrental.job}}</a>
              <textarea class="input col-md-3" rows="1" [(ngModel)]="equipmentrental.comments"></textarea>
            </div>
          </div>

        </div>
      </div>


<!-- Working on getting a join of equipmentrentals and tools.  Once that works, need to include pricing details.  Then this section needs to become the jobsite
    report with a cost dashboard.-->
      <div id="equipmentreport" class="panel-group" *ngIf="(selectedMenu.item=='Equipment report')">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="jobselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Job</button>
          <ul class="dropdown-menu" style="height:55vh" aria-labelledby="jobselect">
            <li *ngFor="let job of jobs | orderBy: 'name'">
              <p *ngIf="job.status=='OPEN' && job.jobGroups != '1-Closeouts' && job.jobGroups != '1-On hold' && job.jobGroups.includes('1-')" (click)="jobSelect(job)">{{job.name}}</p>
            </li>
          </ul>
          <button class="btn btn-danger" type="button" (click)="reset()">Reset Form</button><br />
        </div>
        <div *ngIf="selectedJob">
          <div>
            <div>
              <br />
              <h4>{{selectedJob.name}}</h4>
              <br />
              <button class="btn btn-primary" (click)="toggleActive()" id="bt">Inactive Toggle</button>
            </div>
          </div>
          <div class="panel-heading row">
            <a class="col-md-1"><b>Employee</b></a>
            <a class="col-md-1"><b>PC Number</b></a>
            <a class="col-md-2"><b>Description</b></a>
            <a class="col-md-1"><b>Date Out</b></a>
            <a class="col-md-2"><b>Date In</b></a>
            <a class="col-md-1"><b>Days Out</b></a>
            <a class="col-md-1"><b>Running Cost</b></a>
            <a class="col-md-1"><b>Current Week Cost</b></a>
          </div>
          <div class="panel-default" *ngFor="let equipmentrental of equipmentrentals | orderBy: 'user'">

            <div *ngIf="!show">
              <div class="panel-heading row" *ngIf="(!equipmentrental.dateIn && equipmentrental.dateOut && equipmentrental.job==selectedJob.jobPrefix)">
                <a class="col-md-1">{{equipmentrental.user}}</a>
                <a class="col-md-1">{{equipmentrental.equipmentId}}</a>
                <a class="col-md-2">{{equipmentrental.description}}</a>
                <a class="col-md-1">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>
                <a class="col-md-1" *ngIf="currentUser?.role != 'tool_coordinator' && currentUser?.role != 'admin'">{{equipmentrental.dateOIn | date:'yyyy/MM/dd'}}</a>
                <div *ngIf="currentUser?.role == 'tool_coordinator' || currentUser?.role == 'admin'">
                  <form class="form-inline col-md-1">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" name="dp" [(ngModel)]="equipmentrental.dateIn" (ngModelChange)="updateRental(equipmentrental)" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <a class="col-md-1">{{calculateDiff(equipmentrental.dateOut)}}</a>
                <a class="col-md-1">{{calculateCost(equipmentrental.dateOut)}}</a>
                <a class="col-md-1">{{calculateCurrentweekcost(equipmentrental.dateOut)}}</a>
              </div>
            </div>

            <div *ngIf="show">
              <div class="panel-heading row" *ngIf="(equipmentrental.dateOut && equipmentrental.job==selectedJob.jobPrefix)">
                <textarea rows="1" id="user" class="col-md-2">{{equipmentrental.user}}</textarea>
                <a class="col-md-2">{{equipmentrental.equipmentId}}</a>
                <a class="col-md-2">{{equipmentrental.description}}</a>
                <a class="col-md-2">{{equipmentrental.dateOut | date:'yyyy/MM/dd'}}</a>

                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" name="dp" [(ngModel)]="equipmentrental.dateIn" (ngModelChange)="updateRental(equipmentrental)" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
