<div class="justify-content-start" id="completedsafetyaudit" *ngIf="completedAudit">

  <div class="panel justify-content-start">
    <h4>{{completedAudit.projectname}}</h4>
    <div><span>Audit Date: {{completedAudit.auditdate | date}}</span></div>
    <div><span>Auditor: </span>{{completedAudit.auditor}} </div>
    <div><span>Project Manager: </span>{{completedAudit.projectmanager}}</div>
    <div><span>Project Superintendent: </span>{{completedAudit.superintendent}}</div>
    <p></p>
  </div>
  <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
    <div id="Administration" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Administration</h5>
      <div *ngIf="completedAudit.q1 != 'na' ">
        Pre-construction meeting with subcontractors re: safe work practices.<br />
        <b>{{completedAudit.q1}}</b>
      </div>
      <div *ngIf="completedAudit.q2 != 'na' ">
        Osha poster and other warning signs posted.<br />
        <b>{{completedAudit.q2}}</b>
      </div>
      <div *ngIf="completedAudit.q3 != 'na' ">
        Emergency numbers posted (if other than 911).<br />
        <b>{{completedAudit.q3}}</b>
      </div>
      <div *ngIf="completedAudit.q4 != 'na' ">
        Written safety program on site, including hazcom program.<br />
        <b>{{completedAudit.q4}}</b>
      </div>
      <div *ngIf="completedAudit.q5 != 'na' ">
        Weekly safety meetings documented.<br />
        <b>{{completedAudit.q5}}</b>
      </div>
      <div *ngIf="completedAudit.q6 != 'na' ">
        SDS from all subcontractors.<br />
        <b>{{completedAudit.q6}}</b>
      </div>
      <div *ngIf="completedAudit.q7 != 'na' ">
        Hazardous chemical list updated for job.<br />
        <b>{{completedAudit.q7}}</b>
      </div>
      <div *ngIf="completedAudit.q8 != 'na' ">
        Competent person assigned for site.<br />
        <b>{{completedAudit.q8}}</b>
      </div>
    </div>
    <div id="firstaid" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>First Aid and Emergency</h5>
      <div *ngIf="completedAudit.q9 != 'na' ">
        First aid kit fully stocked.<br />
        <b>{{completedAudit.q9}}</b>
      </div>
      <div *ngIf="completedAudit.q10 != 'na' ">
        Employees aware of personnel trained in first aid.<br />
        <b>{{completedAudit.q10}}</b>
      </div>
      <div *ngIf="completedAudit.q11 != 'na' ">
        Employees aware of emergency procedures.<br />
        <b>{{completedAudit.q11}}</b>
      </div>
    </div>
    <div id="housekeeping" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Housekeeping</h5>
      <div *ngIf="completedAudit.q12 != 'na' ">
        General neat appearance of all work areas.<br />
        <b>{{completedAudit.q12}}</b>
      </div>
      <div *ngIf="completedAudit.q12==no">
        Describe<br />
        <b>{{completedAudit.q18}}</b>
      </div>
      <div *ngIf="completedAudit.q13 != 'na' ">
        Passageways and walkways clear.<br />
        <b>{{completedAudit.q13}}</b>
      </div>
      <div *ngIf="completedAudit.q14 != 'na' ">
        Worksite free of projecting nails and screws.<br />
        <b>{{completedAudit.q14}}</b>
      </div>
      <div *ngIf="completedAudit.q15 != 'na' ">
        Regular site cleanup and trash disposal.<br />
        <b>{{completedAudit.q15}}</b>
      </div>
      <div *ngIf="completedAudit.q16 != 'na' ">
        Materials stored/stacked in orderly and safe manner.<br />
        <b>{{completedAudit.q16}}</b>
      </div>
      <div *ngIf="completedAudit.q16==no">
        describe<br />
        <b>{{completedAudit.q17}}</b>
      </div>
    </div>
    <div id="Fireprevention" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Fire Prevention</h5>
      <div *ngIf="completedAudit.q19 != 'na' ">
        Proper number of fire extinguishers provided and charged.<br />
        <b>{{completedAudit.q19}}</b>
      </div>
      <div *ngIf="completedAudit.q20 != 'na' ">
        "No smoking" posted and enforced (no cigarette butts in posted areas)<br />
        <b>{{completedAudit.q20}}</b>
      </div>
      <div *ngIf="completedAudit.q21 != 'na' ">
        Combustibles > 10 feet from building.<br />
        <b>{{completedAudit.q21}}</b>
      </div>
      <div *ngIf="completedAudit.q22 != 'na' ">
        Approved safety cans for gasoline.<br />
        <b>{{completedAudit.q22}}</b>
      </div>
    </div>
    <div id="electrical" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Electrical</h5>
      <div *ngIf="completedAudit.q23 != 'na' ">
        Terminal boxes equiped with  covers.<br />
        <b>{{completedAudit.q23}}</b>
      </div>
      <div *ngIf="completedAudit.q24 != 'na' ">
        GFCIs in place.<br />
        <b>{{completedAudit.q24}}</b>
      </div>
      <div *ngIf="completedAudit.q25 != 'na' ">
        All extension cords are 3-wire with ground pin in place and in good condition.<br />
        <b>{{completedAudit.q25}}</b>
      </div>
      <div *ngIf="completedAudit.q26 != 'na' ">
        All electrical tools and machinery have ground pin in place on power cable.<br />
        <b>{{completedAudit.q26}}</b>
      </div>
      <div *ngIf="completedAudit.q27 != 'na' ">
        Exposed light bulbs equipped with protective cage.<br />
        <b>{{completedAudit.q27}}</b>
      </div>
    </div>
    <div id="tools" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Tools: Hand and Power</h5>
      <div *ngIf="completedAudit.q28 != 'na' ">
        GFCI and grounded.<br />
        <b>{{completedAudit.q28}}</b>
      </div>
      <div *ngIf="completedAudit.q29 != 'na' ">
        All guards in place.<br />
        <b>{{completedAudit.q29}}</b>
      </div>
      <div *ngIf="completedAudit.q30 != 'na' ">
        Tools and cords in good condition.<br />
        <b>{{completedAudit.q30}}</b>
      </div>
      <div *ngIf="completedAudit.q31 != 'na' ">
        Inspected and maintained.<br />
        <b>{{completedAudit.q31}}</b>
      </div>
    </div>
    <div id="stairways_ladders" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Stairways and Ladders</h5>
      <div *ngIf="completedAudit.q32 != 'na' ">
        Inspected and in good condition<br />
        <b>{{completedAudit.q32}}</b>
      </div>
      <div *ngIf="completedAudit.q33 != 'na' ">
        Properly secured.<br />
        <b>{{completedAudit.q33}}</b>
      </div>
      <div *ngIf="completedAudit.q34 != 'na' ">
        Side rails extend 36" above top of landing.<br />
        <b>{{completedAudit.q34}}</b>
      </div>
      <div *ngIf="completedAudit.q35 != 'na' ">
        Ladder available for access to scaffolding.<br />
        <b>{{completedAudit.q35}}</b>
      </div>
      <div *ngIf="completedAudit.q36 != 'na' ">
        Guardrails provided for stairway landings.<br />
        <b>{{completedAudit.q36}}</b>
      </div>
      <div *ngIf="completedAudit.q37 != 'na' ">
        Handrails provided for stairways with four or more risers.<br />
        <b>{{completedAudit.q37}}</b>
      </div>
      <div *ngIf="completedAudit.q38 != 'na' ">
        Competent person periodically inspect ladders.<br />
        <b>{{completedAudit.q38}}</b>
      </div>
      <div *ngIf="completedAudit.q39 != 'na' ">
        Step ladders fully open when in use.<br />
        <b>{{completedAudit.q39}}</b>
      </div>
    </div>
    <div id="scaffolding" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Scaffolding</h5>
      <div *ngIf="completedAudit.q40 != 'na' ">
        Properly erected and supervised by competent person.<br />
        <b>{{completedAudit.q40}}</b>
      </div>
      <div *ngIf="completedAudit.q41 != 'na' ">
        Scaffolding tied to structure.<br />
        <b>{{completedAudit.q41}}</b>
      </div>
      <div *ngIf="completedAudit.q42 != 'na' ">
        Scaffolding plumb, with cross bracing in place.<br />
        <b>{{completedAudit.q42}}</b>
      </div>
      <div *ngIf="completedAudit.q43 != 'na' ">
        Fully planked with toe boards in place.<br />
        <b>{{completedAudit.q43}}</b>
      </div>
      <div *ngIf="completedAudit.q44 != 'na' ">
        Base plates used (no cinder blocks).<br />
        <b>{{completedAudit.q44}}</b>
      </div>
      <div *ngIf="completedAudit.q45 != 'na' ">
        Ladder access provided.<br />
        <b>{{completedAudit.q45}}</b>
      </div>
      <div *ngIf="completedAudit.q46 != 'na' ">
        Employees tied off while working on elevated motorized scaffolding.<br />
        <b>{{completedAudit.q46}}</b>
      </div>
      <div *ngIf="completedAudit.q47 != 'na' ">
        No riding on rolling scaffolding.<br />
        <b>{{completedAudit.q47}}</b>
      </div>
    </div>
    <div id="vehicles" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Motor vehicles and heavy equipment</h5>
      <div *ngIf="completedAudit.q48 != 'na' ">
        Service brakes and trailer brake connections inspected daily.<br />
        <b>{{completedAudit.q48}}</b>
      </div>
      <div *ngIf="completedAudit.q49 != 'na' ">
        Parking brake and service brake operable.<br />
        <b>{{completedAudit.q49}}</b>
      </div>
      <div *ngIf="completedAudit.q50 != 'na' ">
        Tires, horn, backup alarms, seat belts inspected.<br />
        <b>{{completedAudit.q50}}</b>
      </div>
      <div *ngIf="completedAudit.q51 != 'na' ">
        Lights, windshield wipers, defroster.<br />
        <b>{{completedAudit.q51}}</b>
      </div>
      <div *ngIf="completedAudit.q52 != 'na' ">
        Fire extinguisher in place and fully charged.<br />
        <b>{{completedAudit.q52}}</b>
      </div>
      <div *ngIf="completedAudit.q53 != 'na' ">
        Weights and loads controlled.<br />
        <b>{{completedAudit.q53}}</b>
      </div>
      <div *ngIf="completedAudit.q54 != 'na' ">
        Personnel carried safely - seat belts provided.<br />
        <b>{{completedAudit.q54}}</b>
      </div>
    </div>
    <div id="excavation" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Excavation</h5>
      <div *ngIf="completedAudit.q55 != 'na' ">
        Shoring adequate for soil and depth.<br />
        <b>{{completedAudit.q55}}</b>
      </div>
      <div *ngIf="completedAudit.q56 != 'na' ">
        Support system in place for adjacent structures.<br />
        <b>{{completedAudit.q56}}</b>
      </div>
      <div *ngIf="completedAudit.q57 != 'na' ">
        Spoil bank and equipment sufficient distance from excavation.<br />
        <b>{{completedAudit.q57}}</b>
      </div>
      <div *ngIf="completedAudit.q58 != 'na' ">
        Ladders provided.<br />
        <b>{{completedAudit.q58}}</b>
      </div>
      <div *ngIf="completedAudit.q59 != 'na' ">
        Competent person on site.<br />
        <b>{{completedAudit.q59}}</b>
      </div>
      <div *ngIf="completedAudit.q60 != 'na' ">
        Underground utilities located prior to excavation.<br />
        <b>{{completedAudit.q60}}</b>
      </div>
      <div *ngIf="completedAudit.q61 != 'na' ">
        Air samples taken prior to entry in underground tunnel/openings.<br />
        <b>{{completedAudit.q61}}</b>
      </div>
    </div>
    <div id="welding" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Welding and cutting</h5>
      <div *ngIf="completedAudit.q62 != 'na' ">
        Screens, shield, goggles and gloves.<br />
        <b>{{completedAudit.q62}}</b>
      </div>
      <div *ngIf="completedAudit.q63 != 'na' ">
        Gas cylinder secured in upright position.<br />
        <b>{{completedAudit.q63}}</b>
      </div>
      <div *ngIf="completedAudit.q64 != 'na' ">
        Fire extinguisher.<br />
        <b>{{completedAudit.q64}}</b>
      </div>
      <div *ngIf="completedAudit.q65 != 'na' ">
        Electrical equipment grounded.<br />
        <b>{{completedAudit.q65}}</b>
      </div>
      <div *ngIf="completedAudit.q66 != 'na' ">
        Valve protection caps in place when gas not in use.<br />
        <b>{{completedAudit.q66}}</b>
      </div>
      <div *ngIf="completedAudit.q67 != 'na' ">
        Fire watch provided 30 minutes subsequent to welding near flammable/combustible materials.<br />
        <b>{{completedAudit.q67}}</b>
      </div>
    </div>
    <div id="concrete" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Concrete and Masonry</h5>
      <div *ngIf="completedAudit.q68 != 'na' ">
        Proper scaffolding<br />
        <b>{{completedAudit.q68}}</b>
      </div>
      <div *ngIf="completedAudit.q69 != 'na' ">
        Safe hoisting equipment.<br />
        <b>{{completedAudit.q69}}</b>
      </div>
      <div *ngIf="completedAudit.q70 != 'na' ">
        Masonry walls over 8 ft braced.<br />
        <b>{{completedAudit.q70}}</b>
      </div>
      <div *ngIf="completedAudit.q71 != 'na' ">
        Proper fall protection used.<br />
        <b>{{completedAudit.q71}}</b>
      </div>
      <div *ngIf="completedAudit.q72 != 'na' ">
        Guard rails on all open floors.<br />
        <b>{{completedAudit.q72}}</b>
      </div>
      <div *ngIf="completedAudit.q73 != 'na' ">
        All protruded rebar guarded.<br />
        <b>{{completedAudit.q73}}</b>
      </div>
      <div *ngIf="completedAudit.q74 != 'na' ">
        Hard hats and safety shoes<br />
        <b>{{completedAudit.q74}}</b>
      </div>
    </div>
    <div id="highway_workzone" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Highway Work Zone</h5>
      <div *ngIf="completedAudit.q75 != 'na' ">
        Competent flagmen - reflective garments, instructed, posted.<br />
        <b>{{completedAudit.q75}}</b>
      </div>
      <div *ngIf="completedAudit.q76 != 'na' ">
        Adequate warning signs and markers.<br />
        <b>{{completedAudit.q76}}</b>
      </div>
      <div *ngIf="completedAudit.q77 != 'na' ">
        Traffic control through construction area.<br />
        <b>{{completedAudit.q77}}</b>
      </div>
      <div *ngIf="completedAudit.q78 != 'na' ">
        Dust control.<br />
        <b>{{completedAudit.q78}}</b>
      </div>
      <div *ngIf="completedAudit.q79 != 'na' ">
        Work zone of heavy equipment protected from pedestrians and other traffic.<br />
        <b>{{completedAudit.q79}}</b>
      </div>
      <div *ngIf="completedAudit.q80 != 'na' ">
        Equipment inspected daily.<br />
        <b>{{completedAudit.q80}}</b>
      </div>
      <div *ngIf="completedAudit.q81 != 'na' ">
        Backup alarms and horns operational.<br />
        <b>{{completedAudit.q81}}</b>
      </div>
      <div *ngIf="completedAudit.q82 != 'na' ">
        Proper lighting.<br />
        <b>{{completedAudit.q82}}</b>
      </div>
    </div>
    <div id="fallprotection" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Fall Protection</h5>
      <div *ngIf="completedAudit.q83 != 'na' ">
        Floor openings.<br />
        <b>{{completedAudit.q83}}</b>
      </div>
      <div *ngIf="completedAudit.q84 != 'na' ">
        Guardrails in place/replaced after each load received.<br />
        <b>{{completedAudit.q84}}</b>
      </div>
      <div *ngIf="completedAudit.q85 != 'na' ">
        Safety harness provided and used.<br />
        <b>{{completedAudit.q85}}</b>
      </div>
      <div *ngIf="completedAudit.q86 != 'na' ">
        Floor holes protected/secured/marked.<br />
        <b>{{completedAudit.q86}}</b>
      </div>
      <div *ngIf="completedAudit.q87 != 'na' ">
        Wall openings guarded.<br />
        <b>{{completedAudit.q87}}</b>
      </div>
    </div>
    <div id="general" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>General</h5>
      <div *ngIf="completedAudit.q88 != 'na' ">
        Hard hats.<br />
        <b>{{completedAudit.q88}}</b>
      </div>
      <div *ngIf="completedAudit.q89 != 'na' ">
        Proper footwear.<br />
        <b>{{completedAudit.q89}}</b>
      </div>
      <div *ngIf="completedAudit.q94 != 'na' ">
        Hearing protection.<br />
        <b>{{completedAudit.q94}}</b>
      </div>
      <div *ngIf="completedAudit.q90 != 'na' ">
        Eye protection.<br />
        <b>{{completedAudit.q90}}</b>
      </div>
      <div *ngIf="completedAudit.q91 != 'na' ">
        Potable water.<br />
        <b>{{completedAudit.q91}}</b>
      </div>
      <div *ngIf="completedAudit.q92 != 'na' ">
        Unusual exposures identified and controlled.<br />
        <b>{{completedAudit.q92}}</b>
      </div>
      <div *ngIf="completedAudit.q93 != 'na' ">
        Notes.<br />
        <b>{{completedAudit.q93}}</b>
      </div>
    </div>
  </div>
</div>
