<div class="justify-content-start">
  <h2>P&C Equipment Sign Out</h2>
  <div id="selectcategory">
    <div class="justify-content-start" id="category" *ngIf="!selectedType">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="categoryselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Equipment Type</button>
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="categoryselect">
          <li *ngFor="let type of types">
            <p (click)="onSelect(type)">{{type}}</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Issue tool/safety equipment -->

    <div id="tool" *ngIf="selectedType == 'Tool'">
      <h4>Tool Signout</h4>
      <div class="panel-group">
        <form [formGroup]="signoutForm">
          <button class="btn btn-primary" (click)="onSubmit(rental)">Submit</button>
          <button class="btn btn-danger" (click)="reset()">Reset</button>
          <div class="panel justify-content-start">
            PC Number<br />
            <input list="tool1" formControlName="equipmentId" />
            <datalist id="tool1">
              <option *ngFor="let tool of tools | orderBy: 'pcnum'" [value]="tool.pcnum">{{tool.description}}</option>
            </datalist><br />
            <div *ngFor="let tool of tools">
              <div *ngIf="signoutForm.value.equipmentId && tool.pcnum==signoutForm.value.equipmentId">
                <input list="description" type="hidden" formControlName="description" [value]="tool.description" [(ngModel)]="tool.description" />
                <a>{{tool.description}}</a>
              </div>
            </div>
            User<br />
            <input list="employee" formControlName="user" />
            <datalist id="employee">
              <option *ngFor="let employee of employees | orderBy: 'prefName'">{{employee.prefName}}</option>
            </datalist><br />
            Job<br />
            <input list="job" formControlName="job" />
            <datalist id="job">
              <option *ngFor="let job of jobs | orderBy: 'name'" [value]="job.name"></option>
            </datalist><br />

            Date Out<br />
            <div class="form-group">
              <div class="input-group">
                <input list="dateOut" formControlName="dateOut" id="dateOut" [(ngModel)]="dateOut" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            Comments
            <textarea class="form-control" formControlName="comments" rows="2" id="comments"></textarea>
            <br />
            <div class="panel">
              <button class="btn btn-primary" (click)="onSubmit(rental)">Submit</button>
              <button class="btn btn-danger" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Issue truck or trailer -->

    <div id="truck" *ngIf="selectedType == 'Vehicle/trailer'">
      <h4>{{selectedMenu.item}}</h4>
      <div class="panel-group">
        <form [formGroup]="truckrentalForm" (ngSubmit)="truckSubmit(rental)">
          <button class="btn btn-primary" (click)="truckSubmit(rental)">Submit</button>
          <button class="btn btn-danger" (click)="reset()">Reset</button>
          <div class="panel justify-content-start">
            Truck or trailer number<br />
            <input list="truck1" formControlName="itemid" />
            <datalist id="truck1">
              <option *ngFor="let truck of trucks | orderBy: 'id'" [value]="truck.id">{{truck.year}} {{truck.mfg}} {{truck.model}} - {{truck.color}}</option>
            </datalist><br />
            <div *ngFor="let truck of trucks">
              <div *ngIf="truck.id==truckrentalForm.value.itemId">
                Description<br />
                <a>{{truck.year}} {{truck.mfg}} {{truck.model}} - {{truck.color}}</a>
              </div>
            </div>
            User<br />
            <input list="employee" formControlName="user" required />
            <datalist id="employee">
              <option *ngFor="let employee of employees | orderBy: 'prefName'">{{employee.prefName}}</option>
            </datalist><br />
            Job<br />
            <input list="job" formControlName="job" />
            <datalist id="job">
              <option *ngFor="let job of jobs | orderBy: 'name'" [value]="job.name"></option>
            </datalist><br />
            Mileage Out<br />
            <input type="text" formControlName="issuemileage" required /><br />
            Fuel Out<br />
            <input type="text" formControlName="issuefuel" /><br />
            Date Out
            <!--<input type="date" formControlName="issueDate" [(ngModel)]="issuedate" value="'today'" required /><br />-->
            <div class="form-group">
              <div class="input-group">
                <input list="issuedate" formControlName="issuedate" id="issuedate" [(ngModel)]="issuedate" ngbDatepicker #d="ngbDatepicker" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            Condition<br />
            <textarea class="form-control" formControlName="condition" rows="2" id="condition"></textarea><br />
            Purpose
            <textarea class="form-control" formControlName="purpose" rows="2" id="purpose"></textarea><br />
            Comments
            <textarea class="form-control" formControlName="comments" rows="2" id="comments"></textarea>
            <br />
            <div class="panel">
              <button class="btn btn-primary" (click)="truckSubmit(rental)">Submit</button>
              <button class="btn btn-danger" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Issue consumable -->

    <div id="consumable" *ngIf="selectedType == 'Consumable'">
      <h4>Issue Consumable</h4>
      <div class="panel-group">
        <form [formGroup]="consumableForm">
          <button class="btn btn-primary" (click)="consumable(issue)">Submit</button>
          <button class="btn btn-danger" (click)="reset()">Reset</button>
          <div class="panel justify-content-start">
            Item Number<br />
            <input list="consumable1" formControlName="itemId" />
            <datalist id="consumable1">
              <option *ngFor="let consumable of consumables | orderBy: 'itemNum'" [value]="consumable.itemNum">{{consumable.description}}</option>
            </datalist><br />
            <div *ngFor="let consumable of consumables">
              <div *ngIf="consumableForm.value.itemId && consumable.itemNum==consumableForm.value.itemId">
                <input list="description" type="hidden" formControlName="description" [value]="consumable.description" [(ngModel)]="consumable.description" />
                <a>{{consumable.description}}</a>
              </div>
            </div>
            Quantity<br />
            <input type="text" formControlName="quantity" required /><br />
            User<br />
            <input list="employee" formControlName="user" required />
            <datalist id="employee">
              <option *ngFor="let employee of employees | orderBy: 'prefName'">{{employee.prefName}}</option>
            </datalist><br />
            Job<br />
            <input list="job" formControlName="job" required />
            <datalist id="job">
              <option *ngFor="let job of jobs | orderBy: 'name'" [value]="job.name"></option>
            </datalist><br />

            Issue Date<br />
            <div class="form-group">
              <div class="input-group">
                <input list="issueDate" formControlName="issueDate" id="issueDate" [(ngModel)]="issueDate" ngbDatepicker #d="ngbDatepicker" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            Comments
            <textarea class="form-control" formControlName="comments" rows="2" id="comments"></textarea>
            <br />
            <div class="panel">
              <button class="btn btn-primary" (click)="consumable(issue)">Submit</button>
              <button class="btn btn-danger" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
