﻿@model PCCIntranet.Models.Jobsites

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jobsites</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectManager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectManager)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CalendarStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CalendarStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CcLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CcLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AchLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AchLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectedStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectedStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectedCompletion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectedCompletion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualCompletion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCompletion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaselineDurationWorkDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaselineDurationWorkDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualDurationWorkDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualDurationWorkDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPrefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobPrefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobGroups)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobGroups)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Permit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Permit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IndividualPoLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualPoLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverallPoLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverallPoLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingTemplate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingTemplate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobRunningTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobRunningTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentsReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentsReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCostBillPoCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCostBillPoCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPaidBillPoPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPaidBillPoPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalRemainingBillPoRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalRemainingBillPoRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerActivationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerActivationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerLastViewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerLastViewed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimateStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimateStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuperintendentFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuperintendentFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCPersonnel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCPersonnel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneralNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneralNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeOrderNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeOrderNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermittingPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermittingPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermittingContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermittingContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermittingRequirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermittingRequirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermittingNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermittingNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensingPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensingPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensingContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensingContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensingNeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensingNeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensingRequirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensingRequirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensingNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensingNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermitInfoTapFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermitInfoTapFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermitInfoWater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermitInfoWater)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermitIntoSewer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermitIntoSewer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermitInfoContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermitInfoContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermitInfoPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermitInfoPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermitInfoNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermitInfoNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseStateExpires)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseStateExpires)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseCityCountyExp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseCityCountyExp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.License)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseSubs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseSubs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensesFiledTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensesFiledTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensesContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensesContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseRequirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseRequirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensesNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensesNotes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JobsiteId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
