﻿@model PCCIntranet.Models.Jobsites

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Jobsites</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobsiteId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManager" class="control-label"></label>
                <input asp-for="ProjectManager" class="form-control" />
                <span asp-validation-for="ProjectManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell" class="control-label"></label>
                <input asp-for="Cell" class="form-control" />
                <span asp-validation-for="Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarStatus" class="control-label"></label>
                <input asp-for="CalendarStatus" class="form-control" />
                <span asp-validation-for="CalendarStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CcLimit" class="control-label"></label>
                <input asp-for="CcLimit" class="form-control" />
                <span asp-validation-for="CcLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AchLimit" class="control-label"></label>
                <input asp-for="AchLimit" class="form-control" />
                <span asp-validation-for="AchLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectedStart" class="control-label"></label>
                <input asp-for="ProjectedStart" class="form-control" />
                <span asp-validation-for="ProjectedStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <input asp-for="JobType" class="form-control" />
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectedCompletion" class="control-label"></label>
                <input asp-for="ProjectedCompletion" class="form-control" />
                <span asp-validation-for="ProjectedCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualStart" class="control-label"></label>
                <input asp-for="ActualStart" class="form-control" />
                <span asp-validation-for="ActualStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualCompletion" class="control-label"></label>
                <input asp-for="ActualCompletion" class="form-control" />
                <span asp-validation-for="ActualCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaselineDurationWorkDays" class="control-label"></label>
                <input asp-for="BaselineDurationWorkDays" class="form-control" />
                <span asp-validation-for="BaselineDurationWorkDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualDurationWorkDays" class="control-label"></label>
                <input asp-for="ActualDurationWorkDays" class="form-control" />
                <span asp-validation-for="ActualDurationWorkDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPrefix" class="control-label"></label>
                <input asp-for="JobPrefix" class="form-control" />
                <span asp-validation-for="JobPrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobGroups" class="control-label"></label>
                <input asp-for="JobGroups" class="form-control" />
                <span asp-validation-for="JobGroups" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lot" class="control-label"></label>
                <input asp-for="Lot" class="form-control" />
                <span asp-validation-for="Lot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit" class="control-label"></label>
                <input asp-for="Permit" class="form-control" />
                <span asp-validation-for="Permit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndividualPoLimit" class="control-label"></label>
                <input asp-for="IndividualPoLimit" class="form-control" />
                <span asp-validation-for="IndividualPoLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverallPoLimit" class="control-label"></label>
                <input asp-for="OverallPoLimit" class="form-control" />
                <span asp-validation-for="OverallPoLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingTemplate" class="control-label"></label>
                <input asp-for="WorkingTemplate" class="form-control" />
                <span asp-validation-for="WorkingTemplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractPrice" class="control-label"></label>
                <input asp-for="ContractPrice" class="form-control" />
                <span asp-validation-for="ContractPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobRunningTotal" class="control-label"></label>
                <input asp-for="JobRunningTotal" class="form-control" />
                <span asp-validation-for="JobRunningTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentsReceived" class="control-label"></label>
                <input asp-for="PaymentsReceived" class="form-control" />
                <span asp-validation-for="PaymentsReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerBalance" class="control-label"></label>
                <input asp-for="OwnerBalance" class="form-control" />
                <span asp-validation-for="OwnerBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCostBillPoCost" class="control-label"></label>
                <input asp-for="TotalCostBillPoCost" class="form-control" />
                <span asp-validation-for="TotalCostBillPoCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPaidBillPoPaid" class="control-label"></label>
                <input asp-for="TotalPaidBillPoPaid" class="form-control" />
                <span asp-validation-for="TotalPaidBillPoPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRemainingBillPoRemaining" class="control-label"></label>
                <input asp-for="TotalRemainingBillPoRemaining" class="form-control" />
                <span asp-validation-for="TotalRemainingBillPoRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerActivationStatus" class="control-label"></label>
                <input asp-for="OwnerActivationStatus" class="form-control" />
                <span asp-validation-for="OwnerActivationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerLastViewed" class="control-label"></label>
                <input asp-for="OwnerLastViewed" class="form-control" />
                <span asp-validation-for="OwnerLastViewed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateStatus" class="control-label"></label>
                <input asp-for="EstimateStatus" class="form-control" />
                <span asp-validation-for="EstimateStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperintendentFullName" class="control-label"></label>
                <input asp-for="SuperintendentFullName" class="form-control" />
                <span asp-validation-for="SuperintendentFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCPersonnel" class="control-label"></label>
                <input asp-for="PCPersonnel" class="form-control" />
                <span asp-validation-for="PCPersonnel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralNotes" class="control-label"></label>
                <input asp-for="GeneralNotes" class="form-control" />
                <span asp-validation-for="GeneralNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeOrderNotes" class="control-label"></label>
                <input asp-for="ChangeOrderNotes" class="form-control" />
                <span asp-validation-for="ChangeOrderNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermittingPhone" class="control-label"></label>
                <input asp-for="PermittingPhone" class="form-control" />
                <span asp-validation-for="PermittingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermittingContact" class="control-label"></label>
                <input asp-for="PermittingContact" class="form-control" />
                <span asp-validation-for="PermittingContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermittingRequirements" class="control-label"></label>
                <input asp-for="PermittingRequirements" class="form-control" />
                <span asp-validation-for="PermittingRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermittingNotes" class="control-label"></label>
                <input asp-for="PermittingNotes" class="form-control" />
                <span asp-validation-for="PermittingNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensingPhone" class="control-label"></label>
                <input asp-for="LicensingPhone" class="form-control" />
                <span asp-validation-for="LicensingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensingContact" class="control-label"></label>
                <input asp-for="LicensingContact" class="form-control" />
                <span asp-validation-for="LicensingContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensingNeed" class="control-label"></label>
                <input asp-for="LicensingNeed" class="form-control" />
                <span asp-validation-for="LicensingNeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensingRequirements" class="control-label"></label>
                <input asp-for="LicensingRequirements" class="form-control" />
                <span asp-validation-for="LicensingRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensingNotes" class="control-label"></label>
                <input asp-for="LicensingNotes" class="form-control" />
                <span asp-validation-for="LicensingNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitInfoTapFee" class="control-label"></label>
                <input asp-for="PermitInfoTapFee" class="form-control" />
                <span asp-validation-for="PermitInfoTapFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitInfoWater" class="control-label"></label>
                <input asp-for="PermitInfoWater" class="form-control" />
                <span asp-validation-for="PermitInfoWater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitIntoSewer" class="control-label"></label>
                <input asp-for="PermitIntoSewer" class="form-control" />
                <span asp-validation-for="PermitIntoSewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitInfoContact" class="control-label"></label>
                <input asp-for="PermitInfoContact" class="form-control" />
                <span asp-validation-for="PermitInfoContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitInfoPhone" class="control-label"></label>
                <input asp-for="PermitInfoPhone" class="form-control" />
                <span asp-validation-for="PermitInfoPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitInfoNotes" class="control-label"></label>
                <input asp-for="PermitInfoNotes" class="form-control" />
                <span asp-validation-for="PermitInfoNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseStateExpires" class="control-label"></label>
                <input asp-for="LicenseStateExpires" class="form-control" />
                <span asp-validation-for="LicenseStateExpires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseCityCountyExp" class="control-label"></label>
                <input asp-for="LicenseCityCountyExp" class="form-control" />
                <span asp-validation-for="LicenseCityCountyExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="License" class="control-label"></label>
                <input asp-for="License" class="form-control" />
                <span asp-validation-for="License" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseSubs" class="control-label"></label>
                <input asp-for="LicenseSubs" class="form-control" />
                <span asp-validation-for="LicenseSubs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensesFiledTo" class="control-label"></label>
                <input asp-for="LicensesFiledTo" class="form-control" />
                <span asp-validation-for="LicensesFiledTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensesContact" class="control-label"></label>
                <input asp-for="LicensesContact" class="form-control" />
                <span asp-validation-for="LicensesContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePhone" class="control-label"></label>
                <input asp-for="LicensePhone" class="form-control" />
                <span asp-validation-for="LicensePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseRequirements" class="control-label"></label>
                <input asp-for="LicenseRequirements" class="form-control" />
                <span asp-validation-for="LicenseRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensesNotes" class="control-label"></label>
                <input asp-for="LicensesNotes" class="form-control" />
                <span asp-validation-for="LicensesNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
