﻿@model IEnumerable<PCCIntranet.Models.Jobsites>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CcLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectedStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectedCompletion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualCompletion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaselineDurationWorkDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualDurationWorkDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobGroups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndividualPoLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallPoLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobRunningTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentsReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCostBillPoCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPaidBillPoPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRemainingBillPoRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerActivationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerLastViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperintendentFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCPersonnel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeOrderNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermittingPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermittingContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermittingRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermittingNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensingPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensingContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensingNeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensingRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensingNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitInfoTapFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitInfoWater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitIntoSewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitInfoContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitInfoPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitInfoNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseStateExpires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseCityCountyExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseSubs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensesFiledTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensesContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensesNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectedStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectedCompletion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualCompletion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaselineDurationWorkDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualDurationWorkDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPrefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobGroups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndividualPoLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallPoLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRunningTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentsReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCostBillPoCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaidBillPoPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRemainingBillPoRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerActivationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerLastViewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperintendentFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCPersonnel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeOrderNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermittingPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermittingContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermittingRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermittingNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensingPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensingContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensingNeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensingRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensingNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitInfoTapFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitInfoWater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitIntoSewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitInfoContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitInfoPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitInfoNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseStateExpires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseCityCountyExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseSubs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensesFiledTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensesContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensesNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobsiteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobsiteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobsiteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
