
<div id="#accordion">
  <div style="width:100vw; text-align:center; padding:4px;"><h2>Closeouts</h2><br /></div>

  <div class="row">
    <div class="dropdown">
      <button class="btn btn-outline secondary dropdown-toggle" type="button" id="teamselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Team Lead
      </button>
      <ul class="dropdown-menu" aria-labelledby="teamselect">
        <li *ngFor="let teamlead of teamleads">
          <p (click)="teamSelect(teamlead)">
            {{teamlead.name}}
          </p>
        </li>
      </ul>
    </div>
    &nbsp;&nbsp;
    <div class="dropdown">
      <button class="btn btn-outline secondary dropdown-toggle" type="button" id="pmselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Project Manager
      </button>
      <ul class="dropdown-menu" aria-labelledby="pmselect">
        <li *ngFor="let pm of projectmanagers">
          <p (click)="pmSelect(pm)">
            {{pm}}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">

    <div id="closeouts" class="card bg-light w-100">
      <div class="card-body" id="Closeouts" style="height:auto; overflow:scroll" aria-labelledby="Closeouts" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-3"><b>Project</b></a>
          <a class="col-md-2"><b>Project Manager</b></a>
          <a class="col-md-7"><b>Notes</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let project of projects | orderBy: 'projectManager'; let i2=index;">
          <div class="panel panel-default">
            <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups == '1-Closeouts' && (selectedTeam.indexOf(project.projectManager)>-1 && selectedPM.indexOf(project.projectManager)>-1))">
              <a class="col-md-3 text-dark" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseTwo_' + i2">{{project.name}}</a>
              <a class="col-md-2">{{project.projectManager}}</a>
              <textarea class="col-md-7" rows="4" (change)="updateProject(project)" [(ngModel)]="project.generalNotes" style="width: 100%; max-width:100%;"></textarea>
            </div>
            <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#accordion">
              <div class="panel-body col-md-2 offset-1" *ngIf="selectedProject && selectedProject.jobGroups=='1-Closeouts' && selectedProject.status == 'OPEN'">
                <a>Job Status:</a><br />
                <select class="form-control" (change)="updateProject(project)" [(ngModel)]="selectedProject.status">
                  <option>OPEN</option>
                  <option>CLOSED</option>
                </select>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
