﻿@model PCCIntranet.Models.DailyLogs

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailyLogs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jobsite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobsite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherCondition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherCondition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherMaxMinTemp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherMaxMinTemp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherWind)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherWind)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherMaxMinHumidity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherMaxMinHumidity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherRecordedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherRecordedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherEvent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherEvent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeatherNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeatherNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedItems)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedItems)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPerformedByPC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPerformedByPC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPerformedBySubs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPerformedBySubs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPerformed3rdParty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPerformed3rdParty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProblemsDelays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProblemsDelays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialAssignments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialAssignments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtraWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyEquipmentNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyEquipmentNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentOnRent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentOnRent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentOnRentNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentOnRentNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialsPurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialsPurchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToDos2WeekLookAhead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToDos2WeekLookAhead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Superintendent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Superintendent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Masons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Masons)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concrete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concrete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarpenterForman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarpenterForman)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drywall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drywall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Painters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Painters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plumbers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plumbers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlooringInstallers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlooringInstallers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FixtureCrew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FixtureCrew)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Electricians)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Electricians)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HvacContractor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HvacContractor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SprinklerFireAlarm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SprinklerFireAlarm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Laborers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Laborers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Landscapers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Landscapers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weather)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JobsiteId" />
        <input type="hidden" asp-for="DailyLogId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
