﻿@model PCCIntranet.Models.DailyLogs

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DailyLogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobsiteId" />
            <div class="form-group">
                <label asp-for="Jobsite" class="control-label"></label>
                <input asp-for="Jobsite" class="form-control" />
                <span asp-validation-for="Jobsite" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DailyLogId" />
            <div class="form-group">
                <label asp-for="LogDate" class="control-label"></label>
                <input asp-for="LogDate" class="form-control" />
                <span asp-validation-for="LogDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogNotes" class="control-label"></label>
                <input asp-for="LogNotes" class="form-control" />
                <span asp-validation-for="LogNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherCondition" class="control-label"></label>
                <input asp-for="WeatherCondition" class="form-control" />
                <span asp-validation-for="WeatherCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherMaxMinTemp" class="control-label"></label>
                <input asp-for="WeatherMaxMinTemp" class="form-control" />
                <span asp-validation-for="WeatherMaxMinTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherWind" class="control-label"></label>
                <input asp-for="WeatherWind" class="form-control" />
                <span asp-validation-for="WeatherWind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherMaxMinHumidity" class="control-label"></label>
                <input asp-for="WeatherMaxMinHumidity" class="form-control" />
                <span asp-validation-for="WeatherMaxMinHumidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherRecordedDate" class="control-label"></label>
                <input asp-for="WeatherRecordedDate" class="form-control" />
                <span asp-validation-for="WeatherRecordedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherEvent" class="control-label"></label>
                <input asp-for="WeatherEvent" class="form-control" />
                <span asp-validation-for="WeatherEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherNotes" class="control-label"></label>
                <input asp-for="WeatherNotes" class="form-control" />
                <span asp-validation-for="WeatherNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelatedItems" class="control-label"></label>
                <input asp-for="RelatedItems" class="form-control" />
                <span asp-validation-for="RelatedItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPerformedByPC" class="control-label"></label>
                <input asp-for="WorkPerformedByPC" class="form-control" />
                <span asp-validation-for="WorkPerformedByPC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPerformedBySubs" class="control-label"></label>
                <input asp-for="WorkPerformedBySubs" class="form-control" />
                <span asp-validation-for="WorkPerformedBySubs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPerformed3rdParty" class="control-label"></label>
                <input asp-for="WorkPerformed3rdParty" class="form-control" />
                <span asp-validation-for="WorkPerformed3rdParty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemsDelays" class="control-label"></label>
                <input asp-for="ProblemsDelays" class="form-control" />
                <span asp-validation-for="ProblemsDelays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialAssignments" class="control-label"></label>
                <input asp-for="SpecialAssignments" class="form-control" />
                <span asp-validation-for="SpecialAssignments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraWork" class="control-label"></label>
                <input asp-for="ExtraWork" class="form-control" />
                <span asp-validation-for="ExtraWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEquipment" class="control-label"></label>
                <input asp-for="CompanyEquipment" class="form-control" />
                <span asp-validation-for="CompanyEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEquipmentNotes" class="control-label"></label>
                <input asp-for="CompanyEquipmentNotes" class="form-control" />
                <span asp-validation-for="CompanyEquipmentNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentOnRent" class="control-label"></label>
                <input asp-for="EquipmentOnRent" class="form-control" />
                <span asp-validation-for="EquipmentOnRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentOnRentNotes" class="control-label"></label>
                <input asp-for="EquipmentOnRentNotes" class="form-control" />
                <span asp-validation-for="EquipmentOnRentNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialsPurchased" class="control-label"></label>
                <input asp-for="MaterialsPurchased" class="form-control" />
                <span asp-validation-for="MaterialsPurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDos2WeekLookAhead" class="control-label"></label>
                <input asp-for="ToDos2WeekLookAhead" class="form-control" />
                <span asp-validation-for="ToDos2WeekLookAhead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superintendent" class="control-label"></label>
                <input asp-for="Superintendent" class="form-control" />
                <span asp-validation-for="Superintendent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masons" class="control-label"></label>
                <input asp-for="Masons" class="form-control" />
                <span asp-validation-for="Masons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concrete" class="control-label"></label>
                <input asp-for="Concrete" class="form-control" />
                <span asp-validation-for="Concrete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarpenterForman" class="control-label"></label>
                <input asp-for="CarpenterForman" class="form-control" />
                <span asp-validation-for="CarpenterForman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drywall" class="control-label"></label>
                <input asp-for="Drywall" class="form-control" />
                <span asp-validation-for="Drywall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painters" class="control-label"></label>
                <input asp-for="Painters" class="form-control" />
                <span asp-validation-for="Painters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plumbers" class="control-label"></label>
                <input asp-for="Plumbers" class="form-control" />
                <span asp-validation-for="Plumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlooringInstallers" class="control-label"></label>
                <input asp-for="FlooringInstallers" class="form-control" />
                <span asp-validation-for="FlooringInstallers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixtureCrew" class="control-label"></label>
                <input asp-for="FixtureCrew" class="form-control" />
                <span asp-validation-for="FixtureCrew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricians" class="control-label"></label>
                <input asp-for="Electricians" class="form-control" />
                <span asp-validation-for="Electricians" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HvacContractor" class="control-label"></label>
                <input asp-for="HvacContractor" class="form-control" />
                <span asp-validation-for="HvacContractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SprinklerFireAlarm" class="control-label"></label>
                <input asp-for="SprinklerFireAlarm" class="form-control" />
                <span asp-validation-for="SprinklerFireAlarm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteWork" class="control-label"></label>
                <input asp-for="SiteWork" class="form-control" />
                <span asp-validation-for="SiteWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laborers" class="control-label"></label>
                <input asp-for="Laborers" class="form-control" />
                <span asp-validation-for="Laborers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Landscapers" class="control-label"></label>
                <input asp-for="Landscapers" class="form-control" />
                <span asp-validation-for="Landscapers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialty" class="control-label"></label>
                <input asp-for="Specialty" class="form-control" />
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weather" class="control-label"></label>
                <input asp-for="Weather" class="form-control" />
                <span asp-validation-for="Weather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
