﻿@model IEnumerable<PCCIntranet.Models.DailyLogs>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherMaxMinTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherWind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherMaxMinHumidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherRecordedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPerformedByPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPerformedBySubs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPerformed3rdParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemsDelays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialAssignments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyEquipmentNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentOnRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentOnRentNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialsPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDos2WeekLookAhead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superintendent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concrete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarpenterForman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drywall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plumbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlooringInstallers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixtureCrew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Electricians)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HvacContractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SprinklerFireAlarm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laborers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landscapers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jobsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherMaxMinTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherWind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherMaxMinHumidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherRecordedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPerformedByPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPerformedBySubs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPerformed3rdParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemsDelays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialAssignments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyEquipmentNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentOnRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentOnRentNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialsPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDos2WeekLookAhead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superintendent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Masons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concrete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarpenterForman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drywall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Painters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plumbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlooringInstallers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureCrew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Electricians)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HvacContractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SprinklerFireAlarm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laborers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landscapers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weather)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
