<div *ngIf="completedAudit">
  <div class="justify-content-start" id="jobsitereview">
    <div class="panel justify-content-start">
      <h4>{{completedAudit.projectname}}</h4>
      <div><span>Audit Date: {{completedAudit.auditdate | date}}</span></div>
      <div><span>Auditor: </span>{{completedAudit.auditor}} </div>
      <div><span>Project Manager: </span>{{completedAudit.projectmanager}}</div>
      <div><span>Project Superintendent: </span>{{completedAudit.superintendent}}</div>
      <p></p>
    </div>
    <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
      <div id="general" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Is a P&C sign up and in order?
          <b>{{completedAudit.q33}}</b>
        </div>
        <div *ngIf="completedAudit.q33 == 'No'">
          Why not?
          <b>{{completedAudit.q47}}</b>
        </div>
        <div>
          Are acces paths/roads free and clear of debris?
          <b>{{completedAudit.q25}}</b>
        </div>
        <div *ngIf="completedAudit.q25=='No'">
          Describe.
          <b>{{completedAudit.q26}}</b>
        </div>
        <div>
          Is the job site clean?<br />
          <b>{{completedAudit.q1}}</b>
        </div>
        <div *ngIf="completedAudit.q1 == 'No' ">
          Comments.<br />
          <b>{{completedAudit.q2}}</b>
        </div>
        <div>
          Are project required postings up and in order?
          <b>{{completedAudit.q31}}</b>
        </div>
        <div>
          List required postings and any issues.
          <b>{{completedAudit.q32}}</b>
        </div>
        <div>
          Are there any subcontractor issues?
          <b>{{completedAudit.q29}}</b>
        </div>
        <div *ngIf="completedAudit.q29=='Yes'">
          Describe.
          <b>{{completedAudit.q30}}</b>
        </div>
        <div>
          Is there any rental equipment on site not being used?
          <b>{{completedAudit.q38}}</b>
        </div>
        <div *ngIf="completedAudit.q38=='Yes'">
          What equipment is not being used and what is the plan to address?
          <b>{{completedAudit.q39}}</b>
        </div>
        <div>
          Is there any P&C equipment on site not being used?
          <b>{{completedAudit.q40}}</b>
        </div>
        <div *ngIf="completedAudit.q40=='Yes'">
          What equipment is not being used and what is the plan to address?
          <b>{{completedAudit.q41}}</b>
        </div>
        <div>
          What are the key project milestones remaining?
          <b>{{completedAudit.q42}}</b>
        </div>
      </div>
      <div id="schedule" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Does the superintendent have a two week look ahead?<br />
          <b>{{completedAudit.q8}}</b>
        </div>
        <div *ngIf="completedAudit.q8=='No'">
          Why not?
          <b>{{completedAudit.q48}}</b>
        </div>
        <div>
          Is there an up to date schedule located on the job?<br />
          <b>{{completedAudit.q3}}</b>
        </div>
        <div *ngIf="completedAudit.q3 == 'Yes' ">
          Is the job on schedule?<br />
          <b>{{completedAudit.q4}}</b>
        </div>
        <div *ngIf="completedAudit.q4 == 'No' ">
          Describe the schedule status, indicating what is behind by trade.  Include any reasons known.<br />
          <b>{{completedAudit.q5}}</b>
        </div>
        <div *ngIf="completedAudit.q3=='Yes' && completedAudit.q4">
          What communication has there been with the superintendent?<br />
          <b>{{completedAudit.q43}}</b>
        </div>
        <div *ngIf="completedAudit.q3=='Yes' && completedAudit.q4">
          What communication has there been with the owner and subs?<br />
          <b>{{completedAudit.q19}}</b>
        </div>
        <div *ngIf="completedAudit.q3 == 'No' ">
          Why not?<br />
          <b>{{completedAudit.q6}}</b>
        </div>
        <div>
          When was your last scheduled sub meeting?  Did it occur as planned?<br />
          <b>{{completedAudit.q44}}</b>
        </div>
        <div>
          Are there any change orders pending approval?
          <b>{{completedAudit.q20}}</b>
        </div>
        <div *ngIf="completedAudit.q20=='Yes'">
          Describe any impacts to job progress.<br />
          <b>{{completedAudit.q21}}</b>
        </div>
        <div>
          Are there any RFIs holding up progress?
          <b>{{completedAudit.q36}}</b>
        </div>
        <div *ngIf="completedAudit.q36=='Yes'">
          Describe.<br />
          <b>{{completedAudit.q37}}</b>
        </div>
        <div>
          Are required inspections up to date?
          <b>{{completedAudit.q22}}</b>
        </div>
        <div *ngIf="completedAudit.q22=='No'">
          Describe what remains along with any impacts to job progress.<br />
          <b>{{completedAudit.q23}}</b>
        </div>
        <div>
          When is the next owner visit?<br />
          <b>{{completedAudit.q24}}</b>
        </div>
        <div>
          Is the most current set of drawings on site?
          <b>{{completedAudit.q34}}</b>
        </div>
        <div *ngIf="completedAudit.q34=='No'">
          What is missing/not current and why?<br />
          <b>{{completedAudit.q35}}</b>
        </div>
      </div>
      <div id="quality" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Is job quality up to standards?<br />
          <b>{{completedAudit.q7}}</b>
        </div>
        <div *ngIf="completedAudit.q7 == 'No' ">
          Describe.
          <b>{{completedAudit.q15}}</b>
        </div>
        <div>
          Status of quality management plan.
          <b>{{completedAudit.q45}}</b>
        </div>
      </div>
      <div id="documentation" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
        <div>
          Are complete daily logs being submitted each day on site?<br />
          <b>{{completedAudit.q10}}</b>
        </div>
        <div *ngIf="completedAudit.q10 == 'Yes' ">
          Are daily logs capturing the level of information to both support the daily job communication as well as provide long term supporting documentation of the project?<br />
          <b>{{completedAudit.q11}}</b>
        </div>
        <div *ngIf="completedAudit.q11 == 'No' ">
          Describe what the superintendent needs to do differently to capture the right information.<br />
          <b>{{completedAudit.q12}}</b>
        </div>
        <div *ngIf="completedAudit.q12">
          Has this been communicated to the superintendent?
          <b>{{completedAudit.q46}}</b>
        </div>
        <div *ngIf="completedAudit.q10 == 'No' ">
          Why not?<br />
          <b>{{completedAudit.q13}}</b>
        </div>
        <div>
          Are weekly toolbox talks being performed with all personnel on job (P&C employees, subs and vendors)?<br />
          <b>{{completedAudit.q14}}</b>
        </div>
        <div *ngIf="completedAudit.q14 == 'No' ">
          Why not?<br />
          <b>{{completedAudit.q16}}</b>
        </div>
      </div>

    </div>
  </div>
</div>
