<div class="justify-content-start">
  <h2>P&C Tools Inventory</h2>
  <div>
    <button class="btn btn-outline-secondary" (click)="toggleForm()">{{buttonName}}</button>
  </div>
  <div id="table" *ngIf="!show">
    <div class="panel-heading row">
      <a class="col-md-1"><b>PC Number</b></a>
      <a class="col-md-1"><b>Manufacturer</b></a>
      <a class="col-md-1"><b>Model Number</b></a>
      <a class="col-md-2"><b>Description</b></a>
      <a class="col-md-2"><b>Serial Number</b></a>
      <a class="col-md-1"><b>Condition</b></a>
      <a class="col-md-1"><b>Storage Location</b></a>
      <a *ngIf="currentUser?.role == 'admin'" class="col-md-1"><b>Daily Rate</b></a>
    </div>
    <div class="panel-default" *ngFor="let tool of tools | orderBy: 'pcnum'">
      <div class="panel-heading row" *ngIf="tool.condition == 'Working' || tool.condition == null">
        <a class="col-md-1">{{tool.pcnum}}</a>
        <input class="col-md-1" (change)="updateTool(tool)" [(ngModel)]="tool.mfg" />
        <input class="col-md-1" (change)="updateTool(tool)" [(ngModel)]="tool.modelnum" />
        <input class="col-md-2" (change)="updateTool(tool)" [(ngModel)]="tool.description" />
        <input class="col-md-2" (change)="updateTool(tool)" [(ngModel)]="tool.serialNum" />
        <select class="col-md-1" (change)="updateTool(tool)" [(ngModel)]="tool.condition">
          <option>Working</option>
          <option>Red Tag</option>
          <option>Destroyed</option>
          <option>Sold</option>
          <option>Missing</option>
        </select>
        <select class="col-md-1" (change)="updateTool(tool)" [(ngModel)]="tool.location">
          <option>Tool Room</option>
          <option>Chattanooga Warehouse</option>
          <option>Flat Rock Warehouse</option>
          <option>Lake Majestik Farms</option>
        </select>
        <a *ngIf="currentUser?.role == 'admin'" class="col-md-1">{{tool.priceid}}</a>
      </div>
    </div>
  </div>

  <div id="newTool" *ngIf="show">
    <form [formGroup]="newtoolForm" (ngSubmit)="onSubmit()">
      <div class="panel-default justify-content-start">
        <a>PC Number</a><br />
        <input type="text" formControlName="pcnum" rows="1" /><br />
        <a>Manufacturer</a><br />
        <input type="text" formControlName="mfg" rows="1" /><br />
        <a>Model Number</a><br />
        <input type="text" formControlName="modelnum" rows="1" /><br />
        <a>Purchase Date</a><br />
        <input type="text" formControlName="datePurchased" rows="1" /><br />
        <a>Description</a><br />
        <input type="text" formControlName="description" rows="1" /><br />
        <a>Serial Number</a><br />
        <input type="text" formControlName="serialNum" rows="1" /><br />
        <a>Condition</a><br />
        <select formControlName="condition" rows="1">
          <option>Working</option>
          <option>Red Tag</option>
          <option>Destroyed</option>
          <option>Sold</option>
          <option>Missing</option>
        </select><br />
        <a>Storage Location</a><br />
        <select formControlName="location" rows="1">
          <option>Tool Room</option>
          <option>Chattanooga Warehouse</option>
          <option>Flat Rock Warehouse</option>
          <option>Lake Majestik Farms</option>
        </select><br />
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!newtoolForm.valid">Submit</button>
    </form>
  </div>

</div>
