<div style="width:100vw" id="#accordion">
  <div style="width:100vw; text-align:center;"><h2>Current Bidding Jobs</h2><br /></div>
  <div>
    <button class="btn btn-outline-secondary" (click)="toggleForm()">{{buttonName}}</button>
  </div>

  <div *ngIf="!show">
    <div class="card bg-light">
      <div class="card-header bg-light" data-toggle="collapse" data-target="#PendingAward" aria-expanded="true" aria-controls="PendingAward">
        <h3>Pending Award</h3>
      </div>
      <div class="card-body" id="PendingAward" aria-labelledby="PendingAward" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-3"><b>Opportunity</b></a>
          <a class="col-md-2"><b>Project Manager</b></a>
          <a class="col-md-2"><b>P&C Bid Date</b></a>
          <a class="col-md-2"><b>Estimated Revenue</b></a>
          <a class="col-md-1"><b>Anticipated Start Date</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let lead of leads | orderBy: 'salesperson'; let i = index;">
          <div class="panel panel-default">
            <div class="panel-heading row" *ngIf="(lead.status=='Open'  && lead.salesPhase=='5 - Pending Award')">
              <a class="col-md-3 text-dark" (click)="leadSelect(lead)" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">{{lead.opportunityTitle}}</a>
              <a class="col-md-2" [ngStyle]="{'background': getColor(lead.salesperson)}">{{lead.salesperson}}</a>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="bid" [(ngModel)]="lead.pcBidDate" (ngModelChange)="updateLead(lead)" ngbDatepicker #bid="ngbDatepicker" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="bid.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
              <textarea class="col-md-2" rows="1" (change)="updateLead(lead)" [(ngModel)]="lead.estRevenueMax">{{lead.estRevenueMax | currency:USD}}</textarea>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="cs" [(ngModel)]="lead.anticipatedConstStart" (ngModelChange)="updateLead(lead)" ngbDatepicker #cs="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="cs.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in" data-parent="#accordion">
              <div class="panel-body col-md-11 offset-1" *ngIf="selectedLead && selectedLead.status=='Open' && selectedLead.salesPhase=='5 - Pending Award'">
                <a>Confidence: </a><br />
                <textarea rows="1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.confidence">{{selectedLead.confidence | percent: '1.0'}}</textarea><br />
                <a>Bid Notes:  </a><br />
                <textarea rows="4" (change)="updateLead(lead)" [(ngModel)]="selectedLead.leadNotes" style="width: 100%; max-width:100%;"></textarea><br />
                <a>Pre Bid Conference: </a><br />
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" name="pbc" [(ngModel)]="selectedLead.prebidconference" (ngModelChange)="updateLead(lead)" ngbDatepicker #pbc="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="pbc.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
                <a>Status:</a>
                <select class="form-control col-md-1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.status">
                  <option>Open</option>
                  <option>Lost</option>
                  <option>On Hold</option>
                  <option>No Opportunity</option>
                  <option>Sold</option>
                </select>
                <a class="col-md-1">Phase</a>
                <select class="col-md-1" id="phs" (change)="updateLead(lead)" [(ngModel)]="selectedLead.salesPhase">
                  <option>1 - Prospecting</option>
                  <option>2 - Qualification</option>
                  <option>3 - Budgeting</option>
                  <option>4 - Bidding</option>
                  <option>5 - Pending Award</option>
                </select>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-header bg-light" data-toggle="collapse" data-target="#Bidding" aria-expanded="true" aria-controls="Bidding">
        <h3>Bidding/Budgeting</h3>
      </div>
      <div class="card-body" id="Bidding" aria-labelledby="Bidding" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-3"><b>Opportunity</b></a>
          <a class="col-md-2"><b>Project Manager</b></a>
          <a class="col-md-2"><b>P&C Bid Date</b></a>
          <a class="col-md-2"><b>Estimated Revenue</b></a>
          <a class="col-md-1"><b>Anticipated Start Date</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let lead of leads | orderBy: 'salesperson'; let i2 = index;">
          <div class="panel panel-default">
            <div class="panel-heading row" *ngIf="(lead.status=='Open'  && (lead.salesPhase=='3 - Budgeting' || lead.salesPhase=='4 - Bidding') && lead.tags != 'Client Prospecting')">
              <a class="col-md-3 text-dark" (click)="leadSelect(lead)" data-toggle="collapse" [attr.href]="'#collapseTwo_' + i2">{{lead.opportunityTitle}}</a>
              <a class="col-md-2" [ngStyle]="{'background': getColor(lead.salesperson)}">{{lead.salesperson}}</a>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="bid" [(ngModel)]="lead.pcBidDate" (ngModelChange)="updateLead(lead)" ngbDatepicker #bid="ngbDatepicker" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="bid.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
              <textarea class="col-md-2" rows="1" (change)="updateLead(lead)" [(ngModel)]="lead.estRevenueMax">{{lead.estRevenueMax | currency:USD}}</textarea>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="cs" [(ngModel)]="lead.anticipatedConstStart" (ngModelChange)="updateLead(lead)" ngbDatepicker #cs="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="cs.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#accordion">
              <div class="panel-body col-md-11 offset-1" *ngIf="selectedLead && selectedLead.status=='Open' && (lead.salesPhase=='3 - Budgeting' || lead.salesPhase=='4 - Bidding')">
                <a>Confidence: </a><br />
                <textarea rows="1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.confidence">{{selectedLead.confidence | percent: '1.0'}}</textarea><br />
                <a>Bid Notes:  </a><br />
                <textarea rows="4" (change)="updateLead(lead)" [(ngModel)]="selectedLead.leadNotes" style="width: 100%; max-width:100%;"></textarea><br />
                <a>Pre Bid Conference: </a><br />
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" name="pbc" [(ngModel)]="selectedLead.prebidconference" (ngModelChange)="updateLead(lead)" ngbDatepicker #pbc="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="pbc.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
                <a>Status: </a>
                <select class="form-control col-md-1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.status">
                  <option>Open</option>
                  <option>Lost</option>
                  <option>On Hold</option>
                  <option>No Opportunity</option>
                  <option>Sold</option>
                </select>
                <a class="col-md-1">Phase</a>
                <select class="col-md-1" id="phs" (change)="updateLead(lead)" [(ngModel)]="selectedLead.salesPhase">
                  <option>1 - Prospecting</option>
                  <option>2 - Qualification</option>
                  <option>3 - Budgeting</option>
                  <option>4 - Bidding</option>
                  <option>5 - Pending Award</option>
                </select>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-header bg-light" data-toggle="collapse" data-target="#Qualifying" aria-expanded="true" aria-controls="Qualifying">
        <h3>Long Term Prospects</h3>
      </div>
      <div class="card-body collapse" id="Qualifying" aria-labelledby="Qualifying" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-3"><b>Opportunity</b></a>
          <a class="col-md-2"><b>Project Manager</b></a>
          <a class="col-md-2"><b>P&C Bid Date</b></a>
          <a class="col-md-2"><b>Estimated Revenue</b></a>
          <a class="col-md-1"><b>Anticipated Start Date</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let lead of leads; let i3 = index;">
          <div class="panel panel-default">
            <div class="panel-heading row" *ngIf="(lead.status == 'Open'  && (lead.salesPhase == '2 - Qualification' || lead.salesPhase == '1 - Prospecting' ) && lead.tags != 'Client Prospecting')">
              <a class="col-md-3 text-dark" (click)="leadSelect(lead)" data-toggle="collapse" [attr.href]="'#collapseThree_' + i3">{{lead.opportunityTitle}}</a>
              <a class="col-md-2" (click)="leadSelect(lead)" [ngStyle]="{'background': getColor(lead.salesperson)}">{{lead.salesperson}}</a>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="bid" [(ngModel)]="lead.pcBidDate" (ngModelChange)="updateLead(lead)" ngbDatepicker #bid="ngbDatepicker" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="bid.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
              <textarea class="col-md-2" rows="1" (change)="updateLead(lead)" [(ngModel)]="lead.estRevenueMax">{{lead.estRevenueMax | currency:USD}}</textarea>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="cs" [(ngModel)]="lead.anticipatedConstStart" (ngModelChange)="updateLead(lead)" ngbDatepicker #cs="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="cs.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div [attr.id]="'collapseThree_' + i3" class="panel-collapse collapse in" data-parent="#Qualifying">
              <div class="panel-body col-md-8 offset-2" *ngIf="selectedLead && (lead.salesPhase == '2 - Qualification' || lead.salesPhase == '1 - Prospecting' )">
                <a>Confidence: </a><br />
                <textarea rows="1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.confidence">{{selectedLead.confidence | percent: '1.0'}}</textarea><br />
                <a>Bid Notes:  </a><br />
                <textarea rows="4" (change)="updateLead(lead)" [(ngModel)]="selectedLead.leadNotes" style="width: 100%; max-width:100%;"></textarea><br />
                <a>Pre Bid Conference: </a><br />
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" name="pbc" [(ngModel)]="selectedLead.prebidconference" (ngModelChange)="updateLead(lead)" ngbDatepicker #pbc="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="pbc.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
                <a>Status: </a><br />
                <select class="form-control" (change)="updateLead(lead)" [(ngModel)]="selectedLead.status">
                  <option>Open</option>
                  <option>Lost</option>
                  <option>On Hold</option>
                  <option>No Opportunity</option>
                  <option>Sold</option>
                </select>
                <a class="col-md-1">Phase</a>
                <select class="col-md-1" id="phs" (change)="updateLead(lead)" [(ngModel)]="selectedLead.salesPhase">
                  <option>1 - Prospecting</option>
                  <option>2 - Qualification</option>
                  <option>3 - Budgeting</option>
                  <option>4 - Bidding</option>
                  <option>5 - Pending Award</option>
                </select>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="show">
    <div class="card bg-light">
      <div class="card-header bg-light">
        <h3>Add New Opportunity</h3>
      </div>
      <div class="card-body" id="Newlead">
        <form [formGroup]="newleadForm" (ngSubmit)="onSubmit()">
          <div class="panel justify-content-start">
            <a>Salesperson</a><br />
            <select id="pm" formControlName="salesPerson">
              <option *ngFor="let color of colors" [ngValue]="color.salesperson" required>{{color.salesperson}}</option>
            </select><br />
            <a>Opportunity Title:</a><br /><input type="text" required id="opp" formControlName="opportunityTitle" rows="1" /><br />
            <a>Confidence (percent):</a><br /><input type="text" id="dur" formControlName="confidence" rows="1" /><br />
            <a>Bid Date:</a>
            <div>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control border border-dark col-md-1" name="bd" formControlName="PCBidDate" ngbDatepicker #bd="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="bd.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
            <a>Projected Start:</a>
            <div>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control border border-dark col-md-1" name="ps" formControlName="anticipatedConstStart" ngbDatepicker #ps="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="ps.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
            <a>Projected duration (weeks):</a><br /><input type="text" class="col-md-1" id="dur" formControlName="projectDuration" rows="1" /><br />
            <a>Revenue</a><br />
            <input type="text" id="revmin" formControlName="estRevenueMin" rows="1" /><br />
            To<br />
            <input type="text" id="revmax" formControlName="estRevenueMax" rows="1" /><br />
            <a>Phase</a><br />
            <select id="phs" formControlName="salesPhase" [value]="'4 - Bidding'">
              <option>1 - Prospecting</option>
              <option>2 - Qualification</option>
              <option>3 - Budgeting</option>
              <option>4 - Bidding</option>
              <option>5 - Pending Award</option>
            </select><br />
            <a>Notes</a><br />
            <textarea class="col-md-8" rows="4" id="notes" formControlName="leadNotes"></textarea><br />
          </div>

          <button class="btn btn-primary" type="submit" [disabled]="!newleadForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>
