<div style="width:100vw" id="accordion">
  <div style="width:100vw; text-align:center;"><h2>Current Bidding Jobs</h2><br /></div>

  <!-- Header -->
  <div>
    <button class="btn btn-outline-secondary" (click)="toggleForm()">{{buttonName}}</button>
  </div>

  <!-- Active Bid Solicitation List -->
  <div *ngIf="!show">

    <!-- Bidding Jobs need sub solicitation -->
    <div class="card-header bg-light" data-toggle="collapse" data-target="#Bidding" aria-expanded="true" aria-controls="Bidding">
      <h3>Bidding</h3>
    </div>

    <div class="card-body" id="Bidding" aria-labelledby="Bidding" data-parent="#accordion">
      <div class="panel-heading row">
        <a class="col-md-2"><b>Opportunity</b></a>
        <a class="col-md-2"><b>Location</b></a>
        <a class="col-md-1"><b>Pre Bid Date</b></a>
        <a class="col-md-1"><b>Bid Date</b></a>
        <a class="col-md-1"><b>Project Manager</b></a>
        <a class="col-md-1"><b>Solicitation</b></a>
        <a class="col-md-1"><b>Sector</b></a>
        <a class="col-md-1"><b>Notes</b></a>
      </div>
      <hr />
      <div class="panel-group" *ngFor="let lead of leads | orderBy: 'salesperson'; let i2 = index;">
        <div class="panel panel-default">
          <div class="panel-heading row" *ngIf="(lead.status=='Open' && lead.salesPhase=='4 - Bidding')">
            <a class="col-md-2 text-dark" (click)="leadSelect(lead)" data-toggle="collapse" [attr.href]="'#collapseTwo_' + i2">{{lead.opportunityTitle}}</a>
            <textarea class="col-md-2"></textarea>
            <form class="form-inline col-md-1">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" name="bid" [(ngModel)]="lead.pcBidDate" (ngModelChange)="updateLead(lead)" ngbDatepicker #bid="ngbDatepicker" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="bid.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>
            <form class="form-inline col-md-1">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" name="pbc" [(ngModel)]="selectedLead.prebidconference" (ngModelChange)="updateLead(lead)" ngbDatepicker #pbc="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="pbc.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>
            <a class="col-md-1" [ngStyle]="{'background': getColor(lead.salesperson)}">{{lead.salesperson}}</a>
            <a class="col-md-1">{{lead.salesperson}}</a>
            <textarea class="col-md-1">Sector Placeholder</textarea>
            <textarea class="col-md-1" rows="1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.leadNotes"></textarea><br />
          </div>
          <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#accordion">
            <div class="panel-body col-md-11 offset-1" *ngIf="selectedLead && selectedLead.status=='Open' && (lead.salesPhase=='3 - Budgeting' || lead.salesPhase=='4 - Bidding')">
              <a>Confidence: </a><br />
              <textarea rows="1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.confidence">{{selectedLead.confidence | percent: '1.0'}}</textarea><br />
              <a>Bid Notes:  </a><br />
              
              <a>Pre Bid Conference: </a><br />

              <a>Status: </a>
              <select class="form-control col-md-1" (change)="updateLead(lead)" [(ngModel)]="selectedLead.status">
                <option>Open</option>
                <option>Lost</option>
                <option>On Hold</option>
                <option>No Opportunity</option>
                <option>Sold</option>
              </select>
              <a class="col-md-1">Phase</a>
              <select class="col-md-1" id="phs" (change)="updateLead(lead)" [(ngModel)]="selectedLead.salesPhase">
                <option>1 - Prospecting</option>
                <option>2 - Qualification</option>
                <option>3 - Budgeting</option>
                <option>4 - Bidding</option>
                <option>5 - Pending Award</option>
              </select>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
