
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"  src="https://app.powerbi.com/view?r=eyJrIjoiZWYxYWMxNjMtODdjNS00MDUwLWFkYTEtYjM5NzY3M2FkNzU5IiwidCI6ImY4NjQ4ZjMzLTA1OWYtNDYxZS04MWVhLTU1OGQyODliMjM1OSIsImMiOjN9&filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
</div>
