<div class="justify-content-start">
  <h2>Safety information</h2>
  <div>
    <h4>Safety Documents</h4>
    <a href="../../../assets/P&C Construction Safety Manual - Draft 2 11.2020.pdf" target="_blank" download>
      Safety manual
    </a><br />
    <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=365bec85269dcdc6106480c0e4fe0950&mc=true&tpl=/ecfrbrowse/Title29/29chapterXVII.tpl" target="_blank">
    eCFR  - Electronic Code of Federal Regulations
    </a><br />
    <a href="../../assets/NOVA Auth to Treat.pdf" target="_blank" download>
      NOVA Authorization for treatment
    </a><br />
  </div>
  <br />
  <div>
    <h4>Safety Data Sheets</h4>
    <a href="https://chemmanagement.ehs.com/9/d1c80673-ced2-43f5-b811-24f3788f80de" target="_blank">MSDS Online</a>
  </div>
  <br />
  <div>
    <h4>Online training</h4>
    <a href="https://training.ehs.com" target="_blank">On Demand Training</a><br />
  </div>
  <br />
  <div>
    <h4>Safety Audits</h4>
    <a routerLink="/safetyaudit">Safety Audit</a><br />
    <a routerLink="/siteaudit">Site Audit</a><br />
  </div>
</div>
