/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.ng-sidebar {
  background: blue;
  width: 20vw;
  min-width: 300px;
}

.card {
  background: blue;
  text-align: left;
}

.card-header {
  background: blue;
  text-align: left;
}

.dropdown-menu {
  height: 200px;
  overflow-y: auto;
}

