<div class="justify-content-start">
  <h2>Add new equipment</h2>
  <div class="justify-content-start" id="category" *ngIf="!selectedType">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="categoryselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Equipment Type</button>
      <ul class="dropdown-menu" style="height:55vh" aria-labelledby="categoryselect">
        <li *ngFor="let type of types">
          <p (click)="onSelect(type)">{{type}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
