<div class="justify-content-start" id="completedsafetyaudit" *ngIf="completedReview">

  <div class="panel justify-content-start">
    <h4>{{completedReview.projectname}}</h4>
    <div><span>Audit Date: {{completedReview.reviewDate | date}}</span></div>
    <div><span>Project Manager: </span>{{completedReview.reviewer}}</div>
    <div><span>Project Superintendent: </span>{{completedReview.reviewed}}</div>
    <p></p>
  </div>

  <div class="justify-content-start" id="questions" style="height:70vh; overflow:scroll">
    <div id="schedulefeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Project Schedule</h5>
      <div>
        Did the superintendent cause the project to not meet the schedule (either through what they did or didn't do)?<br />
        <b>{{completedReview.q1}}</b>
      </div>
      <div *ngIf="completedReview.q1=='no'">
        Describe any delays and the reasons for them.<br />
        <b>{{completedReview.q2}}</b>
      </div>
    </div>
    <div id="clientfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Client Feedback</h5>
      <div>
        Did the client provide feedback that indicated their satisfaction with the project?<br />
        <b>{{completedReview.q3}}</b>
      </div>
      <div *ngIf="completedReview.q3=='yes'">
        Were the client expectations unmet, met or exceeded?<br />
        <b>{{completedReview.q4}}</b>
      </div>
      <div *ngIf="completedReview.q3=='yes'">
        Describe any client feedback.<br />
        <b>{{completedReview.q29}}</b>
      </div>
    </div>
    <div id="financialfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Financial Performance</h5>
      <div>
        Did the job make a profit?<br />
        <b>{{completedReview.q5}}</b>
      </div>
      <div>
        Did the superintendent purchase materials or tools that were not needed for the project?<br />
        <b>{{completedReview.q6}}</b>
      </div>
      <div *ngIf="completedReview.q6=='yes'">
        What was purchased that wasn't needed?<br />
        <b>{{completedReview.q7}}</b>
        What was the cost of the purchase that wasn't needed?<br />
        <b>{{completedReview.q8}}</b>
        How did the unneeded purchase impact the project?<br />
        <b>{{completedReview.q9}}</b>
      </div>
      <div>
        Did the superintendent work more than 40 hours per week on this project (45 if salaried)?<br />
        <b>{{completedReview.q10}}</b>
      </div>
      <div *ngIf="completedReview.q10=='yes'">
        Were the extra hours necessary to get the job done or to get it done on schedule?<br />
        <b>{{completedReview.q11}}</b>
      </div>
      <div *ngIf="completedReview.q10=='yes'">
        How many hours per week did the superintendent work on this job?  Also include the highest weekly hours worked and the lowest weekly hours worked on this job.<br />
        <b>{{completedReview.q12}}</b>
      </div>
      <div>
        Did the superintendent use temp or P&C employee labor that wasn't necessary to get the job done or to get it done on schedule?  (Consider whether P&C labor was available instead of using temp labor.)<br />
        <b>{{completedReview.q13}}</b>
      </div>
      <div *ngIf="completedReview.q13=='yes'">
        How much temp or employee labor did the superintendent use?  Describe what was excessive or unnecessary.<br />
        <b>{{completedReview.q14}}</b>
      </div>
      <div>
        Did the superintendent cause trip/overtime charges for subs?<br />
        <b>{{completedReview.q15}}</b>
      </div>
      <div *ngIf="completedReview.q15=='yes'">
        Describe how the superintendent caused trip/overtime charges.<br />
        <b>{{completedReview.q30}}</b>
      </div>
    </div>
    <div id="subcontractorfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Subcontractors</h5>
      <div>
        Did the superintendent follow appropriate change order processes?<br />
        <b>{{completedReview.q18}}</b>
      </div>
      <div *ngIf="completedReview.q18=='no'">
        Did the superintendent perform unapproved extra work without change orders?<br />
        <b>{{completedReview.q16}}</b>
      </div>
      <div *ngIf="completedReview.q16=='yes' && completedReview.q18=='no'">
        Describe the extra work and the reasons for doing it.<br />
        <b>{{completedReview.q17}}</b>
      </div>
      <div *ngIf="completedReview.q18=='no'">
        Did the superintendent ensure that subcontractor work was to the standard prescribed by the scope of work before supporting a change order?<br />
        <b>{{completedReview.q19}}</b>
      </div>
      <div *ngIf="completedReview.q18=='no'">
        Did the superintendent communicate if a change order was the financial responsibility of a different sub or the client?<br />
        <b>{{completedReview.q20}}</b>
      </div>
    </div>
    <div id="dailylogfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Daily Logs</h5>
      <div>
        Did the superintendent meet daily log standards?<br />
        <b>{{completedReview.q21}}</b>
      </div>
      <div>
        Did the level of detail clearly explain what occurred in a manner that a 3rd party could understand?<br />
        <b>{{completedReview.q22}}</b>
      </div>
      <div>
        Did the level of detail provide the information necessary to justify any delays/chargebacks/change orders?<br />
        <b>{{completedReview.q23}}</b>
      </div>
      <div>
        Did the provided photos meet the needs for job progress documentation?<br />
        <b>{{completedReview.q24}}</b>
      </div>
    </div>
    <div id="receiptfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>Receipts</h5>
      <div>
        Did the superintendent turn in all time and receipts when required?<br />
        <b>{{completedReview.q25}}</b>
      </div>
    </div>
    <div id="generalfeedback" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
      <h5>General Feedback</h5>
      <div>
        Did the superintendent overall help or hurt the project?<br />
        <b>{{completedReview.q26}}</b>
      </div>
      <div>
        In your opinion, can this superintendent do bigger and better projects?<br />
        <b>{{completedReview.q27}}</b>
      </div>
      <div>
        Did the superintendent go above and beyond expectations?<br />
        <b>{{completedReview.q28}}</b>
      </div>
    </div>
  </div>
</div>
