




<!-- Working on reformating the columns to indicate procore/bt.  Adjusting active jobs only.  so far not working and may have to revert.   -->








<div id="#accordion">
  <div style="width:100vw; text-align:center; padding:4px;"><h2>Active and Planning Projects</h2><br /></div>

  <!--<div class="row">
    <div class="dropdown">
      <button class="btn btn-outline secondary dropdown-toggle" type="button" id="pmselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Project Manager
      </button>
      <ul class="dropdown-menu" aria-labelledby="pmselect">
        <li *ngFor="let pm of projectmanagers">
          <p (click)="pmSelect(pm)">
            {{pm}}
          </p>
        </li>
      </ul>
    </div>
  </div>-->

  <div class="row">
    <div id="activejobs" class="card bg-light w-100">
      <div class="card-header bg-light" data-toggle="collapse" data-target="#Activejobs" aria-expanded="true" aria-controls="Activejobs">
        <h3>
          Active Jobs
        </h3>
      </div>
      <div class="card-body" id="Activejobs" aria-labelledby="Activejobs" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-1"><b>PM</b></a>
          <a class="col-md-3"><b>Project</b></a>
          <a class="col-md-2"><b>Super</b></a>
          <a class="col-md-2"><b>Additional Labor</b></a>
          <a class="col-md-2"><b>Start Date</b></a>
          <a class="col-md-2"><b>Finish Date</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let project of projects | orderBy: 'projectManager'; let i=index;">

          <div class="panel-heading row" *ngIf="((project.jobGroups=='1-On site daily' || project.jobGroups=='1-Semi-Active') && project.status=='OPEN' && (selectedTeam.indexOf(project.projectManager)>-1 && selectedPM.indexOf(project.projectManager)>-1))">
            <!--Open Jobs on site or semi active.-->
            <!--Projected completion after today and up to 14 days-->
            <a class="col-md-1" [ngStyle]="{'background': getColor(project.projectManager)}" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (targetDate | date:'yyyy/MM/dd') && (project.projectedCompletion | date:'yyyy/MM/dd') > (today | date:'yyyy/MM/dd')">{{project.projectManager}}</a>
            <a class="col-md-3 text-info" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (targetDate | date:'yyyy/MM/dd') && (project.projectedCompletion | date:'yyyy/MM/dd') > (today | date:'yyyy/MM/dd')" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">{{project.name}}</a>
            <textarea rows="2" class="col-md-2 text-info" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (targetDate | date:'yyyy/MM/dd') && (project.projectedCompletion | date:'yyyy/MM/dd') > (today | date:'yyyy/MM/dd')" (change)="updateProject(project)" [(ngModel)]="project.superintendentFullName">{{project.superintendentFullName}}</textarea>
            <textarea rows="1" class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (targetDate | date:'yyyy/MM/dd') && (project.projectedCompletion | date:'yyyy/MM/dd') > (today | date:'yyyy/MM/dd')" (change)="updateProject(project)" [(ngModel)]="project.pcPersonnel" value="">{{project.pcPersonnel}}</textarea>
            <div class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (targetDate | date:'yyyy/MM/dd') && (project.projectedCompletion | date:'yyyy/MM/dd') > (today | date:'yyyy/MM/dd')">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp1" [(ngModel)]="project.projectedStart" (ngModelChange)="updateProject(project)" ngbDatepicker #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d1.toggle()" data-toggle="collapse" data-target="#dp1" aria-expanded="false" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (targetDate | date:'yyyy/MM/dd') && (project.projectedCompletion | date:'yyyy/MM/dd') > (today | date:'yyyy/MM/dd')">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp2" [(ngModel)]="project.projectedCompletion" (ngModelChange)="updateProject(project)" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d2.toggle()" data-toggle="collapse" data-target="#dp2" aria-expanded="false" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!--Projected completion today or earlier-->
            <a class="col-md-1" [ngStyle]="{'background': getColor(project.projectManager)}" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (today | date:'yyyy/MM/dd')">{{project.projectManager}}</a>
            <a class="col-md-3 text-danger" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (today | date:'yyyy/MM/dd')" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">{{project.name}}</a>
            <textarea rows="1" class="col-md-2 text-danger" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (today | date:'yyyy/MM/dd')" (change)="updateProject(project)" [(ngModel)]="project.superintendentFullName">{{project.superintendentFullName}}</textarea>
            <textarea rows="1" class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (today | date:'yyyy/MM/dd')" (change)="updateProject(project)" [(ngModel)]="project.pcPersonnel" value="">{{project.pcPersonnel}}</textarea>
            <div class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (today | date:'yyyy/MM/dd')">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp1" [(ngModel)]="project.projectedStart" (ngModelChange)="updateProject(project)" ngbDatepicker #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d1.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') <= (today | date:'yyyy/MM/dd')">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp2" [(ngModel)]="project.projectedCompletion" (ngModelChange)="updateProject(project)" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d2.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>


            <!--Projected completion more than 14 days-->
            <a class="col-md-1" [ngStyle]="{'background': getColor(project.projectManager)}" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') > (targetDate | date:'yyyy/MM/dd')">{{project.projectManager}}</a>
            <a class="col-md-3 text-dark" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') > (targetDate | date:'yyyy/MM/dd')" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">{{project.name}}</a>
            <textarea rows="1" class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') > (targetDate | date:'yyyy/MM/dd')" (change)="updateProject(project)" [(ngModel)]="project.superintendentFullName">{{project.superintendentFullName}}</textarea>
            <textarea rows="1" class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') > (targetDate | date:'yyyy/MM/dd')" (change)="updateProject(project)" [(ngModel)]="project.pcPersonnel" value="">{{project.pcPersonnel}}</textarea>
            <div class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') > (targetDate | date:'yyyy/MM/dd')">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp1" [(ngModel)]="project.projectedStart" (ngModelChange)="updateProject(project)" ngbDatepicker #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d1.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2" *ngIf="(project.projectedCompletion | date:'yyyy/MM/dd') > (targetDate | date:'yyyy/MM/dd')">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp2" [(ngModel)]="project.projectedCompletion" (ngModelChange)="updateProject(project)" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d2.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!--Projected completion not listed-->
            <a class="col-md-1" [ngStyle]="{'background': getColor(project.projectManager)}" *ngIf="!project.projectedCompletion">{{project.projectManager}}</a>
            <a class="col-md-3 text-info" *ngIf="!project.projectedCompletion" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseOne_' + i">{{project.name}}</a>
            <textarea rows="1" class="col-md-2 text-info" *ngIf="!project.projectedCompletion" (change)="updateProject(project)" [(ngModel)]="project.superintendentFullName">{{project.superintendentFullName}}</textarea>
            <textarea rows="1" class="col-md-2" *ngIf="!project.projectedCompletion" (change)="updateProject(project)" [(ngModel)]="project.pcPersonnel" value="">{{project.pcPersonnel}}</textarea>
            <div class="col-md-2" *ngIf="!project.projectedCompletion">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp1" [(ngModel)]="project.projectedStart" (ngModelChange)="updateProject(project)" ngbDatepicker #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d1.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2" *ngIf="!project.projectedCompletion">
              <form class="form">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" name="dp2" [(ngModel)]="project.projectedCompletion" (ngModelChange)="updateProject(project)" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d2.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>

          <!--Project detail - Active Jobs-->
          <div class="panel-body collapse" [attr.id]="'collapseOne_' + i" data-parent="#accordion">
            <div class="panel-body col-md-11 offset-1" *ngIf="selectedProject && (selectedProject.jobGroups=='1-On site daily' || selectedProject.jobGroups=='1-Semi-Active')">
              <a>Project Manager: {{selectedProject.projectManager}}</a><br />
              <a>Project Notes:</a><br /> <textarea rows="4" (change)="updateProject(project)" [(ngModel)]="selectedProject.generalNotes" style="width: 100%; max-width:100%;"></textarea><br />
              <a>Change Order Notes:</a><br /> <textarea rows="4" (change)="updateProject(project)" [(ngModel)]="selectedProject.changeOrderNotes" style="width: 100%; max-width:100%;"></textarea><br />
              <a>Job Status:</a><br />
              <select class="form-control" (change)="updateProject(project)" [(ngModel)]="selectedProject.jobGroups">
                <option *ngFor="let group of groups">
                  {{ group }}
                </option>
              </select>
              <hr />


            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="upcomingjobs" class="card bg-light w-100">
      <div class="card-header bg-light" data-toggle="collapse" data-target="#Planningjobs" aria-expanded="true" aria-controls="Planningjobs">
        <h3>
          Upcoming Jobs
        </h3>
      </div>
      <div class="card-body" id="Planningjobs" style="height:auto; overflow:scroll" aria-labelledby="Planningjobs" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-1"><b>PM</b></a>
          <a class="col-md-3"><b>Project</b></a>
          <a class="col-md-2"><b>Super</b></a>
          <a class="col-md-2"><b>Additional Labor</b></a>
          <a class="col-md-2"><b>Start Date</b></a>
          <a class="col-md-2"><b>Finish Date</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let project of projects | orderBy: 'projectManager'; let i2=index;">
          <div class="panel panel-default">
            <div class="panel-heading row" *ngIf="(project.status=='OPEN' && project.jobGroups == '1-Planning' && (selectedTeam.indexOf(project.projectManager)>-1 && selectedPM.indexOf(project.projectManager)>-1))">
              <a class="col-md-1" [ngStyle]="{'background': getColor(project.projectManager)}">{{project.projectManager}}</a>
              <a class="col-md-3 text-dark" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseTwo_' + i2">{{project.name}}</a>
              <textarea rows="1" class="col-md-2" (change)="updateProject(project)" [(ngModel)]="project.superintendentFullName" value="">{{project.superintendentFullName}}</textarea>
              <textarea rows="1" class="col-md-2" (change)="updateProject(project)" [(ngModel)]="project.pcPersonnel" value="">{{project.pcPersonnel}}</textarea>
              <div class="col-md-2">
                <form class="form">
                  <div class="row">
                    <div class="input-group">
                      <input class="form-control" name="dp1" [(ngModel)]="project.projectedStart" (ngModelChange)="updateProject(project)" ngbDatepicker #d3="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d3.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-2">
                <form class="form">
                  <div class="row">
                    <div class="input-group">
                      <input class="form-control" name="dp2" [(ngModel)]="project.projectedCompletion" (ngModelChange)="updateProject(project)" ngbDatepicker #d4="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d4.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>
            <div [attr.id]="'collapseTwo_' + i2" class="panel-collapse collapse in" data-parent="#accordion">
              <div class="panel-body col-md-11 offset-1" *ngIf="selectedProject && selectedProject.jobGroups=='1-Planning'">
                <a>Project Manager: {{selectedProject.projectManager}}</a><br />
                <a>Project Notes:</a><br /> <textarea rows="4" (change)="updateProject(project)" [(ngModel)]="selectedProject.generalNotes" style="width: 100%; max-width:100%;"></textarea><br />
                <a>Change Order Notes:</a><br /> <textarea rows="4" (change)="updateProject(project)" [(ngModel)]="selectedProject.changeOrderNotes" style="width: 100%; max-width:100%;"></textarea><br />
                <a>Job Status:</a><br />
                <select class="form-control" (change)="updateProject(project)" [(ngModel)]="selectedProject.jobGroups">
                  <option *ngFor="let group of groups">
                    {{ group }}
                  </option>
                </select>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="workorders" class="card bg-light w-100">
      <div class="card-header bg-light w-100" data-toggle="collapse" data-target="#Workorders" aria-expanded="true" aria-controls="Workorders">
        <h3>
          Open Work Orders
        </h3>
      </div>
      <div class="card-body" id="Workorders" aria-labelledby="Workorders" data-parent="#accordion">
        <div class="panel-heading row">
          <a class="col-md-1"><b>Project Manager</b></a>
          <a class="col-md-3"><b>Project</b></a>
          <a class="col-md-2"><b>Assigned To</b></a>
          <a class="col-md-4"><b>Notes</b></a>
        </div>
        <hr />
        <div class="panel-group" *ngFor="let project of projects | orderBy: 'projectManager'; let i3=index;">
          <div class="panel panel-default">
            <div class="panel-heading row" *ngIf="(project.jobGroups=='1-Work Order' && project.status=='OPEN' && (selectedTeam.indexOf(project.projectManager)>-1 && selectedPM.indexOf(project.projectManager)>-1))">
              <a class="col-md-1" [ngStyle]="{'background': getColor(project.projectManager)}">{{project.projectManager}}</a>
              <a class="col-md-3 text-dark" (click)="projectSelect(project)" data-toggle="collapse" [attr.href]="'#collapseThree_' + i3">{{project.name}}</a>
              <textarea rows="1" class="col-md-2" (change)="updateProject(project)" [(ngModel)]="project.superintendentFullName" value="">{{project.superintendentFullName}}</textarea>
              <textarea rows="1" class="col-md-6" (change)="updateProject(project)" [(ngModel)]="project.generalNotes">{{project.generalNotes}}</textarea>
            </div>

            <div [attr.id]="'collapseThree_' + i3" class="panel-collapse collapse in" data-parent="#accordion">
              <div class="panel-body col-md-8 offset-1" *ngIf="selectedProject && selectedProject.jobGroups=='1-Work Order' && project.status=='OPEN'">
                <a class="col-md-2" (click)="projectSelect(project)">Project Manager: {{project.projectManager}}</a>
                <form class="form-inline">
                  <div class="form-group">
                    <a class="col-md-4">Start Date:</a>
                    <div class="input-group">
                      <input class="form-control" name="dp5" [(ngModel)]="project.projectedStart" (ngModelChange)="updateProject(project)" ngbDatepicker #d5="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d5.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>

                <form class="form-inline">
                  <div class="form-group">
                    <a class="col-md-4">Finish Date:</a>
                    <div class="input-group">
                      <input class="form-control" name="dp6" [(ngModel)]="project.projectedCompletion" (ngModelChange)="updateProject(project)" ngbDatepicker #d6="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d6.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
                <a class="col-md-2">Job Status:</a><br />
                <select class="form-control col-md-2" (change)="updateProject(project)" [(ngModel)]="selectedProject.jobGroups">
                  <option *ngFor="let group of groups">
                    {{ group }}
                  </option>
                </select>
                <br />
                <a class="col-md-2">Mark Complete:</a><br />
                <select class="form-control col-md-2" (change)="updateProject(project)" [(ngModel)]="selectedProject.status">
                  <option>
                    Closed
                  </option>
                </select>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div id="procore_test" class="card bg-light w-100">
    <div class="panel-group" *ngFor="let procore_project of procore_projects | orderBy: 'display_name'; let i=index;">
      {{procore_project.display_name}}
    </div>

    </div>
</div>
