<div class="justify-content-start">
  <h2>Job Site Audit</h2>
  <div id="selectproject" *ngIf="!selectedProject">
    <h3>Project list</h3>
    <br />
    <div>
      <button class="btn btn-primary dropdown-toggle" type="button" id="projectmenuselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Project
      </button>
      <div>
        <ul style="height:70vh" class="dropdown-menu" aria-labelledby="projectmenuselect">
          <li *ngFor="let project of projects | orderBy:'name'" (click)="onSelect(project)">
            <p *ngIf="((project.status=='OPEN' && project.jobGroups != '1-Closeouts' && project.jobGroups != '1-On hold' && project.jobGroups.includes('1-')))" (click)="onSelect(project)">
              <!--
                This block of code is a work in progress for filters.
                  ((project.status=='OPEN' && project.jobGroups != '1-Closeouts' && project.jobGroups != '1-On hold' && project.jobGroups.includes('1-')) || (project.status=='Open' && currentUser?.role == 'pm' && project.projectManager == 'Mike Payne' && project.jobGroups != '1-Closeouts' && project.jobGroups.includes('1-')))

                  look at a dynamic filter set from a settings page.  Increase the roles available, potentially giving multiple roles for a user
                  -->
              {{project.name}}
            </p>
          </li>
        </ul>
      </div>

    </div>
    <br />
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="auditselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Completed Audit
        <ul class="dropdown-menu" style="height:55vh" aria-labelledby="auditselect">
          <li *ngFor="let audit of audits | orderBy: 'auditdate'" (click)="auditSelect(audit)">
            {{audit.projectname}}, {{audit.auditdate | date }}
          </li>
        </ul>
      </button>&nbsp; &nbsp;
      <button *ngIf="completedAudit" class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
    </div>

  </div>

  <div class="justify-content-start" id="jobsitereview" *ngIf="selectedProject || completedAudit">
    <div *ngIf="selectedProject">
      <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="panel">
          <button class="btn btn-danger" (click)="reset(projectreview)">Reset</button>
          <button class="btn btn-primary" type="submit" [disabled]="!reviewForm.valid">Submit</button>
        </div>
        <div class="panel justify-content-start">
          <h4>{{selectedProject.name}}</h4><input type="hidden" id="projectName" formControlName="projectName" [(ngModel)]="selectedProject.name" value="" />
          <div><span>Auditor: </span>{{auditor}}</div><input type="text" id="auditor" formControlName="auditor" [(ngModel)]="auditor" />
          <div><span>Project Manager: </span>{{selectedProject.projectManager}}</div><input type="text" id="pm" formControlName="projectManager" [(ngModel)]="selectedProject.projectManager" value="selectedProject.projectManager" />
          <div><span>Project Superintendent: </span>{{selectedProject.superintendentFullName}}</div><input type="text" id="superintendent" formControlName="superintendent" [(ngModel)]="selectedProject.superintendentFullName" value="selectedProject.superintendentFullName" />
          <p></p>
        </div>
        <div class="justify-content-start" id="questions"> <!--style="height:70vh; overflow:scroll"-->
          <div id="general" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Is a P&C sign up and in order?<br />
              <input type="radio" id="q33" formControlName="q33" [(ngModel)]="selectedProject.q33" value="Yes" /> yes
              <input type="radio" id="q33" formControlName="q33" [(ngModel)]="selectedProject.q33" value="No" /> no
              <input type="radio" id="q33" formControlName="q33" [(ngModel)]="selectedProject.q33" value="NA" /> n/a
            </div>
            <div *ngIf="selectedProject.q33=='No'">
              Why not?
              <textarea class="form-control" formControlName="q47" rows="2" id="q47" style="width:100%"></textarea>
            </div>
            <div>
              Are access paths/roads free and clear of debris?<br />
              <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="Yes" /> yes
              <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="No" /> no
              <input type="radio" id="q25" formControlName="q25" [(ngModel)]="selectedProject.q25" value="NA" /> n/a
            </div>
            <div *ngIf="selectedProject.q25=='No'">
              Describe.<br />
              <textarea class="form-control" formControlName="q26" rows="2" id="q26" style="width:100%"></textarea>
            </div>
            <div>
              Is the job site clean?<br />
              <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="Yes" /> yes
              <input type="radio" id="q1" formControlName="q1" [(ngModel)]="selectedProject.q1" value="No" /> no
            </div>
            <div>
              Comments.<br />
              <textarea class="form-control" formControlName="q2" rows="2" id="q2" style="width:100%"></textarea>
            </div>
            <div>
              Are project required postings up and in order?<br />
              <input type="radio" id="q31" formControlName="q31" [(ngModel)]="selectedProject.q31" value="Yes" /> yes
              <input type="radio" id="q31" formControlName="q31" [(ngModel)]="selectedProject.q31" value="No" /> no
              <input type="radio" id="q31" formControlName="q31" [(ngModel)]="selectedProject.q31" value="NA" /> n/a
            </div>
            <div>
              List required postings and any issues.<br />
              <textarea class="form-control" formControlName="q32" rows="2" id="q32" style="width:100%"></textarea>
            </div>
            <div>
              Are there any subcontractor issues?<br />
              <input type="radio" id="q29" formControlName="q29" [(ngModel)]="selectedProject.q29" value="Yes" /> yes
              <input type="radio" id="q29" formControlName="q29" [(ngModel)]="selectedProject.q29" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q29=='Yes'">
              Describe.<br />
              <textarea class="form-control" formControlName="q30" rows="2" id="q30" style="width:100%"></textarea>
            </div>
            <div>
              Is there any rental equipment on site not being used?<br />
              <input type="radio" id="q38" formControlName="q38" [(ngModel)]="selectedProject.q38" value="Yes" /> yes
              <input type="radio" id="q38" formControlName="q38" [(ngModel)]="selectedProject.q38" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q38=='Yes'">
              What equipment is not being used and what is the plan to address?<br />
              <textarea class="form-control" formControlName="q39" rows="2" id="q39" style="width:100%"></textarea>
            </div>
            <div>
              Is there any P&C equipment on site not being used?<br />
              <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedProject.q40" value="Yes" /> yes
              <input type="radio" id="q40" formControlName="q40" [(ngModel)]="selectedProject.q40" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q40=='Yes'">
              What equipment is not being used and what is the plan to address?<br />
              <textarea class="form-control" formControlName="q41" rows="2" id="q41" style="width:100%"></textarea>
            </div>
            <div>
              What are the key project milestones remaining?<br />
              <textarea class="form-control" formControlName="q42" rows="2" id="q42" style="width:100%"></textarea>
            </div>
          </div>
          <div id="schedule" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Does the superintendent have a two week look ahead?<br />
              <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedProject.q8" value="Yes" /> yes
              <input type="radio" id="q8" formControlName="q8" [(ngModel)]="selectedProject.q8" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q8=='No'">
              Why not?
              <textarea class="form-control" formControlName="q48" rows="2" id="q48" style="width:100%"></textarea>
            </div>
            <div>
              Is there an up to date schedule located on the job?<br />
              <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="Yes" (click)="clear_q3()" /> yes
              <input type="radio" id="q3" formControlName="q3" [(ngModel)]="selectedProject.q3" value="No" (click)="clear_q3()" /> no
            </div>
            <div *ngIf="selectedProject.q3=='Yes'">
              Is the job on schedule?<br />
              <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="Yes" /> yes
              <input type="radio" id="q4" formControlName="q4" [(ngModel)]="selectedProject.q4" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q3=='Yes' && selectedProject.q4=='No'">
              Describe the schedule status, indicating what is behind by trade.  Include any reasons known.<br />
              <textarea class="form-control" formControlName="q5" [(ngModel)]="selectedProject.q5" value="" rows="2" id="q5" style="width:100%"></textarea>
            </div>
            <div *ngIf="selectedProject.q3=='Yes' && selectedProject.q4">
              What communication has there been with the superintendent?<br />
              <textarea class="form-control" formControlName="q43" [(ngModel)]="selectedProject.q43" value="" rows="2" id="q19" style="width:100%"></textarea>
            </div>
            <div *ngIf="selectedProject.q3=='Yes' && selectedProject.q4">
              What communication has there been with the owner and subs?<br />
              <textarea class="form-control" formControlName="q19" [(ngModel)]="selectedProject.q19" value="" rows="2" id="q19" style="width:100%"></textarea>
            </div>
            <div *ngIf="selectedProject.q3=='No'">
              Why not?<br />
              <textarea class="form-control" formControlName="q6" [(ngModel)]="selectedProject.q6" value="" rows="2" id="q6" style="width:100%"></textarea>
            </div>
            <div>
              When was your last scheduled sub meeting?  Did it occur as planned?<br />
              <textarea class="form-control" formControlName="q44" [(ngModel)]="selectedProject.q44" value="" rows="2" id="q6" style="width:100%"></textarea>
            </div>
            <div>
              Are there any change orders pending approval?
              <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="Yes" (click)="clear_q20()" /> yes
              <input type="radio" id="q20" formControlName="q20" [(ngModel)]="selectedProject.q20" value="No" (click)="clear_q20()" /> no
            </div>
            <div *ngIf="selectedProject.q20=='Yes'">
              Describe any impacts to job progress.<br />
              <textarea class="form-control" formControlName="q21" [(ngModel)]="selectedProject.q21" value="" rows="2" id="q21" style="width:100%"></textarea>
            </div>
            <div>
              Are there any RFIs holding up progress?
              <input type="radio" id="q36" formControlName="q36" [(ngModel)]="selectedProject.q36" value="Yes" /> yes
              <input type="radio" id="q36" formControlName="q36" [(ngModel)]="selectedProject.q36" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q36=='Yes'">
              Describe.<br />
              <textarea class="form-control" formControlName="q37" [(ngModel)]="selectedProject.q37" value="" rows="2" id="q37" style="width:100%"></textarea>
            </div>
            <div>
              Are required inspections up to date?
              <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="Yes" /> yes
              <input type="radio" id="q22" formControlName="q22" [(ngModel)]="selectedProject.q22" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q22=='No'">
              Describe what remains along with any impacts to job progress.<br />
              <textarea class="form-control" formControlName="q23" [(ngModel)]="selectedProject.q23" value="" rows="2" id="q23" style="width:100%"></textarea>
            </div>
            <div>
              When is the next owner visit?<br />
              <textarea class="form-control" formControlName="q24" [(ngModel)]="selectedProject.q24" value="" rows="2" id="q24" style="width:100%"></textarea>
            </div>
            <div>
              Is the most current set of drawings on site?
              <input type="radio" id="q34" formControlName="q34" [(ngModel)]="selectedProject.q34" value="Yes" /> yes
              <input type="radio" id="q34" formControlName="q34" [(ngModel)]="selectedProject.q34" value="No" /> no
              <input type="radio" id="q34" formControlName="q34" [(ngModel)]="selectedProject.q34" value="NA" /> n/a
            </div>
            <div *ngIf="selectedProject.q34=='No'">
              What is missing/not current and why?<br />
              <textarea class="form-control" formControlName="q35" [(ngModel)]="selectedProject.q35" value="" rows="2" id="q25" style="width:100%"></textarea>
            </div>
          </div>
          <div id="quality" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Is job quality up to P&C standards?<br />
              <input type="radio" id="q7" formControlName="q7" [(ngModel)]="selectedProject.q7" value="Yes" /> yes
              <input type="radio" id="q7" formControlName="q7" [(ngModel)]="selectedProject.q7" value="No" /> no
            </div>
            <div>
              Comments.
              <textarea class="form-control" formControlName="q15" [(ngModel)]="selectedProject.q15" value="" rows="2" id="q15" style="width:100%"></textarea>
            </div>
            <div>
              Status of quality management plan.
              <textarea class="form-control" formControlName="q45" [(ngModel)]="selectedProject.q45" value="" rows="2" id="q45" style="width:100%"></textarea>
            </div>
          </div>
          <div id="safety" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <div>
              Are all jobsite personnel wearing hardhats and safety vests?
              <input type="radio" id="q17" formControlName="q17" [(ngModel)]="selectedProject.q17" value="Yes" /> yes
              <input type="radio" id="q17" formControlName="q17" [(ngModel)]="selectedProject.q17" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q17=='No'">
              Describe issues and corrective action.
              <textarea class="form-control" formControlName="q18" [(ngModel)]="selectedProject.q18" value="" rows="2" id="q18" style="width:100%"></textarea>
            </div>
            <div>
              Is the jobsite safety protocol being followed?
              <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedProject.q27" value="Yes" /> yes
              <input type="radio" id="q27" formControlName="q27" [(ngModel)]="selectedProject.q27" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q27=='No'">
              Describe issues and corrective action.
              <textarea class="form-control" formControlName="q28" [(ngModel)]="selectedProject.q18" value="" rows="2" id="q18" style="width:100%"></textarea>
            </div>
          </div>
          <div id="documentation" class="form-group" style="border:solid; border-width:thin; padding:2px 10px 2px 10px;">
            <!--<div>
              Is tool usage being appropriately documented on the daily log?<br />
              <input type="radio" id="q9" formControlName="q9" [(ngModel)]="selectedProject.q9" value="Yes" /> yes
              <input type="radio" id="q9" formControlName="q9" [(ngModel)]="selectedProject.q9" value="No" /> no
            </div>-->
            <div>
              Are complete daily logs being submitted each day on site?<br />
              <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="Yes" (click)="clear_q10()" /> yes
              <input type="radio" id="q10" formControlName="q10" [(ngModel)]="selectedProject.q10" value="No" (click)="clear_q10()" /> no
            </div>
            <div *ngIf="selectedProject.q10=='Yes'">
              Are daily logs capturing the level of information to both support the daily job communication as well as provide long term supporting documentation of the project?<br />
              <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="Yes" /> yes
              <input type="radio" id="q11" formControlName="q11" [(ngModel)]="selectedProject.q11" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q11=='No' && selectedProject.q10=='Yes'">
              Describe what the superintendent needs to do differently to capture the right information.<br />
              <textarea class="form-control" formControlName="q12" [(ngModel)]="selectedProject.q12" value="" rows="2" id="q12" style="width:100%"></textarea>
            </div>
            <div *ngIf="selectedProject.q12">
              Has this been communicated to the superintendent?
              <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedProject.q46" value="Yes" /> yes
              <input type="radio" id="q46" formControlName="q46" [(ngModel)]="selectedProject.q46" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q10=='No'">
              Why not?<br />
              <textarea class="form-control" formControlName="q13" [(ngModel)]="selectedProject.q13" value="" rows="2" id="q13" style="width:100%"></textarea>
            </div>
            <div>
              Are weekly toolbox talks being performed with all personnel on job (P&C employees, subs and vendors)?<br />
              <input type="radio" id="q14" formControlName="q14" [(ngModel)]="selectedProject.q14" value="Yes" /> yes
              <input type="radio" id="q14" formControlName="q14" [(ngModel)]="selectedProject.q14" value="No" /> no
            </div>
            <div *ngIf="selectedProject.q14=='No'">
              Why not?<br />
              <textarea class="form-control" formControlName="q16" [(ngModel)]="selectedProject.q16" value="" rows="2" id="q16" style="width:100%"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="completedAudit">
      <app-completedsiteaudit [completedAudit]="completedAudit"></app-completedsiteaudit>
    </div>
  </div>

</div>
