<div class="container" id="#accordion">
  <h2>
    Subcontractors &nbsp; &nbsp;
  </h2>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="trademenuselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by division/trade
      </button>
      <br />
    <ul class="dropdown-menu" style="height:55vh" aria-labelledby="trademenuselect">
      <li *ngFor="let trade of trades" (click)="onSelect(trade)">
        {{trade.divnum}} - {{trade.divname}}  {{trade.tradename}}      
      </li>
    </ul>
  </div>
  <div class="table-responsive table-container table-editable">
    <table data-toggle="table" data-pagination="true" data-search="false">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
          <th>Fax</th>
          <th>Email</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody *ngFor="let sub of subs; let id=index">
        <tr *ngIf="sub.trade==selectedTrade.tradename">
          <td>{{sub.company}}</td>
          <td>{{sub.city}}</td>
          <td>{{sub.state}}</td>
          <td>{{sub.MainPhone}}</td>
          <td>{{sub.fax}}</td>
          <td>{{sub.email}}</td>
          <td>{{sub.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
